<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Timaven</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
</head>
<body>
<div layout:fragment="default_div">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 me-0" href="../index.html" th:href="@{/index}"
           sec:authorize="isAnonymous()">
            <img class="rounded mx-auto d-block" src="../../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
                 alt="TiMaven" width="128" height="36">
        </a>
        <a class="navbar-brand col-sm-3 col-md-2 me-0" href="../index.html" th:href="@{/index}"
           sec:authorize="isAuthenticated()">
            <img class="rounded mx-auto d-block" src="../../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
                 alt="TiMaven" width="128" height="36">
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap" sec:authorize="isAnonymous()">
                <a class="nav-link" href="#" th:href="@{/login}">Log in</a>
            </li>
            <li class="nav-item text-nowrap" sec:authorize="isAuthenticated()">
                <a class="nav-link" href=""
                   onclick="logout.logout()">
                    Log out
                </a>
            </li>
        </ul>
    </nav>

    <main role="main">
        <div layout:fragment="content">
            Content
        </div>
    </main>
</div>
<th:block layout:fragment="default_script">
</th:block>
<script type="text/javascript" layout:fragment="default_script">
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
