<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Timaven</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="../../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link href="../../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div th:fragment="header">
    <style type="text/css">
        @import url("https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css");
    </style>
    <link href="../../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet">
    <link href="../../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <link href="../../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
    <script src="../../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
    <script src="../../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand nav-link col-sm-3 col-md-2 me-0" href="../projects-dashboard.html"
           th:href="@{/projects-dashboard}">
            <img class="rounded mx-auto d-block" src="../../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
                 alt="TiMaven" width="128" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin"
                aria-controls="navbarAdmin" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarAdmin">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
                <li class="nav-item">
                    <a class="nav-link" href="../projects-dashboard.html" th:href="@{/projects-dashboard}">
                        <i class="far fa-building"></i>
                        Home (My Projects)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../project-dashboard.html" th:href="@{/project-dashboard}">
                        <i class="fas fa-tachometer-alt"></i>
                        Project Dashboard
                    </a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLaborTime" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-id-badge"></i>
                        <span>Labor/Time</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownLaborTime">
                        <li sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                            <a class="dropdown-item" th:href="@{/employees}" href="../employees.html">
                                <i class="fas fa-users-cog"></i>
                                Employees
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="dropdown-item" href="#div-time-upload" data-bs-toggle="modal">
                                <i class="fas fa-cloud-upload-alt"></i>
                                Import Time Record
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="dropdown-item" href="#div-manual-input" data-bs-toggle="modal">
                                <i class="fas fa-file-signature"></i>
                                Manual Time Entry
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/timesheets}" href="../timesheets.html">
                                <i class="fas fa-tasks"></i>
                                Current Timesheets
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="dropdown-item" href="#div-weekly-process" data-bs-toggle="modal" data-type="empl">
                                <i class="fas fa-tasks"></i>
                                Weekly Timesheet
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                            <a class="dropdown-item" th:href="@{/project-payroll}" href="../project-payroll.html">
                                <i class="fas fa-file-alt"></i>
                                Process Payroll
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="dropdown-item" href="#div-sign-in-sheet" data-bs-toggle="modal">
                                <i class="far fa-clipboard"></i>
                                Print Sign In Sheets
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="dropdown-item" href="#div-timesheet" data-bs-toggle="modal">
                                <i class="far fa-clipboard"></i>
                                Print Timesheets
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEquipment" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-truck-pickup"></i>
                        <span>Equipment</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownEquipment">
                        <th:block sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <!-- TM-301 hide this menu
                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/equipment-list}" href="../equipment-list.html">
                                    <i class="fas fa-truck-pickup"></i>
                                    Co. Owned Equipment Inventory
                                </a>
                            </li>-->
                            <li>
                                <a class="dropdown-item"
                                   th:href="@{/equipment-log}" href="../equipment-list.html">
                                    <i class="fas fa-truck-loading"></i>
                                    Equipment Log
                                </a>
                            </li>
                        </th:block>
                        <li>
                            <a class="dropdown-item" href="#div-weekly-process" data-bs-toggle="modal" data-type="equip"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                                <i class="fas fa-tasks"></i>
                                Weekly Equip Timesheet
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPurchasing" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Purchasing</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownPurchasing">
                        <li>
                            <a class="dropdown-item" href="../purchase-requisitions.html"
                               th:href="@{/purchase-requisitions}">
                                <i class="fas fa-receipt"></i>
                                Purchase Requisitions
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="../purchase-orders.html" th:href="@{/purchase-orders}">
                                <i class="fas fa-shopping-cart"></i>
                                Purchase Orders
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="li-reports" class="nav-item dropdown" style="display: none"
                    sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" data-type="report-labor">
                        <i class="far fa-chart-bar"></i>
                        <span>Reports</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownReports">
                        <li id="li-data-export">
                            <a class="dropdown-item" href="../report-data-export.html" th:href="@{/report-data-export}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Data Export
                            </a>
                        </li>
                        <li id="li-labor-time" style="display: none">
                            <a class="dropdown-item" href="../report-labor-time.html" th:href="@{/report-labor-time}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Labor Time
                            </a>
                        </li>
                        <li id="li-labor-time-summary" style="display: none">
                            <a class="dropdown-item" href="../report-labor-time-summary.html" th:href="@{/report-labor-time-summary}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Labor Time Summary
                            </a>
                        </li>
                        <li id="li-totals" style="display: none">
                            <a class="dropdown-item" href="../report-totals.html" th:href="@{/report-totals}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Cost Reports by totals
                            </a>
                        </li>
                        <li id="li-classification-codes" style="display: none">
                            <a class="dropdown-item" href="../report-classification-codes.html"
                               th:href="@{/report-classification-codes}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Classification codes
                            </a>
                        </li>
                        <li id="li-employees" style="display: none">
                            <a class="dropdown-item" href="../report-employees.html" th:href="@{/report-employees}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Summary of Employee Hours and Billing
                            </a>
                        </li>
                        <li id="li-employee-hours" style="display: none">
                            <a class="dropdown-item" href="../report-employee-hours.html"
                               th:href="@{/report-employee-hours}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Weekly Employee Hours Summary
                            </a>
                        </li>
                        <li id="li-per-diem-expense" style="display: none">
                            <a class="dropdown-item" href="../report-per-diem-expense.html"
                               th:href="@{/report-per-diem-expense}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Weekly Per Diem Expense Summary
                            </a>
                        </li>
                        <!-- TM-367 a new report for Weekly Travel Pay Summary -->
                        <li id="li-travel-pay-summary" style="display: none">
                            <a class="dropdown-item" href="../report-travel-pay-summary.html"
                               th:href="@{/report-travel-pay-summary}">
                                Weekly Travel Pay Summary
                            </a>
                        </li>
                        <li id="li-owned-equipment" style="display: none">
                            <a class="dropdown-item" href="../report-owned-equipment.html"
                               th:href="@{/report-owned-equipment}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Co. Owned Equipment Report
                            </a>
                        </li>
                        <li id="li-third-equipment" style="display: none">
                            <a class="dropdown-item" href="../report-third-equipment.html"
                               th:href="@{/report-third-equipment}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                3rd Equipment Report
                            </a>
                        </li>
                        <li id="li-equipment-billing" style="display: none">
                            <a class="dropdown-item" href="../report-equipment-billing.html"
                               th:href="@{/report-equipment-billing}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Equipment Billing
                            </a>
                        </li>
                        <li id="li-absentee-report" style="display: none">
                            <a class="dropdown-item" href="../report-absentee.html" th:href="@{/report-absentee}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                                Absentee report
                            </a>
                        </li>
                        <li id="li-whoisin-report" style="display: none">
                            <a class="dropdown-item" href="../report-whoisin.html" th:href="@{/report-whoisin}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                                Who is in report
                            </a>
                        </li>
                        <li id="li-ot-report" style="display: none">
                            <a class="dropdown-item" href="../report-ot.html"
                               th:href="@{/report-ot}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                                OT report
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                        <li id="li-rpc-profit-detail-report" style="display: none">
                            <a class="dropdown-item" href="../report-rpc-profit-detail.html"
                               th:href="@{/report-rpc-profit-detail}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                RPC profit detail
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                    </ul>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_timekeeper')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProjectSetup" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-project-diagram"></i>
                        <span>Project Setup</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownProjectSetup">
                        <li sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="dropdown-item"
                               th:href="@{/users}" href="../users.html">
                                <i class="fas fa-users"></i>
                                Company Users
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_timekeeper')">
                            <a class="dropdown-item"
                               th:href="@{/cost-codes}" href="../cost-codes.html">
                                <i class="fas fa-tags"></i>
                                Cost Code management
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="dropdown-item"
                               th:href="@{/rule}" href="../rule.html">
                                <i class="fas fa-sliders-h"></i>
                                Rule
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="dropdown-item"
                               th:href="@{/shifts}" href="../shifts.html">
                                <i class="far fa-calendar-alt"></i>
                                Shifts
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="dropdown-item"
                               th:href="@{/rain-outs}" href="../rain-outs.html">
                                <i class="fas fa-cloud-rain"></i>
                                Rain Out Policies
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="dropdown-item"
                               th:href="@{/per-diem-list}" href="../per-diem-list.html">
                                <i class="fas fa-dollar-sign"></i>
                                Per Diem
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="dropdown-item" th:href="@{/crafts}" href="../craft-list.html">
                                <i class="fas fa-dollar-sign"></i>
                                Labor Rates
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="dropdown-item"
                               th:href="@{/equipment-price-list}" href="../equipment-price-list.html">
                                <i class="fas fa-dollar-sign"></i>
                                Equipment Rates
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProjectTemplate" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-file-archive"></i>
                        <span>Project Template</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarProjectTemplate">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/project-template}" href="../project-template.html">
                                Project Template
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserSetting" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="${T(com.timaven.timekeeping.common.SUtils).getDisplayName()}">Username</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownUserSetting">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/user(username=${#authentication.getPrincipal().getUsername()})}"
                               href="../update-user.html">
                                <i class="fas fa-user-cog"></i>
                                User Setting
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="me-3" sec:authorize="hasAnyRole('ROLE_project_manager')">
                <a class="fas fa-inbox fa-1x custom-nav-link" href="../notifications.html" th:href="@{/notifications}">
                    <span id="sp-manager-comment" class="fa fa-comment hidden" style="display: none"></span>
                    <span id="sp-manager-comment-num" class="num"></span>
                </a>
            </div>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="#" th:href="@{/login}">
                        <i class="fas fa-sign-in-alt"></i>
                        Log in
                    </a>
                </li>
                <li class="nav-item text-nowrap" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href=""
                       onclick="logout.logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="div-time-upload" class="modal fade" sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Upload time record</p>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label>Please select the record type</label>
                        <select id="time-record-type" class="form-select" title="Select a type">
                            <option selected disabled hidden>Select</option>
                            <option value="default_punch_record">Default Punch Record</option>
                            <option value="default_timesheet">Default Timesheet</option>
                            <option value="track_punch_record">Track Punch Record</option>
                            <option value="track_timesheet">Track Timesheet</option>
                            <option value="sign_in_sheet">Sign In Sheet</option>
                        </select>
                    </div>
                    <div id="div-time-record-date" class="mb-3 mt-2 hidden" style="display: none">
                        <label for="sidebar-time-record-datepicker">Date Of Service:</label>
                        <input id="sidebar-time-record-datepicker" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                    <div id="div-time-dz" class="dropzone needsclick dz-clickable container"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-time-dz-submit" type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-manual-input" class="modal fade" sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Manual input</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="sidebar-datepicker">Date of Service:</label>
                        <input id="sidebar-datepicker" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                    <label>Please select a timesheet or define a timesheet name</label>
                    <select name="sidebar-team" class="form-select" style="width: 100%;" title="Select a team">
                    </select>
                    <div class="mb-3 mt-2">
                        <label for="sidebar-datepicker2">Payroll Date:</label>
                        <input id="sidebar-datepicker2" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-manual-input-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-weekly-process" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="sidebar-datepicker3">Week Ending Date:</label>
                        <input id="sidebar-datepicker3" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                    <div class="my-3">
                        <label>Please select the timesheet type</label>
                        <select id="weekly-process-type" class="form-select" title="Select a type">
                            <option value="employee-timesheet" selected>Employee Timesheet</option>
                            <option value="employee-time-left-off">Employee Time Left off</option>
                            <option value="equipment-timesheet">Equipment Timesheet</option>
                            <option value="equipment-time-left-off">Equipment Time Left off</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-weekly-process-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-sign-in-sheet" class="modal fade" sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sign In Sheet</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="signin-sheet-datepicker">Date of Service:</label>
                        <input id="signin-sheet-datepicker" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
<!--                    <label>Please select a team (Optional. Leave it blank to print all teams)</label>-->
<!--                    <select name="signin-sheet-team" class="form-select" title="Select a team">-->
<!--                        <option selected disabled hidden>Select</option>-->
<!--                    </select>-->
                    <label>Please select a sign in sheet (Optional. Leave it blank to print all sheets)</label>
                    <select name="sl-sign-in-sheet" class="form-select" title="Select a sign in sheet">
                        <option selected disabled hidden>Select</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="btn-signin-sheet-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-timesheet" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Timesheet</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="timesheet-datepicker">Date of Service:</label>
                        <input id="timesheet-datepicker" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                    <label>Please select a team (Optional. Leave it blank to print all teams)</label>
                    <select name="timesheet-team" class="form-select" title="Select a team">
                        <option selected disabled hidden>Select</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="btn-timesheet-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let sessionProjectId = [[${sessionProjectId}]];
        let allowedDayOfWeek = [[${allowedDayOfWeek}]];
        let isManager = /*[[${#authorization.expression('hasRole(''ROLE_project_manager'')')}]]*/ false;
        let allowReport = /*[[${#authorization.expression('hasAnyRole(''ROLE_accountant'', ''ROLE_accountant_foreman'', ''ROLE_timekeeper'')')}]]*/ false;

        /*]]>*/
    </script>
    <script>
        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;

        let accountSideBar = function () {
            let manualInputDate;
            let signInDate;
            let timesheetDate;

            function init() {
                if (isManager) {
                    $.ajax({
                        method: 'GET',
                        url: `notification-count`,
                        success: function (data) {
                            let notificationCount = parseInt(data);
                            if (notificationCount > 0) {
                                let spComment = $('#sp-manager-comment');
                                spComment.show();
                                spComment.removeClass('hidden').addClass('visible');
                                let spCommentNum = $('#sp-manager-comment-num');
                                spCommentNum.text(notificationCount);
                            }
                        },
                    });
                }
                $('#div-time-dz').dropzone({
                    url: parserUrl + `/time-records`,
                    autoProcessQueue: false,
                    addRemoveLinks: true,
                    dictDefaultMessage: "Drop new time record",
                    crossDomain: true,
                    init: function () {
                        this.on("sending", function (data, xhr, formData) {
                            let recordType = $('select#time-record-type').val();
                            formData.append("recordType", recordType);
                            formData.append("projectId", sessionProjectId);
                            if (recordType === 'track_timesheet' || recordType === 'sign_in_sheet') {
                                let dateOfService = $('#sidebar-time-record-datepicker').val();
                                formData.append("dateOfService", dateOfService);
                            }
                        });
                    },
                });
                $('button#btn-time-dz-submit').on('click', function () {
                    let recordType = $('select#time-record-type').val();
                    if (recordType) {
                        let dateOfService = $('#sidebar-time-record-datepicker').val();
                        if ((recordType !== 'track_timesheet' && recordType !== 'sign_in_sheet') || dateOfService) {
                            let myDropzone = Dropzone.forElement('#div-time-dz');
                            let file_len = myDropzone.getQueuedFiles().length;
                            if (file_len < 1) {
                                alert("Please drop file first");
                            } else {
                                myDropzone.processQueue();
                            }
                        } else {
                            alert("Please select the date of service first");
                        }
                    } else {
                        alert("Please select the time record type first");
                    }
                });
                $('#sidebar-datepicker').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                });
                let manualInputDateSelect = $('#sidebar-datepicker');
                let manualInputTeamSelect = $('select[name="sidebar-team"]');
                manualInputTeamSelect.select2({});
                manualInputDate = manualInputDateSelect.val();
                manualInputDateSelect.on('change', function (){
                    let selectedDate = $(this).val();
                    if (selectedDate !== manualInputDate) {
                        getTeam(selectedDate, (data) => {
                            // let selectedValue = manualInputDateSelect.val();
                            manualInputTeamSelect.empty();
                            // let selectOptionsStr = '';
                            let newOption = new Option('Customized Timesheet', '0', false, false);
                            manualInputTeamSelect.append(newOption);
                            if (data.length !== 0) {
                                $.each(data, function (index, value) {
                                    // let selected = (value === selectedValue) ? 'selected' : '';
                                    // selectOptionsStr += `<option ${selected} value="${value}">${value}</option>`;
                                    newOption =  new Option(`${value}`, `${index + 1}`, false, false);
                                    manualInputTeamSelect.append(newOption);
                                });
                                // select.append(selectOptionsStr);
                            }
                            manualInputTeamSelect.trigger('change');
                            manualInputTeamSelect.prepend('<option selected=""></option>').select2({
                                placeholder: "Please select or enter a team name",
                                allowClear: true,
                                width: 'resolve', // need to override the changed default
                                tags: true,
                                // tokenSeparators: [",", " "],
                                createTag: function (params) {
                                    return {
                                        id: params.term,
                                        text: params.term,
                                        newOption: true
                                    }
                                },
                                // createSearchChoice: function(term, data) {
                                //     if ($(data).filter(function() {
                                //         return this.text.localeCompare(term) === 0;
                                //     }).length === 0) {
                                //         return {
                                //             id: '0',
                                //             text: term,
                                //             newOption: true
                                //         };
                                //     }
                                // },
                                templateResult: function (data) {
                                    let $result = $("<span></span>");

                                    $result.text(data.text);

                                    if (data.newOption) {
                                        $result.append(" <em>(Click to use this new name)</em>");
                                    }

                                    return $result;
                                },
                            });
                        });
                        manualInputDate = selectedDate;
                    }
                })


                let disableList = [0, 1, 2, 3, 4, 5, 6];
                let index = disableList.indexOf(allowedDayOfWeek);
                disableList.splice(index, 1);
                $('#sidebar-datepicker2').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    disableDaysOfWeek: disableList,
                });
                // Set default date
                $("input#sidebar-datepicker").val(getToday()).trigger('change');
                $('#div-manual-input').on("show.bs.modal", function (e) {
                    getPayrollDate(getToday())
                });
                $('#sidebar-datepicker3').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    disableDaysOfWeek: disableList,
                });
                $('#sidebar-time-record-datepicker').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                });
                let signInDateSelect = $("select[name='sl-sign-in-sheet']");
                // Initialize datepicker
                $('#signin-sheet-datepicker').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    change: function (e) {
                        let selectedDate = e.currentTarget.value;
                        if (selectedDate !== signInDate) {
                            getSignInSheets(selectedDate, signInDateSelect);
                            // getTeam(selectedDate, signInDateSelect);
                            signInDate = selectedDate;
                        }
                    }
                });
                let timesheetDateSelect = $("select[name='timesheet-team']");
                // Initialize datepicker
                $('#timesheet-datepicker').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    change: function (e) {
                        let selectedDate = e.currentTarget.value;
                        if (selectedDate !== timesheetDate) {
                            getTeam(selectedDate, (data) => {
                                let selectedValue = timesheetDateSelect.val();
                                timesheetDateSelect.find("option").remove();
                                let selectOptionsStr = '';
                                if (data.indexOf(selectedValue) === -1) {
                                    selectOptionsStr = '<option selected disabled hidden>Select</option>'
                                }
                                if (data.length !== 0) {
                                    $.each(data, function (index, value) {
                                        let selected = (value === selectedValue) ? 'selected' : '';
                                        selectOptionsStr += `<option ${selected} value="${value}">${value}</option>`;
                                    });
                                    timesheetDateSelect.append(selectOptionsStr);
                                }
                            });
                            timesheetDate = selectedDate;
                        }
                    }
                });

                $("input#signin-sheet-datepicker").val(getToday()).trigger('change');
                $("#btn-signin-sheet-ok").on("click", function () {
                    // let team = $("#div-sign-in-sheet").find("select[name='signin-sheet-team']").first().val();
                    let signInSheet = $("#div-sign-in-sheet").find("select[name='sl-sign-in-sheet']").first().val();
                    let dateOfService = $("input#signin-sheet-datepicker").val();
                    // let teamQuery = team == null ? '' : `&team=${team}`;
                    let signInSheetQuery = signInSheet == null ? '' : `&signInSheet=${signInSheet}`;
                    if (dateOfService) {
                        timavenDocument('GET', 'v1', 'sign-in-sheet', true,
                            'No active employees on this date or all employees are considered day off on this date',
                            `projectId=${sessionProjectId}${signInSheetQuery}&dateOfService=${dateOfService}`)
                    } else {
                        alert("Date of Service are required");
                    }
                });
                $("#btn-timesheet-ok").on("click", function () {
                    let team = $("#div-timesheet").find("select[name='timesheet-team']").first().val();
                    let dateOfService = $("input#timesheet-datepicker").val();
                    let teamQuery = team == null ? '' : `&team=${team}`;
                    if (dateOfService) {
                        timavenDocument('GET', 'v1', 'timesheet', true,
                            'No active employees on selected criteria',
                            `projectId=${sessionProjectId}${teamQuery}&dateOfService=${dateOfService}`)
                    } else {
                        alert("Team and Date of Service are required");
                    }
                });

                $('#div-weekly-process').on("show.bs.modal", function (e) {
                    getLastWeekEndDate($("input#sidebar-datepicker3"));
                    // Reset select options
                    let select = $('select#weekly-process-type');
                    let type = $(e.relatedTarget).data('type');
                    select.children('option').hide();
                    if (type === 'equip') {
                        select.val("equipment-timesheet");
                        select.children('option[value="equipment-timesheet"]').show();
                        select.children('option[value="equipment-time-left-off"]').show();
                    } else if (type === 'empl') {
                        select.val("employee-timesheet");
                        select.children('option[value="employee-timesheet"]').show();
                        select.children('option[value="employee-time-left-off"]').show();
                    }
                });

                $("#btn-manual-input-ok").on("click", function () {
                    let team = $("#div-manual-input").find("select[name='sidebar-team'] option:selected").text();
                    let dedicateTeam = !!parseInt($("#div-manual-input").find("select[name='sidebar-team']").first().val());
                    let dateOfService = $("input#sidebar-datepicker").val();
                    let payrollDate = $("input#sidebar-datepicker2").val();
                    if (dateOfService && team) {
                        window.location = `manual-time?teamName=${team}&isCustomizedTeam=${!dedicateTeam}&dateOfService=${dateOfService}&payrollDate=${payrollDate}`;
                    } else if (dateOfService) {
                        alert("Team is required");
                    } else if (team) {
                        alert("Date of Service are required");
                    } else {
                        alert("Team and Date of Service are required");
                    }
                });
                $("#btn-weekly-process-ok").on("click", function () {
                    let weekEndDate = $("input#sidebar-datepicker3").val();
                    let weeklyProcessType = $('select#weekly-process-type').val();
                    if (weekEndDate && weeklyProcessType) {
                        window.location = `weekly-process?weekEndDate=${weekEndDate}&weeklyProcessType=${weeklyProcessType}`;
                    } else {
                        alert("Both Week Ending Date and Process Type is required");
                    }
                });
                let timeRecordTypeSelect = $('#time-record-type');
                timeRecordTypeSelect.change(function () {
                    let selectedOption = $(this).find(":selected").val();
                    if (selectedOption === 'track_timesheet' || selectedOption === 'sign_in_sheet') {
                        let dateOfServiceDiv = $('#div-time-record-date');
                        dateOfServiceDiv.show();
                        dateOfServiceDiv.removeClass('hidden').addClass('visible');
                        let dateOfServiceInput = $('#sidebar-time-record-datepicker');
                        if (!dateOfServiceInput.val()) {
                            dateOfServiceInput.val(getToday());
                        }
                    } else {
                        let dateOfServiceDiv = $('#div-time-record-date');
                        dateOfServiceDiv.hide();
                        dateOfServiceDiv.removeClass('visible').addClass('hidden');
                    }
                });
                if (allowReport) {
                    updateFeatureDisplay();
                }
            }

            function getTeam(date, callback) {
                $.ajax({
                    url: 'teams',
                    data: {
                        startDate: date,
                    },
                    success: function (data) {
                        callback(data);
                    },
                });
            }

            function getSignInSheets(date, select) {
                $.ajax({
                    url: 'sign-in-sheets',
                    data: {
                        // dateOfService: isoDate,
                        dateOfService: date,
                    },
                    success: function (data) {
                        let selectedValue = select.val();
                        select.find("option").remove();
                        let selectOptionsStr = '';
                        if (data.indexOf(selectedValue) === -1) {
                            selectOptionsStr = '<option selected disabled hidden>Select</option>'
                        }
                        if (data.length !== 0) {
                            $.each(data, function (index, value) {
                                let selected = (value === selectedValue) ? 'selected' : '';
                                selectOptionsStr += `<option ${selected} value="${value}">${value}</option>`;
                            });
                            select.append(selectOptionsStr);
                        }
                    },
                });
            }

            function updateFeatureDisplay() {
                $.ajax({
                    url: 'feature-flags',
                    success: function (data) {
                        let hasAnyReportLi = false;
                        if (data['labor-time-report']) {
                            $('#li-labor-time').show();
                            $('#sidebar-li-labor-time').show();
                            hasAnyReportLi = true;
                        }
                        if (data['totals-report']) {
                            $('#li-totals').show();
                            $('#sidebar-li-totals').show();
                            hasAnyReportLi = true;
                        }
                        if (data['classification-codes-report']) {
                            $('#li-classification-codes').show();
                            $('#sidebar-li-classification-codes').show();
                            hasAnyReportLi = true;
                        }
                        if (data['employees-report']) {
                            $('#li-employees').show();
                            $('#sidebar-li-employees').show();
                            hasAnyReportLi = true;
                        }
                        if (data['employee-hours-report']) {
                            $('#li-employee-hours').show();
                            $('#sidebar-li-employee-hours').show();
                            hasAnyReportLi = true;
                        }
                        if (data['per-diem-expense-report']) {
                            $('#li-per-diem-expense').show();
                            $('#sidebar-li-per-diem-expense').show();
                            hasAnyReportLi = true;
                        }
                        // TM-367 a new report for Weekly Travel Pay Summary
                        if (data['travel-pay-summary-report']) {
                            $('#li-travel-pay-summary').show();
                            $('#sidebar-li-travel-pay-summary').show();
                            hasAnyReportLi = true;
                        }
                        if (data['owned-equipment-report']) {
                            $('#li-owned-equipment').show();
                            $('#sidebar-li-owned-equipment').show();
                            hasAnyReportLi = true;
                        }
                        if (data['third-equipment-report']) {
                            $('#li-third-equipment').show();
                            $('#sidebar-li-third-equipment').show();
                            hasAnyReportLi = true;
                        }
                        if (data['equipment-billing']) {
                            $('#li-equipment-billing').show();
                            $('#sidebar-li-equipment-billing').show();
                            hasAnyReportLi = true;
                        }
                        if (data['absentee']) {
                            $('#li-absentee-report').show();
                            $('#sidebar-li-absentee-report').show();
                            hasAnyReportLi = true;
                        }
                        if (data['whoisin']) {
                            $('#li-whoisin-report').show();
                            $('#sidebar-li-whoisin-report').show();
                            hasAnyReportLi = true;
                        }
                        if (data['ot-report']) {
                            $('#li-ot-report').show();
                            $('#sidebar-li-ot-report').show();
                            hasAnyReportLi = true;
                        }
                        // TM-??? RPC profit detail
                        if (data['third-rpc-profit-detail-report']) {
                            $('#li-rpc-profit-detail-report').show();
                            $('#sidebar-li-rpc-profit-detail-report').show();
                            hasAnyReportLi = true;
                        }
                        if (data['labor-time-summary-report']) {
                            $('#li-labor-time-summary').show();
                            $('#sidebar-li-labor-time-summary').show();
                        }
                        if (hasAnyReportLi) {
                            $('#li-reports').show();
                        }
                    },
                });
            }

            function getPayrollDate(date) {
                $.ajax({
                    url: 'payroll-date',
                    data: {
                        dateOfService: date,
                    },
                    success: function (data) {
                        $("input#sidebar-datepicker2").val(data);
                    },
                });
            }

            function getLastWeekEndDate(input) {
                $.ajax({
                    url: 'last-week-end-date',
                    success: function (data) {
                        $(input).val(data);
                    },
                });
            }

            function getToday() {
                let today = new Date();
                let dd = today.getDate();
                let mm = today.getMonth() + 1; //January is 0!
                let yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }
                today = mm + '/' + dd + '/' + yyyy;
                return today;
            }

            return {
                init: init,
            }
        }();

        $(function () {
            accountSideBar.init();
        });
    </script>
</div>
<div class="container-fluid">
    <div class="row h-100">
        <div th:fragment="sidebar-labor-time">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                            <a class="nav-link" th:href="@{/employees}" href="../employees.html">
                                <i class="fas fa-users-cog"></i>
                                Employees
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="nav-link" href="#div-time-upload" data-bs-toggle="modal">
                                <i class="fas fa-cloud-upload-alt"></i>
                                Import Time Record
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="nav-link" href="#div-manual-input" data-bs-toggle="modal">
                                <i class="fas fa-file-signature"></i>
                                Manual Time Entry
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/timesheets}"
                               href="../timesheets.html">
                                <i class="fas fa-tasks"></i>
                                Current Timesheets
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="nav-link" href="#div-weekly-process" data-bs-toggle="modal" data-type="empl">
                                <i class="fas fa-tasks"></i>
                                Weekly Timesheet
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                            <a class="nav-link"
                               th:href="@{/project-payroll}"
                               href="../project-payroll.html">
                                <i class="fas fa-file-alt"></i>
                                Process Payroll
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="nav-link" href="#div-sign-in-sheet" data-bs-toggle="modal">
                                <i class="far fa-clipboard"></i>
                                Print Sign In Sheets
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                            <a class="nav-link" href="#div-timesheet" data-bs-toggle="modal">
                                <i class="far fa-clipboard"></i>
                                Print Timesheets
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-equipment">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <th:block sec:authorize="hasAnyRole('ROLE_project_manager')">
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link"-->
<!--                                   th:href="@{/equipment-list}" href="../equipment-list.html">-->
<!--                                    <i class="fas fa-truck-pickup"></i>-->
<!--                                    Co. Owned Equipment Inventory-->
<!--                                </a>-->
<!--                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link"
                                   th:href="@{/equipment-log}" href="../equipment-list.html">
                                    <i class="fas fa-truck-loading"></i>
                                    Equipment Log
                                </a>
                            </li>
                        </th:block>
                        <li>
                            <a class="dropdown-item" href="#div-weekly-process" data-bs-toggle="modal" data-type="equip"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                                <i class="fas fa-tasks"></i>
                                Weekly Equip Timesheet
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-project-setup">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="nav-link"
                               th:href="@{/users}" href="../users.html">
                                <i class="fas fa-users"></i>
                                Company Users
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_timekeeper')">
                            <a class="nav-link"
                               th:href="@{/cost-codes}" href="../cost-codes.html">
                                <i class="fas fa-tags"></i>
                                Cost Code management
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="nav-link"
                               th:href="@{/rule}" href="../rule.html">
                                <i class="fas fa-sliders-h"></i>
                                Rule
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="nav-link"
                               th:href="@{/shifts}" href="../shifts.html">
                                <i class="far fa-calendar-alt"></i>
                                Shifts
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="nav-link"
                               th:href="@{/rain-outs}" href="../rain-outs.html">
                                <i class="fas fa-cloud-rain"></i>
                                Rain Out Policies
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="nav-link"
                               th:href="@{/per-diem-list}" href="../per-diem-list.html">
                                <i class="fas fa-dollar-sign"></i>
                                Per Diem
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="nav-link" th:href="@{/crafts}" href="../craft-list.html">
                                <i class="fas fa-dollar-sign"></i>
                                Labor Rates
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_project_manager')">
                            <a class="nav-link"
                               th:href="@{/equipment-price-list}" href="../equipment-price-list.html">
                                <i class="fas fa-dollar-sign"></i>
                                Equipment Rates
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-purchasing">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="../purchase-requisitions.html" th:href="@{/purchase-requisitions}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')">
                                <i class="fas fa-receipt"></i>
                                Purchase Requisitions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../purchase-orders.html" th:href="@{/purchase-orders}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')">
                                <i class="fas fa-shopping-cart"></i>
                                Purchase Orders
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div th:fragment="sidebar-reports">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li id="sidebar-li-data-export">
                            <a class="nav-link" href="../report-data-export.html" th:href="@{/report-data-export}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Data Export
                            </a>
                        </li>
                        <li id="sidebar-li-labor-time" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-labor-time.html" th:href="@{/report-labor-time}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Labor Time
                            </a>
                        </li>
                        <li id="sidebar-li-labor-time-summary" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-labor-time-summary.html" th:href="@{/report-labor-time-summary}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Labor Time Summary
                            </a>
                        </li>
                        <li id="sidebar-li-totals" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-totals.html" th:href="@{/report-totals}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Cost Reports by totals
                            </a>
                        </li>
                        <li id="sidebar-li-classification-codes" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-classification-codes.html"
                               th:href="@{/report-classification-codes}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Classification codes
                            </a>
                        </li>
                        <li id="sidebar-li-employees" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-employees.html" th:href="@{/report-employees}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Summary of Employee Hours and Billing
                            </a>
                        </li>
                        <li id="sidebar-li-employee-hours" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-employee-hours.html" th:href="@{/report-employee-hours}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Weekly Employee Hours Summary
                            </a>
                        </li>
                        <li id="sidebar-li-per-diem-expense" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-per-diem-expense.html"
                               th:href="@{/report-per-diem-expense}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Weekly Per Diem Expense Summary
                            </a>
                        </li>
                        <!-- TM-367 a new report for Weekly Travel Pay Summary -->
                        <li id="sidebar-li-travel-pay-summary" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-travel-pay-summary.html"
                               th:href="@{/report-travel-pay-summary}">
                                Weekly Travel Pay Summary
                            </a>
                        </li>
                        <li id="sidebar-li-owned-equipment" style="display: none">
                            <a class="nav-link" href="../report-owned-equipment.html"
                               th:href="@{/report-owned-equipment}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Co. Owned Equipment Report
                            </a>
                        </li>
                        <li id="sidebar-li-third-equipment" style="display: none">
                            <a class="nav-link" href="../report-third-equipment.html"
                               th:href="@{/report-third-equipment}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                3rd Equipment Report
                            </a>
                        </li>
                        <li id="sidebar-li-equipment-billing" style="display: none">
                            <a class="nav-link" href="../report-equipment-billing.html"
                               th:href="@{/report-equipment-billing}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Equipment Billing
                            </a>
                        </li>
                        <li id="sidebar-li-absentee-report" style="display: none">
                            <a class="nav-link" href="../report-absentee.html" th:href="@{/report-absentee}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Absentee report
                            </a>
                        </li>
                        <li id="sidebar-li-whoisin-report" style="display: none">
                            <a class="nav-link" href="../report-whoisin.html" th:href="@{/report-whoisin}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                Who is in report
                            </a>
                        </li>
                        <li id="sidebar-li-ot-report" style="display: none">
                            <a class="nav-link" href="../report-ot.html"
                               th:href="@{/report-ot}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                                OT report
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                        <li id="sidebar-li-rpc-profit-detail-report" class="nav-item" style="display: none">
                            <a class="nav-link" href="../report-rpc-profit-detail.html"
                               th:href="@{/report-rpc-profit-detail}"
                               sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman')">
                                RPC profit detail
                            </a>
                        </li>
                        <!-- MT-??? RPC profit detail -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
