.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    /*background: rgba(0, 0, 0, 0.15);*/
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

fieldset > label, fieldset > div.card > div.card-header {
    font-weight: 700 !important;
}

.hidden {
    display: none;
    visibility: hidden;
}

.hidden_space {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* bootstrap 4.0 compatible */
.float-right {
    float: right !important;
}

input.zero {
    background: #e9ecef;
    opacity: 1;
}

table > thead > tr > th > .input-group > .form-control {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}