<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Code Detail</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <link href="../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        div.dt-buttons {
            position: relative;
            float: right;
            margin-bottom: 1rem!important;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-cost-code" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-project-setup" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-between my-3 mx-md-4">
                    <div>
                        <h1>Segment: <span th:text="${billingCodeType.codeType}">Invoice</span></h1>
                    </div>
                    <div>
                        <button type="button" class="btn btn-secondary me-md-2" data-bs-toggle="modal"
                                th:if="${#authorization.expression('hasRole(''ROLE_admin'')') or billingCodeType.manageableByProject}"
                                data-bs-target="#import-billing-code">
                            Import
                        </button>
                        <a class="btn btn-warning me-md-2" th:href="@{/code-segments}" href="./code-segments.html">
                            Back
                        </a>
                    </div>
                </div>
                <div class="container-fluid w-100 h-100">
                    <table th:id="|tb-code-detail-${billingCodeType.codeType}|" id="tb-code-detail" class="table table-striped code-detail">
                        <thead>
                        <tr>
                            <th>Code Name</th>
                            <th>Client Alias</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Code Name</td>
                            <td>Client Alias</td>
                            <td>Description</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="import-billing-code" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Upload codes</p>
                </div>
                <div class="modal-body">
                    <div id="div-billing-code-dz" class="dropzone needsclick dz-clickable"></div>
                </div>
                <div class="modal-footer">
                    <button id="billing-code-dz-submit" type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p sec:authorize="hasRole('ROLE_admin')">Do you really want to remove this code?</p>
                    <p sec:authorize="hasRole('ROLE_project_manager')">Do you really want to remove this code alias and description for your project? Please note that it will not affect the corporate code alias and description.</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete" style="direction: ltr"
                          action="#"
                          th:action="@{/billing-code}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript" sec:authorize="hasRole('ROLE_project_manager')">
        let role = 'ROLE_project_manager';
    </script>
    <script th:inline="javascript" sec:authorize="hasRole('ROLE_admin')">
        let role = 'ROLE_admin';
    </script>
    <script th:inline="javascript">

        /*<![CDATA[*/

        let billingCodeType = /*[[${billingCodeType}]]*/ '';

        /*]]>*/
    </script>
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;
        $(function () {
            init();
        });

        function init() {
            let urlPrefix = /*[[@{/billing-code}]]*/ '';

            $('.code-detail thead tr').clone(true).appendTo('.code-detail thead');

            let oTable = $('.code-detail').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "orderCellsTop": true,
                "fixedHeader": true,
                "initComplete": function() {
                    let columns = this.api().init().columns;
                    $('.code-detail thead tr:eq(1) th').each(function (i) {
                        if (!columns[i] || columns[i].searchable !== false) {
                            $(this).html('<input type="text" placeholder="Enter to filter"/>');
                        } else {
                            $(this).html('');
                        }

                        $('input', this).on('keyup change', function () {
                            // datatableElement is null if it's put directly in the ngOnInit
                            if (oTable.column(i).search() !== this.value.trim()) {
                                oTable.column(i).search(this.value.trim()).draw();
                            }
                        });
                    });
                    // Restore state
                    let state = oTable.state.loaded();
                    if (state) {
                        let hasColSearch = false;
                        oTable.columns().eq(0).each(function (colIdx) {
                            let colSearch = state.columns[colIdx].search;

                            if (colSearch.search) {
                                $('input', $(oTable.table().node()).find(`thead tr:eq(1) th:eq(${colIdx})`)).val(colSearch.search);
                                hasColSearch = true;
                            }
                        });

                        if (hasColSearch) {
                            oTable.draw();
                        }
                    }
                },
                "ajax": {
                    "url": `billing-codes?billingCodeTypeId=${billingCodeType.id}`,
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {
                        "data": "codeName",
                        "render": function (data, type, row, meta) {
                            if (role !== 'ROLE_project_manager' || billingCodeType.manageableByProject) {
                                return `<a href="${urlPrefix}?billingCodeId=${row['id']}">${data}</a>`
                            }
                            return data;
                        }
                    },
                    {"data": "clientAlias"},
                    {"data": "description"},
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            if (role === 'ROLE_project_manager') {
                                if (billingCodeType.manageableByProject) {
                                    return `<a href="#deleteModal" data-id="${data}" data-type-id="${billingCodeType.id}" class="btn btn-danger" data-bs-toggle="modal" title="Delete">Delete Alias and Description</a>`;
                                } else {
                                    return '';
                                }
                            } else {
                                return `<a href="#deleteModal" data-id="${data}" data-type-id="${billingCodeType.id}" class="btn btn-danger" data-bs-toggle="modal" title="Delete">Delete</a>`;
                            }
                        },
                        "orderable": false,
                        "searchable": false,
                    },
                ],
                "dom": "<'row'<'col-sm-7'l><'col-sm-2'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": [
                    {
                        text: `<i class="fas fa-plus"></i><span style="margin-left: 5px;">Code</span>`,
                        className: "btn btn-success float-end",
                        action: function (e, dt, node, config) {
                            window.location = `${urlPrefix}?billingCodeTypeId=${billingCodeType.id}`;
                        },
                        init: function (dt, node, config) {
                            if (role === 'ROLE_project_manager') {
                                this.disable();
                            }
                        }
                    }
                ]
            });
            let divBillingCodeDz = $("div#div-billing-code-dz");
            if (divBillingCodeDz.length > 0) {
                divBillingCodeDz.dropzone({
                    url: parserUrl + "/billing-codes",
                    autoProcessQueue: false,
                    addRemoveLinks: true,
                    dictDefaultMessage: "Drop the file here including codes for this segment",
                    crossDomain: true,
                    init: function () {
                        this.on("sending", function (data, xhr, formData) {
                            formData.append("typeId", billingCodeType.id);
                            if (typeof sessionProjectId !== 'undefined') {
                                formData.append("projectId", sessionProjectId);
                            }
                        });
                    },
                });
            }

            let deleteModal =  $('#deleteModal');
            deleteModal.on("show.bs.modal", function (e) {
                // set the username
                let ctx = /*[[@{/}]]*/ '';
                let id = $(e.relatedTarget).data('id');
                let typeId = $(e.relatedTarget).data('type-id');
                $('form#form-delete').attr("action", ctx + `billing-code?id=${id}&typeId=${typeId}`);
            });

            let billingCodeSubmit = $('button#billing-code-dz-submit');
            if (billingCodeSubmit.length > 0) {
                // Set default date
                billingCodeSubmit.on('click', function () {
                    let myDropzone = Dropzone.forElement('div#div-billing-code-dz');
                    let file_len = myDropzone.getQueuedFiles().length;
                    if (file_len < 1) {
                        alert("Please drop file first");
                    } else {
                        myDropzone.processQueue();
                    }
                })
            }
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
