<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Code Segments</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-cost-code" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-project-setup" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3 me-md-4">
                    <a class="btn btn-secondary"
                       th:href="@{/code-segment}" href="./code-segment.html" sec:authorize="hasRole('ROLE_admin')">
                        <i class="fas fa-plus"></i>
                        Segment
                    </a>
                    <a class="btn btn-warning" th:href="@{/cost-codes}"
                       href="./cost-codes.html">
                        Back
                    </a>
                </div>
                <div class="container-fluid w-100 h-100">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            th:each="billingCodeType : ${billingCodeTypes}">
                            <div>
                                <span class="me-2 text-danger" th:if="${billingCodeType.required}">*</span>
                                <span th:text="${billingCodeType.codeType}">Invoice</span>
                            </div>
                            <div>
                                <a class="btn btn-success" href="code-segment.html"
                                   th:href="@{/code-segment(id=${billingCodeType.id})}" title="edit"
                                   sec:authorize="hasRole('ROLE_admin')">
                                    Setting
                                </a>
                                <a class="btn btn-primary" href="code-detail.html"
                                   th:href="@{/code-detail(id=${billingCodeType.id})}" title="edit">
                                    <span sec:authorize="hasRole('ROLE_admin')">Manage Codes</span>
                                    <span sec:authorize="hasRole('ROLE_project_manager')">View Codes</span>
                                </a>
                                <a href="#deleteModal" class="btn btn-danger" data-bs-toggle="modal"
                                   th:attr="data-id=${billingCodeType.id}"
                                   title="Delete" th:unless="${billingCodeType.required}"
                                   sec:authorize="hasRole('ROLE_admin')">
                                    Delete
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this segment? This will also remove all the code association except the cost code.</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete" style="direction: ltr"
                          action="#"
                          th:action="@{/billing-code-type}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $('#deleteModal').on("show.bs.modal", function (e) {
            // set the username
            let ctx = /*[[@{/}]]*/ '';
            let id = $(e.relatedTarget).data('id');
            $('form#form-delete').attr("action", ctx + 'billing-code-type?id=' + id);
        });
    </script>
</th:block>

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
