<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Templates</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <link href="../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant',
     'ROLE_accountant_foreman', 'ROLE_timekeeper')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
    <div th:replace="fragments/foreman::header" sec:authorize="hasRole('ROLE_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-project-template" sec:authorize="hasRole('ROLE_admin')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="container-fluid w-100 h-100 mt-3">
                    <table id="tb-company-documents" class="table table-striped">
                    </table>
                </div>
            </main>
            <div id="div-upload-company-documents" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p>Upload a Document</p>
                        </div>
                        <div class="modal-body">
                            <div id="div-company-documents" class="dropzone needsclick dz-clickable"></div>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-company-documents-submit" type="button" class="btn btn-success">Submit
                            </button>
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="delete-prompt" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header" style="display: block">
                            <div style="display: block; text-align: center">
                                <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                            </div>
                        </div>
                        <div class="modal-body">
                            <p style="text-align: center">Do you really want to remove this file?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                            <button id="submit-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">
                                Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;

        $(function () {
            token.getAccessToken(function (token) {
                $('#tb-company-documents').DataTable({
                    "processing": true,
                    "ajax": {
                        "url": `${parserUrl}/v1/s3-object-summary?isTemplate=${false}`,
                        "dataSrc": '',
                        "beforeSend": function (request) {
                            request.setRequestHeader('Authorization', 'Bearer ' + token);
                        }
                    },
                    "columns": [
                        {"title": 'Document Name', "data": "key",},
                        {
                            "title": 'Document Upload Time',
                            "data": "lastModified",
                            render: function (data, type, row) {
                                return dateFormat(data);
                            }
                        },
                        {
                            "data": '',
                            "render": function (data, type, row, meta) {
                                return `<a class="btn btn-success"  onclick="downloadFile(this)" data-key="${row.key}">Download</a>`
                            },
                            "orderable": false,
                            "searchable": false,
                        },
                        {
                            "data": '',
                            "render": function (data, type, row, meta) {
                                return `<a href="#delete-prompt" class="btn btn-danger" data-bs-toggle="modal" title="Delete" data-key="${row.key}">Delete</a>`
                            },
                            "orderable": false,
                            "searchable": false,
                        },
                    ],
                    "dom": "<'row'<'col-sm-7'l><'col-sm-2'B><'col-sm-3'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "buttons": [
                        {
                            text: `<i class="fas fa-file-upload"></i><span class="ms-3" id="btn-print" data-bs-toggle="modal"
                                data-bs-target="#div-upload-company-documents">Upload Template</span>`
                        }
                    ]
                });
            });

            $('button#btn-company-documents-submit').on('click', function () {
                let myDropzone = Dropzone.forElement('#div-company-documents');
                let file_len = myDropzone.getQueuedFiles().length;
                if (file_len < 1) {
                    alert("Please drop file first");
                } else {
                    myDropzone.processQueue();
                }
            });

            $("div#div-company-documents").dropzone({
                url: `${parserUrl}/v1/company-documents`,
                autoProcessQueue: false,
                addRemoveLinks: true,
                dictDefaultMessage: "Drop a document",
                crossDomain: true,
                reloadIfSuccess: false,
                init: function () {
                    this.on("sending", function (data, xhr, formData) {
                        if (typeof sessionProjectId !== 'undefined') {
                            formData.append("projectId", sessionProjectId);
                        }
                    });
                },
                success: function (nowFile, resultData, config) {
                    $('#div-upload-company-documents').modal('hide');
                    reloadTable();
                    iziToast.success(
                        {
                            message: 'Upload success',
                            position: 'topRight',
                            timeout: 5000,
                        }
                    );
                },
            });

            $('button#submit-ok').on("click", function () {
                let key = $(this).data('key');
                token.getAccessToken(function (token) {
                    $.ajax({
                        type: "Delete",
                        url: `${parserUrl}/v1/company-documents?key=${key}`,
                        headers: {
                            'Authorization': 'Bearer ' + token,
                        },
                        success: function (data) {
                            reloadTable();
                            iziToast.success(
                                {
                                    message: 'delete success',
                                    position: 'topRight',
                                    timeout: 5000,
                                }
                            );
                        }
                    });
                });
            });

            $('#delete-prompt').on("show.bs.modal", function (e) {
                // set the username
                let key = $(e.relatedTarget).data('key');
                $('button#submit-ok').data('key', key);
            });
        });

        function reloadTable() {
            $('#tb-company-documents').DataTable().ajax.reload();
        }

        // download by file name
        function downloadFile(data) {
            let fileName = data.getAttribute("data-key");
            timavenDocument('GET', 'v1', 'download-template', true,
                'Failed to download', `fileName=${fileName}&isTemplate=true`);
        }

        function dateFormat(data) {
            let date = new Date(data);
            let dd = date.getDate();
            let mm = date.getMonth() + 1;
            let yyyy = date.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            date = mm + '/' + dd + '/' + yyyy;
            return date;
        }

    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
