<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Cost Code Management</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_timekeeper')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-cost-code" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-project-setup"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_timekeeper')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4" th:with="readOnly=${#authorization.expression('not hasAnyRole(''ROLE_admin'', ''ROLE_project_manager'')')}">
                <div class="d-grid gap-2 d-md-flex justify-content-md-between my-3 me-md-4">
                    <div class="d-grid gap-2 d-md-flex">
                        <h1 style="display: inline-block">Current Cost Code Structure:</h1>
                        <div class="py-2" sec:authorize="hasRole('ROLE_admin')">
                            <a class="btn btn-secondary ms-3"
                               th:href="@{/cost-code-structure}" href="./cost-code-structure.html">
                                Edit Cost Code Structure
                            </a>
                        </div>
                    </div>
                    <div class="py-2" th:unless="${readOnly}">
                        <a class="btn btn-secondary me-md-2" href="#importModal" data-bs-toggle="modal">
                            Import
                        </a>
                        <!-- TM-253 export cost code -->
                        <a class="btn btn-secondary me-md-2" id="exportCostCode">
                            Export
                        </a>
                        <a class="btn btn-secondary me-md-2"
                           th:href="@{/code-segments}" href="./code-segments.html">
                            <span sec:authorize="hasRole('ROLE_admin')">Manage CC Segments</span>
                            <span sec:authorize="hasRole('ROLE_project_manager')">View CC Segments</span>
                        </a>
                        <a class="btn btn-secondary me-md-2"
                           th:href="@{/tag-types}" href="./tag-types.html"
                           sec:authorize="hasRole('ROLE_project_manager')">
                            Manage Tags
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-nowrap">
                    <div class="card text-dark bg-light ms-2" th:each="billingCodeType : ${sortedTypes}">
                        <div class="card-body">
                            <p class="card-text" th:text="${billingCodeType.codeType}">Cost Type</p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid w-100 h-100 mt-3">
                    <table id="tb-cost-code" class="table table-striped">
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this cost code?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete" style="direction: ltr"
                          action="#"
                          th:action="@{/cost-code}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="importModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Cost Code Import</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label>Please select the parse method</label>
                        <select id="cc-parse-type" class="form-select" title="Select a type">
                            <option selected disabled hidden>Select</option>
                            <option value="dot">Parse cost codes separated by dots. (segment1.segment2.segment3...)
                            </option>
                            <option value="column">Parse cost codes separated by columns. (cc | segment1 | segment 2 |
                                ...)
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="effective-date-datepicker">Effective Date:
                            <input id="effective-date-datepicker" type="text" class="form-control"
                                   placeholder="Please select a date"/>
                        </label>
                    </div>
                    <div id="div-cost-code-dz" class="dropzone needsclick dz-clickable container mt-5"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-cost-code-dz-submit" type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addTagModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Tag</h4>
                </div>
                <div class="modal-body">
                    <label>Please select a tag</label>
                    <select name="select-tag" class="form-select" title="Select a tag">
                        <option selected disabled hidden>Select</option>
                        <option th:each="tag : ${tags}" th:value="${tag}" value="0"
                                th:text="${tag}">ABC
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="btn-add-tag-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript" sec:authorize="hasRole('ROLE_project_manager')">
        let role = 'ROLE_project_manager';
    </script>
    <script th:inline="javascript" sec:authorize="hasRole('ROLE_admin')">
        let role = 'ROLE_admin';
    </script>
    <script th:inline="javascript" sec:authorize="hasRole('ROLE_timekeeper')">
        let role = 'ROLE_timekeeper';
    </script>
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;
        $(function () {
            init();
        });

        let oTable;
        function init() {
            // TM-253 export cost code
            $("#exportCostCode").on('click',function(){
                let projectId = "";
                if(typeof sessionProjectId  != "undefined"){
                    projectId = sessionProjectId;
                }
                timavenDocument('POST', 'v1', 'report-cost-code', true,
                    'No data available at this condition',
                    `projectId=${projectId}`);

            })
            let importModal = $('#importModal');
            if (importModal.length > 0) {
                // Initialize Dropzone
                $("div#div-cost-code-dz").dropzone({
                    url: parserUrl + "/cost-codes",
                    autoProcessQueue: false,
                    addRemoveLinks: true,
                    dictDefaultMessage: "Drop cost codes",
                    crossDomain: true,
                    init: function () {
                        this.on("sending", function (data, xhr, formData) {
                            let strDate = $('input#effective-date-datepicker').val();
                            formData.append("date", strDate);
                            let parseType = $('select#cc-parse-type').val();
                            formData.append("parseType", parseType);
                            if (typeof sessionProjectId !== 'undefined') {
                                formData.append("projectId", sessionProjectId);
                            }
                        });
                    },
                });
                $('#effective-date-datepicker').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                });
                $("input#effective-date-datepicker").val(getToday());
                // Set default date
                $('button#btn-cost-code-dz-submit').on('click', function () {
                    let parseType = $('select#cc-parse-type').val();
                    let strDate = $('input#effective-date-datepicker').val();
                    if (parseType && strDate) {
                        let myDropzone = Dropzone.forElement('#div-cost-code-dz');
                        let file_len = myDropzone.getQueuedFiles().length;
                        if (file_len < 1) {
                            alert("Please drop file first");
                        } else {
                            myDropzone.processQueue();
                        }
                    } else {
                        alert("Parse type and effective date are required")
                    }
                })
            }
            let deleteModal = $('#deleteModal');
            let ctx = /*[[@{/}]]*/ '';
            if (deleteModal.length > 0) {
                deleteModal.on("show.bs.modal", function (e) {
                    // set the username
                    let id = $(e.relatedTarget).data('id');
                    $('form#form-delete').attr("action", ctx + 'cost-code?id=' + id);
                });
            }

            $.ajax({
                url: "cost-code-columns",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    let columnsTitles = Object.keys(data);
                    let columns = [];
                    let manageAssociation;
                    for (let i in columnsTitles) {
                        if (columnsTitles[i] === 'id' && role !== 'ROLE_timekeeper') {
                            columns.push({
                                "title": '',
                                "data": columnsTitles[i],
                                "render": function (data, type, row, meta) {
                                    let id = data;
                                    let projectId = row['projectId']
                                    let disabled = (role === 'ROLE_admin' && projectId !== 0) || (role !== 'ROLE_admin' && projectId === 0);
                                    // Only allow delete your code
                                    if (!disabled) {
                                        return `<span style="color: red" data-bs-toggle="modal"  data-bs-target="#deleteModal" data-id="${id}">` +
                                            `<i class="fas fa-minus-circle"></i>` +
                                            `</span>`;
                                    }
                                    return '';
                                },
                                "orderable": false,
                                "searchable": false,
                            });
                            manageAssociation = {
                                "title": '',
                                "data": columnsTitles[i],
                                "render": function (data, type, row, meta) {
                                    let id = data;
                                    let projectId = row['projectId'];
                                    let disabled = (role === 'ROLE_admin' && projectId !== 0) || (role !== 'ROLE_admin' && projectId === 0);
                                    if (!disabled) {
                                        return `<a class="btn btn-success" href="${ctx}cost-code-association?id=${id}" title="edit" ${disabled ? 'disabled="disabled"' : ''}">Manage Association</a>`
                                    }
                                    return '';
                                },
                                "orderable": false,
                                "searchable": false,
                            };
                        } else if (columnsTitles[i] === 'tags' && role !== 'ROLE_timekeeper') {
                            columns.push({
                                "title": 'Tag',
                                "data": columnsTitles[i],
                                "render": function (data, type, row, meta) {
                                    let projectId = row['projectId'];
                                    let disabled = (role === 'ROLE_admin' && projectId !== 0) || (role !== 'ROLE_admin' && projectId === 0);
                                    let selectOptionsStr = '';
                                    $.each(data, function (index, value) {
                                        let deleteButton = disabled ? '' :
                                            `: <span style="color: red" data-name="remove-tag" data-cost-code="${row['costCode']}" data-tag="${value}">
                                                <i class="fas fa-minus-circle"></i>
                                            </span>`;
                                        selectOptionsStr +=
                                            `
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <span data-name="tag" class="fw-bold">${value}</span>
                                                    </div>
                                                    ${deleteButton}
                                                </li>
                                            `;
                                    });

                                    let button = disabled ? '' :
                                        `<div>
                                            <button type="button" class="btn btn-info btn-sm add-tag"
                                                    data-cost-code="${row['costCode']}"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#addTagModal">
                                                <i class="fas fa-tags"></i>
                                            </button>
                                        </div>`

                                    return `${button}
                                        <div class="mt-2">
                                            <ol data-name="ol-tag" class="list-group list-group-numbered">
                                                ${selectOptionsStr}
                                            </ol>
                                        </div>`
                                },
                                "orderable": false,
                            });
                        // } else if (columnsTitles[i] === 'costCodeSegment' && role !== 'ROLE_timekeeper'){
                        //
                        //     // TM 389 Change cost code page description
                        //     // change the name of the first column to “Code ID”, that is still the same field.
                        //     // Add a column for “Cost Code Distribution”, it will be an auto-generated field for display only.
                        //     // The format will be “00.03.11.035000” or whatever the cost code structure shows.
                        //     // If the cost code structure is Unit.Type.SubType.CC. then it will be 00.03.11.035000.. If that
                        //     // segment did not have a value, use “--” (two hyphen) as a placeholder. 00.--.03.035000
                        //     columns.push({
                        //         "title": 'Cost Code Distribution',
                        //         "data": columnsTitles[i],
                        //         "render": function (data, type, row, meta) {
                        //             let selectOptionsStr = '';
                        //             let num = 1;
                        //             for (let j in columnsTitles) {
                        //                 if (columnsTitles[j].includes("level" + num)) {
                        //                     let param = row["level" + num];
                        //                     if (param == null || param == '' || param.length <= 0){
                        //                         selectOptionsStr += '--'
                        //                     }
                        //                     else {
                        //                         selectOptionsStr += row["level" + num];
                        //                     }
                        //                     selectOptionsStr += '.';
                        //                     num ++;
                        //                 }
                        //             }
                        //             return selectOptionsStr.substring(0,selectOptionsStr.length-1)
                        //         }
                        //     });
                        } else {
                            columns.push({
                                "title": data[columnsTitles[i]],
                                "data": columnsTitles[i],
                            });
                        }
                    }
                    let buttons = [];
                    if (role !== 'ROLE_timekeeper') {
                        columns.push(manageAssociation);
                        buttons = [
                            {
                                text: `<i class="fas fa-plus"></i><span style="margin-left: 5px;">Code</span>`,
                                className: "btn btn-success float-end",
                                action: function (e, dt, node, config) {
                                    window.location = `${ctx}cost-code-association`;
                                },
                                // init: function (dt, node, config) {
                                //     if (role === 'ROLE_project_manager') {
                                //         this.disable();
                                //     }
                                // }
                            }
                        ]
                    }


                    oTable = $('#tb-cost-code').DataTable({
                        "processing": true,
                        "serverSide": true,
                        "stateSave": true,
                        "orderCellsTop": true,
                        "fixedHeader": true,
                        "ajax": {
                            "url": `cost-codes`,
                            "type": "POST",
                            "dataType": "json",
                            "contentType": "application/json",
                            "data": function (d) {
                                return JSON.stringify(d);
                            }
                        },
                        "columns": columns,
                        "initComplete": initComplete,
                        "dom": "<'row'<'col-sm-7'l><'col-sm-2'B><'col-sm-3'f>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        "buttons": [],
                    });
                }
            });
            $('#addTagModal').on("show.bs.modal", function (e) {
                // set the username
                let costCode = $(e.relatedTarget).data('cost-code');
                $('#btn-add-tag-ok').data('cost-code', costCode);
            });
            $("#btn-add-tag-ok").on("click", function () {
                let modal = $("#addTagModal");
                let costCode = $(this).data('cost-code');
                let tag = modal.find("select[name='select-tag']").val();
                if (tag) {
                    $.ajax({
                        type: "POST",
                        url: `cost-code-log-tags?costCode=${costCode}&tag=${tag}`,
                        success: function (data) {
                            reloadTable();
                        },
                    });
                }
            });
            $('#addTagModal select[name="select-tag"]').select2({
                tags: true,
                createTag: function (params) {
                    return {
                        id: params.term,
                        text: params.term,
                        newOption: true
                    }
                },
                templateResult: function (data) {
                    let $result = $("<span></span>");

                    $result.text(data.text);

                    if (data.newOption) {
                        $result.append(" <em>(new)</em>");
                    }

                    return $result;
                }
            });
        }

        let initComplete = function () {
            bindTagEvents();
            let tr = $('#tb-cost-code thead tr').clone(false).appendTo('#tb-cost-code thead');
            let columns = this.api().init().columns;
            $('#tb-cost-code thead tr:eq(1) th').each(function (i) {
                $(this).removeClass('sorting sorting_asc sorting_desc sorting_disabled');
                if (!columns[i] || columns[i].searchable !== false) {
                    $(this).html('<input type="text" placeholder="Enter to filter"/>');
                } else {
                    $(this).html('');
                }

                $('input', this).on('keyup change', function () {
                    // datatableElement is null if it's put directly in the ngOnInit
                    if (oTable.column(i).search() !== this.value.trim()) {
                        oTable.column(i).search(this.value.trim()).draw();
                    }
                });
            });
            // Restore state
            let state = oTable.state.loaded();
            if (state) {
                let hasColSearch = false;
                oTable.columns().eq(0).each(function (colIdx) {
                    let colSearch = state.columns[colIdx].search;

                    if (colSearch.search) {
                        $('input', $(oTable.table().node()).find(`thead tr:eq(1) th:eq(${colIdx})`)).val(colSearch.search);
                        hasColSearch = true;
                    }
                });

                if (hasColSearch) {
                    oTable.draw();
                }
            }
        };

        let bindTagEvents = function () {
            $('span[data-name="remove-tag"]').on('click', function () {
                let costCode = $(this).data('cost-code');
                let tag = $(this).data('tag');
                $.ajax({
                    type: "DELETE",
                    url: `cost-code-log-tags?costCode=${costCode}&tag=${tag}`,
                    success: function (data) {
                        reloadTable();
                    },
                });
            });

        }

        function reloadTable() {
            $('#tb-cost-code').DataTable().ajax.reload(bindTagEvents);
        }

        function getToday() {
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth() + 1; //January is 0!
            let yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            today = mm + '/' + dd + '/' + yyyy;
            return today;
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
