<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Labor Rates</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/datatables.min.css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<th:block layout:fragment="default_style">
    <style>
        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/corporate-accountant::header" sec:authorize="hasRole('ROLE_corporate_accountant')"></div>
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/corporate-accountant::sidebar-corporate-setup"
                 sec:authorize="hasRole('ROLE_corporate_accountant')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-project-setup"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-end my-5">
                    <div class="me-3">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#div-upload-labor">
                            Import
                        </button>
                        <button type="button" class="btn btn-secondary" onclick="exportCraft()">
                            Export
                        </button>
                    </div>
                </div>
                <div class="container-fluid w-100 mt-5">
                    <div class="table-responsive">
                        <table id="tb-price" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Craft Code</th>
                                <th>Description</th>
                                <th>Billable ST</th>
                                <th>Billable OT</th>
                                <th>Billable DT</th>
                                <th>Per Diem Name</th>
                                <th>Per Diem Rule</th>
                                <th>Per Diem Amt</th>
                                <th>Rig Pay</th>
                                <th>Company</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Craft Code</td>
                                <td>Description</td>
                                <td>Billable ST</td>
                                <td>Billable OT</td>
                                <td>Billable DT</td>
                                <td>Per Diem Name</td>
                                <td>Per Diem Rule</td>
                                <td>Per Diem Amt</td>
                                <td>Rig Pay</td>
                                <th>Company</th>
                                <td>Start Date</td>
                                <td>End Date</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
    <div id="div-upload-labor" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Labor Rates</p>
                </div>
                <div class="modal-body">
                    <div id="div-labor-rate-dz" class="dropzone needsclick dz-clickable"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-labor-rate-dz-submit" type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let perDiems = /*[[${perDiems}]]*/ '';

        /*]]>*/
    </script>
    <script th:inline="javascript">
        // TM-233 add rule service
        let rule = /*[[${rule}]]*/ '';
        $(function () {
            let urlPrefix = /*[[@{/craft}]]*/ '';
            $('#tb-price').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "craft-list",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {
                        "data": "code",
                        "render": function (data, type, row, meta) {
                            return `<a href="${urlPrefix}?id=${row['id']}">${data}</a>`
                        }
                    },
                    {"data": "description"},
                    {"data": "billableST"},
                    {"data": "billableOT"},
                    {
                        "data": "billableDT",
                        "visible": !rule?.hideDt,
                        "searchable": !rule?.hideDt
                    },
                    {
                        "data": "perDiemName",
                        "visible": false,
                    },
                    {
                        "data": "perDiemId",
                        "searchable": false,
                        "orderable": false,
                        "render": function (data, type, row, meta) {
                            let selectOptionsStr = '<option selected disabled hidden>Select</option>';
                            $.each(perDiems, function (index, value) {
                                let checked = value['id'] === data ? 'selected="selected"' : '';
                                selectOptionsStr += `<option value="${value['id']}" ${checked}>${value['name']}</option>`;
                            });

                            return `<select data-id="${row['id']}" class="form-select" aria-label="Select per diem rule" onchange="changePerDiem(this)">` +
                                `${selectOptionsStr}` +
                                '</seleclt>';
                        }
                    },
                    {"data": "perDiemAmt"},
                    {"data": "rigPay"},
                    {"data": "company"},
                    {"data": "startDate"},
                    {"data": "endDate"},
                ],
                "dom": "<'row'<'col-sm-7'l><'col-sm-2'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": [
                    {
                        text: `<i class="fas fa-plus"></i><span style="margin-left: 5px;">Add Rate</span>`,
                        className: "btn btn-success float-end ms-3",
                        action: function (e, dt, node, config) {
                            window.location = `${urlPrefix}`;
                        }
                    },
                ]
            });

            $("div#div-labor-rate-dz").dropzone({
                url: parserUrl + "/labor-rates",
                autoProcessQueue: false,
                addRemoveLinks: true,
                crossDomain: true,
                init: function () {
                    this.on("sending", function (data, xhr, formData) {
                        let strDate = $('input#effective-date-datepicker').val();
                        formData.append("date", strDate);
                        if (typeof sessionProjectId !== 'undefined') {
                            formData.append("projectId", sessionProjectId);
                        }
                    });
                },
            });
            // Initialize datepicker
            $('#effective-date-datepicker').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('button#btn-labor-rate-dz-submit').on('click', function () {
                let myDropzone = Dropzone.forElement('#div-labor-rate-dz');
                let file_len = myDropzone.getQueuedFiles().length;
                if (file_len < 1) {
                    alert("Please drop file first");
                } else {
                    myDropzone.processQueue();
                }
            });
        });

        function changePerDiem(input) {
            let craftId = $(input).data('id');
            let perDiemId = $(input).val();
            $.ajax({
                type: "PUT",
                url: `crafts/${craftId}/per-diem-id/${perDiemId}`,
                success: function (callback) {
                    $('#tb-price').DataTable().ajax.reload();
                },
                error: function () {
                }
            });
        }

        // TM-421
        function exportCraft() {
            let projectIdParam = '';
            if (typeof sessionProjectId !== 'undefined') {
                projectIdParam = 'projectId='+sessionProjectId;
            }
            timavenDocument('POST', 'v1', 'labor-rates-export', true,
                'No data available at this condition', projectIdParam,);
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
