<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Craft</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <!-- Bootstrap 4 DatePicker js and css   -->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" th:remove="tag"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript" th:remove="tag"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/corporate-accountant::header" sec:authorize="hasRole('ROLE_corporate_accountant')"></div>
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/corporate-accountant::sidebar-labor-time"
                 sec:authorize="hasRole('ROLE_corporate_accountant')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-labor-time"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form id="form-craft" action="/craft" method="post" th:action="@{/craft}" th:object="${craft}">
                        <input th:if="${craft.id != null}" type="hidden" name="_method" value="put"/>
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                            <input th:field="*{projectId}" type="hidden">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="code">Craft Code:</label>
                            <input class="form-control" id="code" th:field="*{code}" type="text" value="800" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="description">Description:</label>
                            <input class="form-control" id="description" th:field="*{description}" type="text"
                                   value="800" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="billable-st">Billable ST:</label>
                            <input class="form-control" id="billable-st" th:field="*{billableST}" type="number"
                                   step="any" value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="billable-ot">Billable OT:</label>
                            <input class="form-control" id="billable-ot" th:field="*{billableOT}" type="number"
                                   step="any" value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="billable-dt">Billable DT:</label>
                            <input class="form-control" id="billable-dt" th:field="*{billableDT}" type="number"
                                   step="any" value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="per-diem-id">Per Diem Rule:</label>
                            <select id="per-diem-id" class="form-select" th:field="*{perDiemId}">
                                <option value=""></option>
                                <option th:each="perDiem : ${perDiems}"
                                        th:value="${perDiem.id}" th:text="${perDiem.name}"></option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="per-diem">Per Diem:</label>
                            <input class="form-control" id="per-diem" th:field="*{perDiem}" type="number" step="any"
                                   value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="rig-pay">Rig Pay:</label>
                            <input class="form-control" id="rig-pay" th:field="*{rigPay}" type="number" step="any"
                                   value="100"/>
                        </fieldset>

                        <!--TM-90 add company column -->
                        <fieldset class="mb-3">
                            <label for="company">Company:</label>
                            <input class="form-control" id="company" th:field="*{company}" type="text" step="any"
                                   value="100"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="start-date">Start Date:</label>
                            <input class="form-control" id="start-date" th:name="startDate"
                                   th:value="${#temporals.format(craft.startDate, 'MM/dd/yyyy')}"
                                   type="text" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="end-date">End Date:</label>
                            <input class="form-control" id="end-date" th:name="endDate"
                                   th:value="${#temporals.format(craft.endDate, 'MM/dd/yyyy')}"
                                   type="text"/>
                        </fieldset>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2 mb-5">
                            <a href="craft-list.html" th:href="@{/crafts}" class="btn btn-warning">
                                Cancel
                            </a>
                            <button class="btn btn-success" type="submit" form="form-craft">Save</button>
                        </div>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#start-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#end-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
