<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Employees</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/corporate-accountant::header" sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/corporate-accountant::sidebar-labor-time" sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-labor-time"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="container-fluid w-100 h-100 mt-5">
                    <table id="tb-employee-audit" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th:block sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                                <!-- TM-373  Dept. to Dept.(Timesheet) to Timesheet (Department)-->
                                <th>Timesheet (Department)</th>
                                <!-- TM-373  Job# to Dept. Code (Job #)-->
                                <th>Dept. Code (Job #)</th>
                                <!-- TM-373  add Activity Code (Sub Job #) to Activity Code-->
                                <th>Activity Code</th>
                                <th>Is Offsite</th>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
                                <th>Craft</th>
                                <th>Company</th>
                                <th>Badge</th>
                                <th>Supervisor</th>
                                <th>Team</th>
                                <th>Sign In Sheet</th>
                                <th>Has Per Diem</th>
                                <th>Has Rig Pay</th>
                            </th:block>
                            <th>Effected On</th>
                            <th>Hired At</th>
                            <th>Terminate On</th>
                            <th>Rev Type</th>
                            <th>By User</th>
                            <th>Rev Time</th>
                            <th>Reversion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>ID</td>
                            <th:block sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                                <!-- TM-373  Dept. to Dept.(Timesheet) to Timesheet (Department)-->
                                <td>Timesheet (Department)</td>
                                <!-- TM-373  Job# to Dept. Code (Job #)-->
                                <td>Dept. Code (Job #)</td>
                                <!-- TM-373  add Activity Code (Sub Job #) to Activity Code-->
                                <td>Activity Code</td>
                                <td>Is Offsite</td>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
                                <td>Craft</td>
                                <td>Company</td>
                                <td>Badge</td>
                                <td>Supervisor</td>
                                <td>Team</td>
                                <td>Sign In Sheet</td>
                                <td>Has Per Diem</td>
                                <td>Has Rig Pay</td>
                            </th:block>
                            <td>Effected On</td>
                            <td>Hired At</td>
                            <td>Terminate On</td>
                            <td>Rev Type</td>
                            <td>By User</td>
                            <td>Rev Time</td>
                            <td>Reversion</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
        let role = 'ROLE_project';
    </script>
    <script th:inline="javascript" sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
        let role = 'ROLE_corporate';
    </script>
    <script th:inline="javascript">
        $(function () {
            init();
        });

        function init() {

            let columns = [];
            if (role === 'ROLE_project') {
                columns = [
                    {"data": "name", "orderable": false},
                    {"data": "empId", "orderable": false},
                    {"data": "craft", "orderable": false},
                    {"data": "company", "orderable": false},
                    {"data": "badge", "orderable": false},
                    {"data": "crew", "orderable": false},
                    {"data": "team", "orderable": false},
                    {"data": "signInSheet", "orderable": false},
                    {"data": "hasPerDiem", "orderable": false},
                    {"data": "hasRigPay", "orderable": false},
                    {"data": "effectedOn", "orderable": false},
                    {"data": "hiredAt", "orderable": false},
                    {"data": "terminatedAt", "orderable": false},
                    {"data": "revType", "searchable": false, "orderable": false},
                    {"data": "by", "searchable": false, "orderable": false},
                    {"data": "revisionTime", "searchable": false, "orderable": false},
                    {"data": "rev", "searchable": false, "orderable": false},
                ];
            } else {
                columns = [
                    {"data": "name", "orderable": false},
                    {"data": "empId", "orderable": false},
                    {"data": "team", "orderable": false},
                    {"data": "jobNumber", "orderable": false},
                    {"data": "activityCode", "orderable": false},
                    {"data": "isOffsite", "orderable": false},
                    {"data": "effectedOn", "orderable": false},
                    {"data": "hiredAt", "orderable": false},
                    {"data": "terminatedAt", "orderable": false},
                    {"data": "revType", "searchable": false, "orderable": false},
                    {"data": "by", "searchable": false, "orderable": false},
                    {"data": "revisionTime", "searchable": false, "orderable": false},
                    {"data": "rev", "searchable": false, "orderable": false},
                ];
            }

            $('#tb-employee-audit').dataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "employee-audit",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": columns,
            });
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
