<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Employees</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        div.dt-buttons {
            position: relative;
            float: right;
            margin-bottom: 1rem !important;
        }

        .btn-label {
            position: relative;
            left: -12px;
            display: inline-block;
            padding: 6px 12px;
            /*background: rgba(0, 0, 0, 0.15);*/
            border-radius: 3px 0 0 3px;
        }

        .btn-labeled {
            padding-top: 0;
            padding-bottom: 0;
        }

        td {
            white-space: normal;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/corporate-accountant::header" sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/corporate-accountant::sidebar-labor-time"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-labor-time"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between my-5">
                    <div class="ms-3">
                        <a class="btn btn-primary" href="employee-audit.html" th:href="@{/employee-audit}"
                           title="Audit">
                            <i class="fas fa-search me-2"></i>Audit
                        </a>

                    </div>
                    <div class="me-3">
                        <button type="button" class="btn btn-secondary btn-labeled" data-bs-toggle="modal"
                                data-bs-target="#div-duplicate-employees"
                                sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
                            <span class="btn-label"><i class="fas fa-copy"></i></span>
                            Duplicate to
                        </button>
                        <button type="button" class="btn btn-secondary btn-labeled" data-bs-toggle="modal"
                                data-bs-target="#div-upload-employees">
                            <span class="btn-label"><i class="fas fa-users-cog"></i></span>
                            Employee Roster
                        </button>
                        <!-- TM-253 add export employee  -->
                        <button type="button" class="btn btn-secondary btn-labeled" onclick="exportEmployee()">
                            <span class="btn-label"><i class="fas fa-download"></i></span>
                            Employee Export
                        </button>
                    </div>
                </div>
                <div class="container-fluid w-100 h-100">
                    <table id="tb-employee" class="table table-striped caption-top">
                        <caption>
                            <div class="form-check form-switch form-check-inline">
                                <input type="checkbox" class="form-check-input" id="btn-show-all" onchange="reloadTable()">
                                <label class="form-check-label ms-md-2" for="btn-show-all">Show All</label>
                            </div>
                        </caption>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th:block sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                                <!-- TM-373  Dept. to Dept.(Timesheet) to Timesheet (Department)-->
                                <th>Timesheet (Department)</th>
                                <!-- TM-373  Job# to Dept. Code (Job #)-->
                                <th>Dept. Code (Job #)</th>
                                <!-- TM-373  add Activity Code (Sub Job #) to Activity Code-->
                                <th>Activity Code</th>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
                                <th>Craft</th>
                                <th>Per Diem Rule</th>
                                <th>Company</th>
                                <th>Badge</th>
                                <th>Supervisor</th>
                                <th>Team</th>
                                <th>Sign In Sheet</th>
                                <th>Has Per Diem</th>
                                <th>Has Rig Pay</th>
                            </th:block>
                            <th>Tag</th>
                            <th>Effected On</th>
                            <th>Hired At</th>
                            <th>Terminate On</th>
                            <!-- TM-307 -->
                            <th:block sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                                <th>Is Offsite</th>
                            </th:block>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>ID</td>
                            <th:block sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                                <!-- TM-373  Dept. to Dept.(Timesheet) to Timesheet (Department)-->
                                <td>Timesheet (Department)</td>
                                <!-- TM-373  Job# to Dept. Code (Job #)-->
                                <td>Dept. Code (Job #)</td>
                                <!-- TM-373  add Activity Code (Sub Job #) to Activity Code-->
                                <td>Activity Code</td>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
                                <td>Craft</td>
                                <td>Per Diem Rule</td>
                                <td>Company</td>
                                <td>Badge</td>
                                <td>Supervisor</td>
                                <td>Team</td>
                                <td>Sign In Sheet</td>
                                <td>Has Per Diem</td>
                                <td>Has Rig Pay</td>
                            </th:block>
                            <td>Tag</td>
                            <td>Effected On</td>
                            <td>Hired At</td>
                            <td>Terminate On</td>
                            <!-- TM-307 -->
                            <th:block sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                                <td>Is Offsite</td>
                            </th:block>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="div-upload-employees" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Employee Roster</p>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="effective-date-datepicker">Effective Date:
                            <input id="effective-date-datepicker" type="text" class="form-control"
                                   placeholder="Please select a date"/>
                        </label>
                    </div>
                    <div id="div-employees-dz" class="dropzone needsclick dz-clickable"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-employees-dz-submit" type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addTagModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Tag</h4>
                </div>
                <div class="modal-body">
                    <label>Please select a tag</label>
                    <select name="select-tag" class="form-select" title="Select a tag">
                        <option selected disabled hidden>Select</option>
                        <option th:each="tag : ${tags}" th:value="${tag}" value="0"
                                th:text="${tag}">ABC
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="btn-add-tag-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-duplicate-employees" class="modal fade" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Duplicate Employees to projects</h4>
                </div>
                <div class="modal-body">
                    <label>Please select projects</label>
                    <select id="select-projects" name="projects[]" multiple="multiple" class="form-select" title="Select projects"></select>
                </div>
                <div class="modal-footer">
                    <button id="btn-duplicate-employees-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let perDiems = /*[[${perDiems}]]*/ '';

        /*]]>*/
    </script>
    <script th:inline="javascript"
            sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
        let role = 'ROLE_project';
    </script>
    <script th:inline="javascript" sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
        let role = 'ROLE_corporate';
    </script>
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;
        $(function () {
            init();
        });

        function init() {
            // Initialize Dropzone
            $("div#div-employees-dz").dropzone({
                url: parserUrl + "/roster",
                autoProcessQueue: false,
                addRemoveLinks: true,
                crossDomain: true,
                init: function () {
                    this.on("sending", function (data, xhr, formData) {
                        let strDate = $('input#effective-date-datepicker').val();
                        formData.append("date", strDate);
                        if (typeof sessionProjectId !== 'undefined') {
                            formData.append("projectId", sessionProjectId);
                        }
                    });
                },
            });
            // Initialize datepicker
            $('#effective-date-datepicker').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            // Set default date
            $("input#effective-date-datepicker").val(getToday());
            $('button#btn-employees-dz-submit').on('click', function () {
                let strDate = $('input#effective-date-datepicker').val();
                if (strDate) {
                    let myDropzone = Dropzone.forElement('#div-employees-dz');
                    let file_len = myDropzone.getQueuedFiles().length;
                    if (file_len < 1) {
                        alert("Please drop file first");
                    } else {
                        myDropzone.processQueue();
                    }
                } else {
                    alert("Please select effective date first");
                }
            });

            let urlPrefix = /*[[@{/employee}]]*/ '';
            let columns = []
            if (role === 'ROLE_project') {
                columns = [
                    {
                        "data": "name",
                        "render": function (data, type, row, meta) {
                            return `<a href="${urlPrefix}?employeeId=${row['id']}">${data}</a>`
                        }
                    },
                    {"data": "empId"},
                    {"data": "craft"},
                    {
                        "data": "perDiemName",
                        "render": function (data, type, row, meta) {
                            // Default Selected None
                            let selectOptionsStr = '<option value="" selected>None</option>';
                            $.each(perDiems, function (index, value) {
                                let checked =  value['id'] === row['perDiemId'] ? 'selected="selected"' : '';
                                selectOptionsStr += `<option value="${value['id']}" ${checked}>${value['name']}</option>`;
                            });

                            return `<select data-id="${row['id']}" class="form-select" aria-label="Select per diem rule" onchange="changePerDiem(this)">` +
                                `${selectOptionsStr}` +
                                '</seleclt>';
                        }
                    },
                    {"data": "company"},
                    {"data": "badge"},
                    {"data": "crew"},
                    {"data": "team"},
                    {"data": "signInSheet"},
                    {"data": "hasPerDiem"},
                    {"data": "hasRigPay"},
                    {
                        "data": "tags",
                        "orderable": false,
                        "render": function (data, type, row, meta) {
                            let selectOptionsStr = '';
                            $.each(data, function (index, value) {
                                selectOptionsStr +=
                                    `
                                         <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <span data-name="tag" class="fw-bold">${value}</span> :
                                            </div>
                                            <span style="color: red" data-name="remove-tag" data-emp-id="${row['empId']}" data-tag="${value}">
                                                <i class="fas fa-minus-circle"></i>
                                            </span>
                                        </li>
                                `;
                            });

                            return `
                                <div>
                                    <button type="button" class="btn btn-info btn-sm add-tag"
                                            data-emp-id="${row['empId']}"
                                            data-bs-toggle="modal"
                                            data-bs-target="#addTagModal">
                                        <i class="fas fa-tags"></i>
                                    </button>
                                </div>
                                <div class="mt-2">
                                    <ol data-name="ol-tag" class="list-group list-group-numbered">
                                        ${selectOptionsStr}
                                    </ol>
                                </div>
                            `
                        },
                    },
                    {"data": "effectedOn"},
                    {"data": "hiredAt"},
                    {"data": "terminatedAt"},
                ];
            } else {
                columns = [
                    {
                        "data": "name",
                        "render": function (data, type, row, meta) {
                            return `<a href="${urlPrefix}?employeeId=${row['id']}">${data}</a>`
                        }
                    },
                    {"data": "empId"},
                    {"data": "team"},
                    {"data": "jobNumber"},
                    {"data": "activityCode"},
                    {
                        "data": "tags",
                        "orderable": false,
                        "render": function (data, type, row, meta) {
                            let selectOptionsStr = '';
                            $.each(data, function (index, value) {
                                selectOptionsStr +=
                                    `
                                         <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <span data-name="tag" class="fw-bold">${value}</span> :
                                            </div>
                                            <span style="color: red" data-name="remove-tag" data-emp-id="${row['empId']}" data-tag="${value}">
                                                <i class="fas fa-minus-circle"></i>
                                            </span>
                                        </li>
                                `;
                            });

                            return `
                                <div>
                                    <button type="button" class="btn btn-info btn-sm add-tag"
                                            data-emp-id="${row['empId']}"
                                            data-bs-toggle="modal"
                                            data-bs-target="#addTagModal">
                                        <i class="fas fa-tags"></i>
                                    </button>
                                </div>
                                <div class="mt-2">
                                    <ol data-name="ol-tag" class="list-group list-group-numbered">
                                        ${selectOptionsStr}
                                    </ol>
                                </div>
                            `
                        },
                    },
                    {"data": "effectedOn"},
                    {"data": "hiredAt"},
                    {"data": "terminatedAt"},
                    // TM-307
                    {
                        "data": "isOffsite",
                        "render": function(data, type, row, meta){
                            let optionsStr = '';
                            let selected = false;
                            [true, false].forEach(b => {
                                let text = b.toString();
                                text = text.charAt(0).toUpperCase() + text.slice(1);
                                if (b === data) {
                                    selected = true;
                                    optionsStr += `<option value="${b}" selected>${text}</option>`;
                                } else if (b === false && !selected) {
                                    optionsStr += `<option value="false" selected>False</option>`;
                                } else {
                                    optionsStr += `<option value="${b}">${text}</option>`;
                                }
                            });
                            return `<select class="form-select"
                                      data-id="${row.id}" onchange="updateIsOffsite(this)">${optionsStr}</select>`;
                        }
                    }
                ];
            }
            let oTable = $('#tb-employee').DataTable({
                orderCellsTop: true,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "employees",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        d.extra = $('#btn-show-all').prop('checked');
                        return JSON.stringify(d);
                    }
                },
                "columns": columns,
                "initComplete": bindTagEvents,
                "dom": "<'row'<'col-sm-7'l><'col-sm-2'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": [
                    {
                        text: `<i class="fas fa-plus"></i><span style="margin-left: 5px;">Add Employee</span>`,
                        className: "btn btn-success float-end",
                        action: function (e, dt, node, config) {
                            window.location = `${urlPrefix}`;
                        }
                    }
                ]
            });
            // Setup - add a text input to each footer cell
            $('#tb-employee thead tr').clone(false).appendTo('#tb-employee thead');
            $('#tb-employee thead tr:eq(1) th').each(function (i) {
                let title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (oTable.column(i).search() !== this.value) {
                        oTable.column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            // Restore state
            let state = oTable.state.loaded();
            if (state) {
                let hasColSearch = false;
                oTable.columns().eq(0).each(function (colIdx) {
                    let colSearch = state.columns[colIdx].search;

                    if (colSearch.search) {
                        $('input', $(oTable.table().node()).find(`thead tr:eq(1) th:eq(${colIdx})`)).val(colSearch.search);
                        let hasColSearch = true;
                    }
                });

                if (hasColSearch) {
                    oTable.draw();
                }
            }

            $('#addTagModal').on("show.bs.modal", function (e) {
                // set the username
                let empId = $(e.relatedTarget).data('emp-id');
                $('#btn-add-tag-ok').data('emp-id', empId);
            });
            $("#btn-add-tag-ok").on("click", function () {
                let modal = $("#addTagModal");
                let empId = $(this).data('emp-id');
                let tag = modal.find("select[name='select-tag']").val();
                $.ajax({
                    type: "POST",
                    url: `employee-tags?empId=${empId}&tag=${tag}`,
                    success: function (data) {
                        reloadTable();
                    },
                });
            });
            $('#addTagModal select[name="select-tag"]').select2({
                tags: true,
                createTag: function (params) {
                    return {
                        id: params.term,
                        text: params.term,
                        newOption: true
                    }
                },
                templateResult: function (data) {
                    let $result = $("<span></span>");

                    $result.text(data.text);

                    if (data.newOption) {
                        $result.append(" <em>(new)</em>");
                    }

                    return $result;
                }
            });
            let duplicateEmployeeModal = $('#div-duplicate-employees');
            if (duplicateEmployeeModal.length > 0) {
                let selectProjects = $('#select-projects');
                selectProjects.select2({});
                duplicateEmployeeModal.on("show.bs.modal", function(e) {
                    let options = $('#select-projects option');
                    if (options.length === 0) {
                        $.ajax({
                            url: 'my-projects',
                            success: function (data) {
                                let selectProjects = $('#select-projects');
                                selectProjects.find("option").remove();
                                let selectOptionsStr = '';
                                if (data.length !== 0) {
                                    $.each(data, function (index, value) {
                                        selectOptionsStr += `<option value="${value['id']}">${value['jobSubJob']}</option>`;
                                    });
                                    selectProjects.append(selectOptionsStr);
                                }
                                selectProjects.select2({
                                    placeholder: "Please select projects",
                                    allowClear: true,
                                })
                            },
                        });
                    }
                });
                $('#btn-duplicate-employees-ok').on('click', function() {
                    let projectIds = $('#select-projects').val();
                    if (projectIds.length > 0) {
                        $.ajax({
                            type: "POST",
                            url: 'duplicate-roster-to-projects',
                            data: JSON.stringify(projectIds),
                            contentType: "application/json",
                            success: function (data) {
                                iziToast.success({message: 'Operation success!'});
                            },
                        });
                    }
                });
            }
        }

        let bindTagEvents = function () {
            $('span[data-name="remove-tag"]').on('click', function () {
                let empId = $(this).data('emp-id');
                let tag = $(this).data('tag');
                $.ajax({
                    type: "DELETE",
                    url: `employee-tags?empId=${empId}&tag=${tag}`,
                    success: function (data) {
                        reloadTable();
                    },
                });
            });
        };

        function reloadTable() {
            // ajax.reload( callback, resetPaging )
            // resetPaging Reset (default action or true) or hold the current paging position (false)
            $('#tb-employee').DataTable().ajax.reload(bindTagEvents, false);
        }

        function getToday() {
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth() + 1; //January is 0!
            let yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            today = mm + '/' + dd + '/' + yyyy;
            return today;
        }

        function changePerDiem(input) {
            let employeeId = $(input).data('id');
            let perDiemId = $(input).val();
            $.ajax({
                type: "PUT",
                url: `employees/${employeeId}/per-diem-id/${perDiemId}`,
                success: function (callback) {
                    reloadTable();
                },
                error: function () {
                }
            });
        }

        <!-- TM-253 add export employee  -->
        function exportEmployee() {
            let projectIdQuery = (typeof sessionProjectId  == "undefined") ? 'project=' : `projectId=${sessionProjectId}`;
            let showAllQuery = $('#btn-show-all').prop('checked') ? '&showAll=true' : '';
            timavenDocument('POST', 'v1', 'report-employee', true,
                'No data available at this condition',
                `${projectIdQuery}${showAllQuery}`);
        }

        // TM-307
        function updateIsOffsite(select){
            const $select = $(select);
            let employeeId = $select.data('id');
            let isOffsite = $(select).val();
            $.ajax({
                url: `employees/${employeeId}/is-offsite/${isOffsite}`,
                method: 'PUT',
                success: function(){
                    reloadTable();
                    iziToast.success({message: 'Operation success!'});
                }
            });
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
