<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Equipment Price List</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
    <!-- Bootstrap 4 DatePicker js and css   -->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
</head>
<th:block layout:fragment="default_style">

    <style>
        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-project-setup" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="row" style="margin-top: 25px; margin-bottom: 25px">
                    <div style="margin-right: 25px;">
                        <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal"
                                data-bs-target="#div-upload-rates">
                            Upload Equipment Rates
                        </button>
                    </div>
                </div>
                <div class="container-fluid w-100">
                    <div class="table-responsive">
                        <table id="tb-price" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Class</th>
                                <th>Description</th>
                                <th>Hourly Rate</th>
                                <th>Daily Rate</th>
                                <th>Weekly Rate</th>
                                <th>Monthly Rate</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Class</td>
                                <td>Description</td>
                                <td>Hourly Rate</td>
                                <td>Daily Rate</td>
                                <td>Weekly Rate</td>
                                <td>Monthly Rate</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="div-upload-rates" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="div-rates-dz" class="dropzone needsclick dz-clickable"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center text-danger">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to delete this rate. This action is irreversible. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete" style="direction: ltr"
                          action="#"
                          th:action="@{/equipment-price}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;

        $(function () {
            let url = parserUrl + "/equipment-price";
            if (typeof sessionProjectId !== "undefined") {
                url =  url + `?projectId=${sessionProjectId}`;
            }
            $('#div-rates-dz').dropzone({
                url: url,
                addRemoveLinks: true,
                dictDefaultMessage: "Drop equipment rate info",
                crossDomain: true,
            });
            let urlPrefix = /*[[@{/equipment-price}]]*/ '';
            $('#tb-price').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "equipment-price-list",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {
                        "data": "equipmentClass",
                        "render": function (data, type, row, meta) {
                            return '<a href="' + urlPrefix + '?equipmentPriceId=' + data["id"] + '">' + data["class"] + '</a>'
                        }
                    },
                    {"data": "description"},
                    {"data": "hourlyRate"},
                    {"data": "dailyRate"},
                    {"data": "weeklyRate"},
                    {"data": "monthlyRate"},
                    {
                        "data": "id",
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, row, meta) {
                            return `<a href="#deleteModal" class="btn btn-danger" data-bs-toggle="modal" data-id=${data} title="Delete">Delete</a>`
                        }
                    },
                ],
                "dom": "<'row'<'col-sm-7'l><'col-sm-2'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": [
                    {
                        text: `<i class="fas fa-plus"></i><span style="margin-left: 5px;">Add Rate</span>`,
                        className: "btn btn-success float-end",
                        action: function (e, dt, node, config) {
                            window.location = `${urlPrefix}`;
                        }
                    }
                ]
            });
            $('#deleteModal').on("show.bs.modal", function(e) {
                let ctx = /*[[@{/equipment-price}]]*/ '';
                let id = $(e.relatedTarget).data('id');
                $('form#form-delete').attr("action", ctx + '?id=' + id);
            });
        });
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
