<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Equipment Timesheet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"
          th:remove="tag">
    <!-- Custom styles for this template -->
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet" th:remove="tag">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script type="text/javascript" src="webjars/js-cookie/2.2.0/js.cookie.js" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/token.js" th:src="@{/js/token.js}" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/logout.js" th:src="@{/js/logout.js}" th:remove="tag"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
    <script src="../static/js/equipment-timesheet-process.js" th:src="@{/js/equipment-process.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <!--suppress CssUnusedSymbol -->
    <style>
        .table-responsive {
            height: calc(100vh - 60px - 38px - 3rem - 25px);
            overflow: scroll;
            margin-top: 25px;
        }

        .table-bordered > :not(caption) > * > * {
            border-width: 1px 1px;
        }

        thead tr:nth-child(1) th {
            background: white;
            position: sticky;
            top: 0;
            z-index: 11;
        }

        table {
            border-collapse: separate; /* Don't collapse */
            border-spacing: 0;
        }

        .input-group > .form-control {
            min-width: 100px;
        }

        .input-group > .form-control.total {
            min-width: 100px;
        }

        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

        li.custom-text-danger {
            color: red;
        }

        li.custom-text-danger:disabled {
            color: grey;
        }

        .select2-container {
            width: 100% !important;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"></div>
    <main role="main">
        <div class="alert alert-danger mt-2 mx-4" role="alert" th:if="${errorMsg != null}">
            <span th:text="${errorMsg}">Some error message</span>
        </div>
        <div class="d-flex my-4 mx-4">
            <div class="d-grid me-auto gap-2 d-md-flex justify-content-md-start">
                <button id="add-cost-code" type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#costCodeModal">
                    Add a cost code
                </button>
                <button id="copy-cost-codes" type="button" class="btn btn-success">
                    <i class="far fa-copy"></i> Copy cost codes
                </button>
                <button id="clear-cost-codes" type="button" class="btn btn-success">
                    <i class="fas fa-eraser"></i> Clear copied cost codes
                </button>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-warning me-md-2"
                        onclick="window.history.go(-1); return false;">
                    Cancel
                </button>
                <button type="submit" class="btn btn-success" form="form-equipment-process">
                    Save
                </button>
                <button type="button" class="btn btn-success" onclick="approveForm()">
                    Approve
                </button>
            </div>
        </div>
        <div id="div-table">
            <div class="table-responsive px-4" th:fragment="equipment_timesheet">
                <form id="form-equipment-process" action="/equipment-process" th:action="@{/equipment-process}" method="post"
                      style="padding: 0" th:object="${equipmentProcessDto}">
                    <label>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <input type="hidden" th:field="*{type}">
                        <input type="hidden" th:field="*{weekEndDate}">
                    </label>
                    <table class="table table-bordered" id="equipment-table">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <colgroup th:each="day : ${equipmentProcessDto.days}"></colgroup>
                        <thead>
                        <tr class="text-center">
                            <th scope="col" class="searchable">
                                <div>
                                    ID
                                </div>
                            </th>
                            <th scope="col" class="searchable">
                                <div>
                                    Serial Number (VIN)
                                </div>
                            </th>
                            <th scope="col" class="searchable">
                                <div>
                                    Description
                                </div>
                            </th>
                            <th scope="col" class="searchable">
                                <div>
                                    Hourly Type
                                </div>
                            </th><th scope="col" class="searchable">
                                <div>
                                    Ownership Type
                                </div>
                            </th>
                            <th scope="col" class="searchable"><!-- TM-295 add class: searchable -->
                                <div>
                                    COST CODE
                                </div>
                            </th>
                            <!-- TM-295 1.Add div for display short week name; 2.Add div for display total count for each day -->
                            <th scope="colgroup"
                                th:each="day : ${equipmentProcessDto.days}">
                                <div th:text="${#strings.toUpperCase(#temporals.dayOfWeekNameShort(day))}"></div>
                                <div th:text="${#temporals.format(day, 'MM/dd/yyyy')}"></div>
                                <div data-type="total-hour-day" th:attr="data-date=${day}">0</div>
                            </th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="equipmentCostCodeDateDto, equipmentStat: *{equipmentCostCodeDateDtos}">
                            <tr th:each="costCode, stat: ${equipmentCostCodeDateDto.costCodes}"
                                th:attr="data-cost-code=${costCode},data-equipment-index=${equipmentStat.index}"
                                th:name="${equipmentCostCodeDateDto.equipmentId}">
                                <td scope="row" th:if="${stat.index == 0}"
                                    th:rowspan="${equipmentCostCodeDateDto.costCodes.size()}"
                                    data-type="rowspan">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentId}"
                                           data-type="equipment"
                                           th:attr="data-equipment-id=${equipmentCostCodeDateDto.equipmentId}, data-index=${equipmentStat.index}"
                                           type="hidden">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].serialNumber}" type="hidden">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].description}" type="hidden">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].alias}" type="hidden">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].department}" type="hidden">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentClass}" type="hidden">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].empId}" type="hidden">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].hourlyType}" type="hidden">
                                    <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].ownershipType}" type="hidden">
                                    <span th:text="${equipmentCostCodeDateDto.equipmentId}" data-type="content">
                                        Equipment ID
                                    </span>
                                </td>
                                <td th:unless="${stat.index == 0}" style="display: none"
                                    data-type="hidden"></td>
                                <td scope="row" th:if="${stat.index == 0}"
                                    th:rowspan="${equipmentCostCodeDateDto.costCodes.size()}"
                                    data-type="rowspan">
                                    <span th:text="${equipmentCostCodeDateDto.serialNumber}" data-type="content">
                                        Serial Number
                                    </span>
                                </td>
                                <td th:unless="${stat.index == 0}" style="display: none"
                                    data-type="hidden"></td>
                                <td scope="row" th:if="${stat.index == 0}"
                                    th:rowspan="${equipmentCostCodeDateDto.costCodes.size()}"
                                    data-type="rowspan">
                                    <span th:text="${equipmentCostCodeDateDto.description}" data-type="content">
                                        Description
                                    </span>
                                </td>
                                <td th:unless="${stat.index == 0}" style="display: none"
                                    data-type="hidden"></td>
                                <td scope="row" th:if="${stat.index == 0}"
                                    th:rowspan="${equipmentCostCodeDateDto.costCodes.size()}"
                                    data-type="rowspan">
                                    <span th:text="${equipmentCostCodeDateDto.hourlyType}" data-type="content">
                                        Hourly Type
                                    </span>
                                </td>
                                <td th:unless="${stat.index == 0}" style="display: none"
                                    data-type="hidden"></td>
                                <td scope="row" th:if="${stat.index == 0}"
                                    th:rowspan="${equipmentCostCodeDateDto.costCodes.size()}"
                                    data-type="rowspan">
                                    <span th:text="${equipmentCostCodeDateDto.ownershipType}" data-type="content">
                                        Ownership Type
                                    </span>
                                </td>
                                <td th:unless="${stat.index == 0}" style="display: none"
                                    data-type="hidden"></td>
                                <!-- TM-275 user be able to select and remove cost code rather display solely -->
                                <td scope="row">
                                    <div class="input-group">
                                        <select class="form-select"
                                                data-type="cost-code"
                                                th:data-cost-code-index="${stat.index}"
                                                th:data-equipment-id="${equipmentCostCodeDateDto.equipmentId}"
                                                th:data-cost-code="${costCode?:'unknown'}" style="display: inline">
                                            <option value=""></option>
                                            <option th:each="costCodeLog : ${validCostCodeLogSet}"
                                                    th:value="${costCodeLog.costCodeFull}"
                                                    th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|"
                                                    th:selected="${#strings.equals(costCode, costCodeLog.costCodeFull)}">
                                                1234567891 (Description)
                                            </option>
                                            <option value="-----" disabled>--------</option>
                                            <option class="custom-text-danger"
                                                    th:each="costCodeLog : ${otherCostCodeLogSet}"
                                                    th:value="${costCodeLog.costCodeFull}"
                                                    th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|"
                                                    th:selected="${#strings.equals(costCode, costCodeLog.costCodeFull)}">
                                                1234567891 (Description)
                                            </option>
                                        </select>
                                        <button class="btn remove-cost-code-in-equipment" type="button"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                                <th:block th:each="day : ${equipmentProcessDto.days}"
                                          th:with="allocationTimeDto=${equipmentCostCodeDateDto.getAllocationTime(day)}">
                                    <th:block th:if="${allocationTimeDto != null}"
                                              th:with="costCodePercDto=${allocationTimeDto.getCostCodePerc(costCode)}">
                                        <th:block th:if="${stat.index == 0}">
                                            <!-- TM-275 Add attribute data-type and data-date to fllowing input element -->
                                            <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentAllocationTimeMap['__${day}__']?.id}" type="hidden"
                                                   data-type="allocation-time" th:data-date="${day}">
                                            <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentAllocationTimeMap['__${day}__']?.equipmentId}" type="hidden"
                                                   data-type="allocation-time" th:data-date="${day}">
                                            <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentAllocationTimeMap['__${day}__']?.dateOfService}" type="hidden"
                                                   data-type="allocation-time" th:data-date="${day}">
                                            <input th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentAllocationTimeMap['__${day}__']?.payrollDate}" type="hidden"
                                                   data-type="allocation-time" th:data-date="${day}">
                                        </th:block>
                                        <th:block th:if="${costCodePercDto != null}">
                                            <!-- TM-275 add data attribute in the td element and it nested input elements -->
                                            <td data-type="equipment-charge"
                                                th:data-equipment-id="${equipmentCostCodeDateDto.equipmentId}"
                                                th:data-cost-code-index="${stat.index}"
                                                th:data-cost-code="${costCode?:'unknown'}"
                                                th:data-date="${day}">
                                                <input type="hidden"
                                                       data-type="id"
                                                       th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentAllocationTimeMap['__${day}__']?.equipmentCostCodePercMap['__${costCode}__']?.id}">
                                                <input type="hidden"
                                                       data-type="cost-code"
                                                       th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentAllocationTimeMap['__${day}__']?.equipmentCostCodePercMap['__${costCode}__']?.costCodeFull}">
                                                <input type="hidden"
                                                       data-type="total-hour"
                                                       th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentAllocationTimeMap['__${day}__']?.equipmentCostCodePercMap['__${costCode}__']?.totalHour}">
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text">$</span>
                                                    <input class="form-control" type="number" step="any"
                                                           data-type="perc-total"
                                                           th:attr="data-equipment-id=${equipmentCostCodeDateDto.equipmentId}, data-date=${day}"
                                                           th:field="*{equipmentCostCodeDateDtos[__${equipmentStat.index}__].equipmentAllocationTimeMap['__${day}__']?.equipmentCostCodePercMap['__${costCode}__']?.totalCharge}">
                                                </div>
                                            </td>
                                        </th:block>
                                        <th:block th:unless="${costCodePercDto != null}">
                                            <!-- TM-275 add data attribute data-equipment-id, data-cost-code in td element -->
                                            <td class="table-secondary" style="display: none"
                                                th:data-equipment-id="${equipmentCostCodeDateDto.equipmentId}"
                                                th:data-cost-code="${costCode?:'unknown'}"
                                                th:data-date="${day}"
                                                th:style="|display: table-cell; vertical-align; inherit;|"></td>
                                        </th:block>
                                    </th:block>
                                    <th:block th:unless="${allocationTimeDto != null}">
                                        <td class="table-secondary" style="display: none"
                                            th:style="|display: table-cell; vertical-align; inherit;|"></td>
                                    </th:block>
                                </th:block>

                                <!-- TM-275 add attribute data-type to td element -->
                                <td th:if="${stat.index == 0}" th:rowspan="${equipmentCostCodeDateDto.costCodes.size()}"
                                    class="table-secondary"
                                    data-type="rowspan">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text">$</span>
                                        <input class="form-control total" type="number" step="any"
                                               data-type="total-hour"
                                               th:attr="data-equipment-id=${equipmentCostCodeDateDto.equipmentId}"
                                               th:value="${equipmentCostCodeDateDto.getTotalCharge()}"
                                               readonly>
                                    </div>
                                </td>
                                <!-- TM-275 add attribute data-type to td element -->
                                <td th:unless="${stat.index == 0}" style="display: none"
                                    data-type="hidden"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </main>
    <div id="costCodeModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add a new cost code</h4>
                </div>
                <div class="modal-body">
                    <div id="div-date-of-service" class="my-3">
                        <label for="datepicker-dos">Date Of Service: (Must be existed already)</label>
                        <input id="datepicker-dos" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                    <div id="div-team" class="mr-3">
                        <label>Please select an equipment ID</label>
                        <select id="select-equipment-id" class="form-select" title="Select a equipment id">
                            <option selected disabled hidden>Select</option>
                            <option th:each="equipmentId : ${equipmentIds}"
                                    th:value="${equipmentId}"
                                    th:text="${equipmentId}">
                                Equipment Id
                            </option>
                        </select>
                    </div>
                    <div id="div-cost-code-select" class="mt-2">
                        <label>Please select a cost code</label>
                        <select name="costCode" class="form-select w-100" title="Select a cost code">
                            <option value="" selected disabled hidden>Select</option>
                            <option th:each="costCodeLog : ${validCostCodeLogSet}"
                                    th:value="${costCodeLog.costCodeFull}"
                                    th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                1234567891 (Description)
                            </option>
                            <option value="" disabled>──────────</option>
                            <option data-type="other" class="custom-text-danger"
                                    th:each="costCodeLog : ${otherCostCodeLogSet}"
                                    th:value="${costCodeLog.costCodeFull}"
                                    th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                1234567892 (Description)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let equipmentProcessDto = [[${equipmentProcessDto}]]
        let days = [[${equipmentProcessDto.days}]]
        let weekEndDate = [[${weekEndDate}]];

        /*]]>*/
    </script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            $('#datepicker-dos').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('select[name="costCode"]').select2({
                templateResult: function (data, container) {
                    if (data.element) {
                        $(container).addClass($(data.element).attr("class"));
                    }
                    return data.text;
                }
            })
            equipmentProcess.init();
        });

        function approveForm() {
            let urlPrefix = /*[[@{/equipment-process}]]*/ '';
            $('#form-equipment-process').attr('action', `${urlPrefix}?status=approved`).submit();
        }
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
