<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Equipment List</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <link href="../static/css/dropzone.css" th:href="@{/css/dropzone.css}" rel="stylesheet">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
    <!-- Bootstrap 4 DatePicker js and css   -->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
</head>
<th:block layout:fragment="default_style">

    <style>
        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

        span.disable {
            pointer-events: none; !important;
            cursor: default;
            opacity: 0.5;
        }
    </style>

</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-equipment" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-equipment" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="row" style="margin-top: 25px; margin-bottom: 25px">
                    <div style="margin-right: 25px;" th:if="${!isEquipmentLog}">
                        <button type="button" class="btn btn-secondary float-end btn-labeled" data-bs-toggle="modal"
                                data-bs-target="#div-upload-equipment">
                            <span class="btn-label"><i class="fas fa-truck-pickup"></i></span>
                            Upload Equipment
                        </button>
                    </div>
                    <!-- TM-253 add export/import equipment log  -->
                    <div style="margin-right: 25px;" th:if="${isEquipmentLog}">
                        <button type="button" class="btn btn-secondary float-end btn-labeled"
                                onclick="exportEquipmentLog()" style="margin-right: 5px">
                            <span class="btn-label"><i class="fas fa-download"></i></span>
                            Export Equipment Log
                        </button>
                        <button type="button" class="btn btn-secondary float-end btn-labeled" data-bs-toggle="modal"
                                data-bs-target="#div-upload-equipment-log" style="margin-right: 5px">
                            <span class="btn-label"><i class="fas fa-truck-pickup"></i></span>
                            Upload Equipment Log
                        </button>
                    </div>
                </div>
                <div class="container-fluid w-100">
                    <div class="table-responsive">
                        <table id="table-equipment" class="table">
                            <caption style="caption-side: top" sec:authorize="hasRole('ROLE_admin')">
                                <input id="input-show-inactive" type="checkbox" checked="checked"
                                       onclick="toggleEquipment(this);"/>
                                <label class="ms-1">Show inactive</label>
                            </caption>
                            <thead>
                            <tr>
                                <th class="searchable">
                                    <div>Equipment ID</div>
                                </th>
                                <th class="searchable">
                                    <div>
                                        Serial Number (VIN)
                                    </div>
                                </th>
                                <th class="searchable">
                                    <div>
                                        Tags
                                    </div>
                                </th>
                                <th class="searchable">
                                    <div>Description</div>
                                </th>
                                <th class="searchable" th:if="${isEquipmentLog}">
                                    <div>PO</div>
                                </th>
                                <th>
                                    Availability
                                </th>
                                <th>
                                    Number of days available
                                </th>
                                <th class="searchable">
                                    Project assigned
                                </th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="equipmentDto, equipmentStat : ${equipmentDtos}"
                                      th:with="usages=${equipmentDto.equipmentUsages}">
                                <tr th:each="usage, stat : ${equipmentDto.equipmentUsages}"
                                    th:if="${#authorization.expression('hasRole(''ROLE_admin'')') || equipmentDto.equipment.active}"
                                    th:classappend="${equipmentDto.equipment.active ? '' : 'inactive'}"
                                    th:name="${equipmentDto.equipment.equipmentId}"
                                    th:id="|row-${equipmentStat.index}-${stat.index}|" id="row-0">
                                    <td th:if="${stat.index == 0}" th:rowspan="${equipmentDto.equipmentUsages.size()}">
                                        <a href="equipment.html" th:href="@{/equipment(id=${equipmentDto.equipment.id})}">
                                            <span data-type="content" th:text="${equipmentDto.equipment.equipmentId}">
                                                10000
                                            </span>
                                        </a>
                                        <span class="ms-1 text-danger" th:unless="${equipmentDto.equipment.active}">
                                            (inactive)
                                        </span>
                                    </td>
                                    <td th:unless="${stat.index == 0}" style="display: none"></td>
                                    <td th:if="${stat.index == 0}" th:rowspan="${equipmentDto.equipmentUsages.size()}">
                                        <span data-type="content" th:text="${equipmentDto.equipment.serialNumber}">
                                            1000000
                                        </span>
                                    </td>
                                    <td th:unless="${stat.index == 0}" style="display: none"></td>
                                    <td th:if="${stat.index == 0}" th:rowspan="${equipmentDto.equipmentUsages.size()}">
                                        <div>
                                            <button type="button" class="btn btn-info btn-sm add-tag"
                                                    th:attr="data-equipment-id=${equipmentDto.equipment.equipmentId}"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#addTagModal">
                                                <i class="fas fa-tags"></i>
                                            </button>
                                        </div>
                                        <div class="mt-2">
                                            <ol data-name="ol-tag" class="list-group list-group-numbered">
                                                <li th:each="tag : ${equipmentDto.tags}" class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <span data-type="content" data-name="tag" class="fw-bold" th:text="${tag}">ABC</span> :
                                                    </div>
                                                    <span style="color: red" data-name="remove-tag"
                                                          th:attr="data-equipment-id=${equipmentDto.equipment.equipmentId}, data-tag=${tag}">
                                                        <i class="fas fa-minus-circle"></i>
                                                    </span>
                                                </li>

                                            </ol>
                                        </div>
                                    </td>
                                    <td th:unless="${stat.index == 0}" style="display: none"></td>
                                    <td th:if="${stat.index == 0}" th:rowspan="${equipmentDto.equipmentUsages.size()}">
                                        <span data-type="content" th:text="${equipmentDto.equipment.description}">
                                            Lincoln Navigator - 2018 - Robert E Parker
                                        </span>
                                    </td>
                                    <td th:unless="${stat.index == 0}" style="display: none"></td>
                                    <th:block th:if="${isEquipmentLog}">
                                        <td th:if="${stat.index == 0}" th:rowspan="${equipmentDto.equipmentUsages.size()}">
                                        <span data-type="content" th:text="${equipmentDto.equipment.purchaseOrder}">
                                            PO
                                        </span>
                                        </td>
                                        <td th:unless="${stat.index == 0}" style="display: none"></td>
                                    </th:block>
                                    <td th:if="${stat.index == 0}" th:rowspan="${equipmentDto.equipmentUsages.size()}">
                                        <span th:text="${equipmentDto.available ? 'Available' : 'Not available'}">Available</span>
                                    </td>
                                    <td th:unless="${stat.index == 0}" style="display: none"></td>
                                    <td th:if="${stat.index == 0}" th:rowspan="${equipmentDto.equipmentUsages.size()}">
                                        <span th:text="${equipmentDto.availableDays == null ? '*always' : equipmentDto.availableDays}">30</span>
                                    </td>
                                    <td th:unless="${stat.index == 0}" style="display: none"></td>
                                    <td>
                                        <th:block th:if="${usage != null && usage.project != null}">
                                            <span data-type="content" th:text="${usage.project.getJobSubJob()}">Exxon</span>
                                            <span style="color: red" data-bs-toggle="modal" data-bs-target="#delete-usage"
                                                  th:classappend="${sessionProjectId != usage.projectId ? 'disable' : ''}"
                                                  th:attr="data-usage-id=${usage.id}"
                                                  sec:authorize="hasRole('ROLE_project_manager')">
                                            <i class="fas fa-minus-circle"></i>
                                            </span>
                                        </th:block>
                                        <th:block th:unless="${usage != null && usage.project != null}">
                                            <!-- For filter reset purpose -->
                                            <span data-type="content" style="display: none"></span>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:if="${usage.id != null}">
                                            <button class="btn btn-success" type="button" name="startDate" data-bs-toggle="modal"
                                                    data-bs-target="#div-pick-date" sec:authorize="hasRole('ROLE_project_manager')"
                                                    th:disabled="${sessionProjectId != usage.projectId}"
                                                    th:id="|btn-start-${usage.id}|"
                                                    th:attr="data-usage-id=${usage.id}, data-equipment-id=${equipmentDto.equipment.id}"
                                                    th:text="${#temporals.format(usage.startDate, 'MM/dd/yyyy')}">
                                                12/15/2020
                                            </button>
                                            <span sec:authorize="hasRole('ROLE_admin')" th:text="${#temporals.format(usage.startDate, 'MM/dd/yyyy')}">12/15/2020</span>
                                        </th:block>
                                        <th:block th:unless="${usage.id != null}" sec:authorize="hasRole('ROLE_project_manager')">
                                            <button class="btn btn-success" type="button" name="addNew" data-bs-toggle="modal"
                                                    th:attr="data-equipment-id=${equipmentDto.equipment.id}"
                                                    data-bs-target="#div-pick-date">
                                                Start
                                            </button>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:if="${usage.id != null}">
                                            <button class="btn btn-secondary" type="button" name="endDate" data-bs-toggle="modal"
                                                    data-bs-target="#div-pick-date" sec:authorize="hasRole('ROLE_project_manager')"
                                                    th:disabled="${sessionProjectId != usage.projectId}"
                                                    th:id="|btn-end-${usage.id}|"
                                                    th:attr="data-usage-id=${usage.id}, data-equipment-id=${equipmentDto.equipment.id}"
                                                    th:text="${usage.endDate == null ? 'End' : #temporals.format(usage.endDate, 'MM/dd/yyyy')}">
                                                02/22/2021
                                            </button>
                                            <span sec:authorize="hasRole('ROLE_admin')" th:text="${#temporals.format(usage.endDate, 'MM/dd/yyyy')}">02/22/2021</span>
                                        </th:block>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="mt-auto">
                </footer>
                <div class="mb-5">
                    <a class="btn btn-success" href="equipment.html" th:href="@{/equipment}">Add Equipment</a>
                    <button class="btn btn-info ms-2" onclick="exportEquipment()" th:if="${!isEquipmentLog}"
                        sec:authorize="hasRole('ROLE_project_manager')">
                        Export Equipment
                    </button>
                    <button class="btn btn-info ms-2" onclick="exportEquipment()"
                        sec:authorize="hasRole('ROLE_admin')">
                        Export Active Equipment
                    </button>
                    <button class="btn btn-info ms-2" onclick="exportEquipment(true)"
                            sec:authorize="hasRole('ROLE_admin')">
                        Export All Equipment
                    </button>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="div-upload-equipment" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Upload Equipment</p>
                </div>
                <div class="modal-body">
                    <div id="div-equipment-dz" class="dropzone needsclick dz-clickable"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- TM-253 import equipment log -->
    <div id="div-upload-equipment-log" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Upload Equipment Log</p>
                </div>
                <div class="modal-body">
                    <div id="div-equipment-log" class="dropzone needsclick dz-clickable"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-equipment-log-submit" type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-pick-date" class="modal fade" sec:authorize="hasRole('ROLE_project_manager')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Schedule</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-2">
                        <label for="usage-datepicker">Date:</label>
                        <input id="usage-datepicker" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-pick-date-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-usage" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this schedule?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete-usage" style="direction: ltr"
                          action="#"
                          th:action="@{/equipment-usage}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="addTagModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Tag</h4>
                </div>
                <div class="modal-body">
                    <label>Please select a tag</label>
                    <select name="select-tag" class="form-select" title="Select a tag">
                        <option selected disabled hidden>Select</option>
                        <option th:each="tag : ${tags}" th:value="${tag}" value="0"
                                th:text="${tag}">ABC
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="btn-add-tag-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">

        const NO_CONTENT = 204;
        const STATUS_OK = 200;
        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;

        $(function () {
            equipmentList.init();
        });

        let equipmentList = function () {
            function init() {
                let url = parserUrl + "/equipment";
                $('#div-equipment-dz').dropzone({
                    url: url,
                    addRemoveLinks: true,
                    dictDefaultMessage: "Drop equipment info",
                    crossDomain: true,
                });
                let divPickDate = $('#div-pick-date');
                if (divPickDate.length) {
                    // Initialize datepicker
                    $('#usage-datepicker').datepicker({
                        uiLibrary: 'bootstrap4',
                        iconsLibrary: 'fontawesome',
                    });
                    // Set default date
                    $("input#usage-datepicker").val(getToday());
                    divPickDate.on("show.bs.modal", function (e) {
                        let btn = $(e.relatedTarget);
                        let name = btn.attr('name');
                        let btnOk = $('button#btn-pick-date-ok');
                        btnOk.data('type', name);
                        btnOk.data('relatedTargetId', btn.attr('id'));
                        btnOk.data('equipment-id', btn.data('equipment-id'));
                        if ('endDate' === name || 'startDate' === name) {
                            let usageId = btn.data('usage-id');
                            btnOk.data('usage-id', usageId);
                        } else {
                            btnOk.data('usage-id', '');
                        }
                    });
                    $('button#btn-pick-date-ok').on('click', function () {
                        let pickedDate = $('input#usage-datepicker').val();
                        let type = $(this).data('type');
                        let usageId = $(this).data('usage-id');
                        let equipmentId = $(this).data('equipment-id')
                        let data;
                        if (usageId) {
                            data = {
                                equipmentId: equipmentId,
                                date: pickedDate,
                                id: usageId,
                                type: type,
                            }
                        } else {
                            data = {
                                equipmentId: equipmentId,
                                date: pickedDate,
                                type: type,
                            }
                        }
                        let relatedTargetId = $(this).data('relatedTargetId');
                        $.ajax({
                            method: 'POST',
                            url: 'equipment-usage',
                            data: data,
                            success: function (data) {
                                if (data.lastIndexOf("success", 0) === 0) {
                                    if (type === 'startDate' || type === 'endDate') {
                                        let date = new Date(pickedDate);
                                        if (type === 'startDate') {
                                            let today = new Date();
                                            if (date.getTime() <= today.getTime()) {
                                                location.reload();
                                                return;
                                            }
                                        }
                                        let dd = date.getDate();
                                        let mm = date.getMonth() + 1; //January is 0!
                                        let yyyy = date.getFullYear();

                                        if (dd < 10) {
                                            dd = '0' + dd;
                                        }

                                        if (mm < 10) {
                                            mm = '0' + mm;
                                        }
                                        date = mm + '/' + dd + '/' + yyyy;


                                        $('#' + relatedTargetId).text(date);
                                    } else if (type === 'addNew') {
                                        location.reload();
                                    }
                                }
                            }
                        });
                    });
                }
                // TM-253 import equipment log start
                $("div#div-equipment-log").dropzone({
                    url: parserUrl + "/equipment-log",
                    autoProcessQueue: false,
                    addRemoveLinks: true,
                    crossDomain: true,
                    init: function () {
                        this.on("sending", function (data, xhr, formData) {
                            if (typeof sessionProjectId !== 'undefined') {
                                formData.append("projectId", sessionProjectId);
                            }
                        });
                    },
                });
                $('button#btn-equipment-log-submit').on('click', function () {
                    let myDropzone = Dropzone.forElement('#div-equipment-log');
                    let file_len = myDropzone.getQueuedFiles().length;
                    if (file_len < 1) {
                        alert("Please drop file first");
                    } else {
                        myDropzone.processQueue();
                    }
                });
                // TM-253 import equipment log end
                $('#delete-usage').on("show.bs.modal", function(e) {
                    // set the username
                    let ctx = /*[[@{/}]]*/ '';
                    let usageId = $(e.relatedTarget).data('usage-id');
                    $('form#form-delete-usage').attr("action", ctx + 'equipment-usage?id=' + usageId);
                });

                $('#addTagModal').on("show.bs.modal", function (e) {
                    // set the username
                    let equipmentId = $(e.relatedTarget).data('equipment-id');
                    $('#btn-add-tag-ok').data('equipment-id', equipmentId);
                });
                $("#btn-add-tag-ok").on("click", function () {
                    let modal = $("#addTagModal");
                    let equipmentId = $(this).data('equipment-id');
                    let tag = modal.find("select[name='select-tag']").val();
                    $.ajax({
                        type: "POST",
                        url: `equipment-tags?equipmentId=${equipmentId}&tag=${tag}`,
                        success: function (data) {
                            $(`#table-equipment tbody tr[name="${equipmentId}"] ol[data-name="ol-tag"]`)
                                .append(
                                    `
                                   <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <span data-type="content" data-name="tag" class="fw-bold">${tag}</span> :
                                        </div>
                                        <span style="color: red" data-name="remove-tag"
                                              data-equipment-id="${equipmentId}" data-tag="${tag}">
                                            <i class="fas fa-minus-circle"></i>
                                        </span>
                                    </li>
                                    `
                                );
                            addRemoveTagEvent();
                        },
                    });
                });
                $('#addTagModal select[name="select-tag"]').select2({
                    tags: true,
                    createTag: function (params) {
                        return {
                            id: params.term,
                            text: params.term,
                            newOption: true
                        }
                    },
                    templateResult: function (data) {
                        let $result = $("<span></span>");

                        $result.text(data.text);

                        if (data.newOption) {
                            $result.append(" <em>(new)</em>");
                        }

                        return $result;
                    }
                });
                addRemoveTagEvent();
            }

            function addRemoveTagEvent() {
                $('span[data-name="remove-tag"]').unbind().on('click', function () {
                    let equipmentId = $(this).data('equipment-id');
                    let tag = $(this).data('tag');
                    let li = $(this).closest('li');
                    $.ajax({
                        type: "DELETE",
                        url: `equipment-tags?equipmentId=${equipmentId}&tag=${tag}`,
                        success: function (data) {
                            li.remove();
                        },
                    });
                });
            }

            return {
                init: init,
            }
        }();

        function toggleEquipment(input) {
            let inactiveTr = $('tr.inactive')
            if ($(input).is(':checked')) {
                inactiveTr.show();
            } else {
                inactiveTr.hide();
            }
        }

        function getToday() {
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth() + 1; //January is 0!
            let yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            today = mm + '/' + dd + '/' + yyyy;
            return today;
        }

        function exportEquipment(all = false) {
            timavenDocument('POST', 'v1', 'report-equipment', true,
                'No data available at this condition',
                `all=${all}`);
        }

        // TM-253 export equipment log
        function exportEquipmentLog(){
            let projectId = "";
            if(typeof sessionProjectId  != "undefined"){
                projectId = sessionProjectId;
            }
            timavenDocument('POST', 'v1', 'report-equipment-log', true,
                'No data available at this condition',
                `projectId=${projectId}`);
        }
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
