<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>equipment</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-equipment" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-equipment" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form id="form-equipment" action="/equipment" method="post" th:action="@{/equipment}"
                          th:object="${equipment}">
                        <input th:if="${equipment.id != null}" type="hidden" name="_method" value="put"/>
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="equipmentId">Equipment ID:</label>
                            <input class="form-control" id="equipmentId" th:field="*{equipmentId}" type="text"
                                   value="6" required/>
                            <span class="text-danger" th:if="${#fields.hasErrors('equipmentId')}" th:errors="*{equipmentId}"></span>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="serial-number">Serial Number:</label>
                            <input class="form-control" id="serial-number" th:field="*{serialNumber}" type="text" value="Serial Number"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="department">Department:</label>
                            <input class="form-control" id="department" th:field="*{department}" type="text" value="Department"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="description">Description (Optional) :</label>
                            <input class="form-control" id="description" th:field="*{description}" type="text"
                                   value="This a description"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="alias">Alias:</label>
                            <input class="form-control" id="alias" th:field="*{alias}" type="text" value="Alias"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="class">Class:</label>
                            <input class="form-control" id="class" th:field="*{equipmentClass}" type="text"
                                   value="Class" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="equipment-hourly-type">Equipment Hourly Type:</label>
                            <select id="equipment-hourly-type" class="form-select" th:field="*{hourlyType}">
                                <option th:each="typeOpt : ${T(com.timaven.timekeeping.model.enums.EquipmentHourlyType).values()}"
                                        th:value="${typeOpt}" th:text="${typeOpt.displayValue}">Non-Hourly</option>
                            </select>
                            <div id="div-employees" class="mt-2" sec:authorize="hasRole('ROLE_project_manager')">
                                <label for="sl-employee" style="font-size: 20px">Please select the employee to assign to this equipment: </label>
                                <select id="sl-employee" th:field="*{empId}" class="form-select ms-3"
                                        th:unless="${employees == null || employees.size() == 0}">
                                    <option value=""></option>
                                    <option th:each="employee : ${employees}"
                                            th:text="|${employee.lastName}, ${employee.firstName}|"
                                            th:value="${employee.empId}">Employee A</option>
                                </select>
                                <span th:if="${employees == null || employees.size() == 0}">You haven't uploaded your roster. Please upload it first.</span>
                            </div>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="equipment-ownership-type">Equipment Ownership Type:</label>
                            <select id="equipment-ownership-type" class="form-select" th:field="*{ownershipType}">
                                <option th:value="${T(com.timaven.timekeeping.model.enums.EquipmentOwnershipType).values()[0]}">Co. Owned Equipment</option>
                                <option th:value="${T(com.timaven.timekeeping.model.enums.EquipmentOwnershipType).values()[1]}" sec:authorize="hasRole('ROLE_project_manager')">Rental</option>
                            </select>
                            <div id="div-po" class="mt-2" sec:authorize="hasRole('ROLE_project_manager')">
                                <label for="sl-po" style="font-size: 20px">Please select the po to assign to this equipment: </label>
                                <select id="sl-po" th:field="*{purchaseOrder}" class="form-select ms-3"
                                        th:unless="${purchaseOrders == null || purchaseOrders.size() == 0}">
                                    <option th:each="purchaseOrder : ${purchaseOrders}"
                                            th:text="${purchaseOrder}"
                                            th:value="${purchaseOrder}">PO 1</option>
                                </select>
                                <span th:if="${purchaseOrders == null || purchaseOrders.size() == 0}">
                                    There are no valid PO numbers for rental equipment, please add them first.
                                </span>
                            </div>
                        </fieldset>

                        <fieldset class="mb-3" sec:authorize="hasRole('ROLE_admin')">
                            <label for="active">Validity:</label>
                            <select class="form-select" id="active" th:field="*{active}">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </fieldset>

                        <div class="mt-3, me-3" style="float: right">
                            <a href="#" th:href="@{/equipment-list}" class="btn btn-warning" style="margin-right: 25px;">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-success">Save
                            </button>
                        </div>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(document).ready(function () {
            let equipmentHourlyTypeSelect = $('#equipment-hourly-type');
            equipmentHourlyTypeSelect.change(function() {
                equipmentHourlyTypeChange($(this));
            })
            equipmentHourlyTypeChange(equipmentHourlyTypeSelect);
            let equipmentOwnershipTypeSelect = $('#equipment-ownership-type');
            equipmentOwnershipTypeSelect.change(function () {
                equipmentOwnershipTypeChange($(this));
            });
            equipmentOwnershipTypeChange(equipmentOwnershipTypeSelect);
        });

        function equipmentHourlyTypeChange(input) {
            let selectedOption = $(input).find(":selected").val();
            let divEmployees = $('#div-employees');
            if (selectedOption === 'HOURLY') {
                $(divEmployees).show();
                $(divEmployees).removeClass("hidden").addClass("visible")
            } else {
                $(divEmployees).hide();
                $(divEmployees).removeClass("visible").addClass("hidden")
            }
        }

        function equipmentOwnershipTypeChange(input) {
            let selectedOption = $(input).find(":selected").val();
            let divPo = $('#div-po');
            if (selectedOption === 'RENTAL') {
                $(divPo).show();
                $(divPo).removeClass("hidden").addClass("visible")
            } else {
                $(divPo).hide();
                $(divPo).removeClass("visible").addClass("hidden")
            }
        }

    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
