<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" src="webjars/js-cookie/2.2.1/js.cookie.js"
            th:src="@{/webjars/js-cookie/2.2.1/js.cookie.js}"></script>
    <script type="text/javascript" src="../../static/js/token.js" th:src="@{/js/token.js}"></script>
    <script type="text/javascript" src="../static/js/logout.js" th:src="@{/js/logout.js}"></script>
</head>
<body>
<main role="main">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <header class="mb-auto">
                </header>
                <div class="generic-container">
                    <div>
                        <h1 class="text-center"><i class="fas fa-frown fa-3x"></i>Oops! Something went wrong.</h1>
                        <h3 class="text-center">Our Engineers are on it.</h3>
                        <h3 class="text-center" th:text="${errorMsg}">Page not found</h3>
                        <h3 class="text-center" th:text="${cause}">Some causes</h3>
                        <h4 id="date" class="text-center"></h4>
                        <div class="text-center">
                            <a class="btn btn-primary" href="home.html" th:href="@{/home}">
                                <i class="fa fa-home"></i>
                                <span class="ms-2">Go Home</span>
                            </a>
                            <a class="btn btn-primary ms-4" href="#"
                               onclick="logout.logout()">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="ms-2">Log out</span>
                            </a>
                        </div>
                    </div>
                </div>
                <footer class="mt-auto">
                </footer>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let logoutUrl = [[${@environment.getProperty('timaven-client.client.logoutUri')}]];
    /*]]>*/
</script>
<script type="text/javascript">
    (function () {
        let n = new Date();
        let M = n.getMonth() + 1;
        let d = n.getDate();
        let h = n.getHours();
        let m = n.getMinutes();
        document.getElementById("date").innerHTML = 'Error happened at ' + pad(M, 2) + "/" + pad(d, 2) + " " + pad(h, 2) + ":" + pad(m, 2);

        function pad(num, size) {
            let s = num + "";
            while (s.length < size) s = "0" + s;
            return s;
        }
    })();
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
