<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Home</title>
    <link href="../static/images/favicon.png" th:href="@{images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/foreman::header"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/foreman::sidebar"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
                     style="margin-top: 200px;"
                     th:if="${teams == null || teams.size() == 0}">
                    <header class="mb-auto">
                    </header>
                    <div>
                        <h3>
                            There are no timesheet assigned to you. Please contact your supervisor for further assistant.
                        </h3>
                    </div>
                    <footer class="mt-auto">
                    </footer>
                </div>
                <div class="h-100 justify-content-center align-items-center" th:unless="${teams == null || teams.size() == 0}">
                    <div class="row g-3 align-items-center mb-3" style="margin-top: 200px;">
                        <div class="col-md-2">
                            <label class="col-form-label float-end" for="sl-team-name">Timesheet:</label>
                        </div>
                        <div class="col-md-10">
                            <select id="sl-team-name" class="form-select" title="Please select a team name"
                                    onchange="selectTeamName()">
                                <option selected disabled hidden th:unless="${teams.size() > 1}">Select</option>
                                <option th:value="${team}"
                                        th:each="team : ${teams}"
                                        th:text="${team}"
                                        th:if="${teams.size() > 1}">Team B
                                </option>
                                <option selected th:with="cur_ts=${teams.iterator().next()}"
                                        th:value="${cur_ts}"
                                        th:text="${cur_ts}"
                                        th:if="${teams.size() == 1}">Team A
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 text-center" style="margin-top: 20px;">
                        <a id="report" class="btn btn-lg btn-default btn-primary" href="./report.html"
                           th:href="@{/report}">
                            Report time by percentage
                        </a>
                    </div>
                    <div class="mb-3 text-center" style="margin-top: 20px;">
                        <a id="time-manage" class="btn btn-lg btn-default btn-primary" href="./timesheets.html"
                           th:href="@{/timesheets}">Time Manage</a>
                    </div>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<div class="container h-100" layout:fragment="content">
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript">
        $('#report, #time-manage').click(function (event) {
            event.preventDefault();
            let selectedTeam = $('#sl-team-name');
            let teamName = selectedTeam.val();
            if (teamName) {
                window.location.href = $(this).attr('href') + "?teamName=" + teamName;
            } else {
                alert("Please select a team name");
                selectedTeam.addClass('is-invalid');
            }
        });

        function selectTeamName() {
            $('#sl-team-name').removeClass('is-invalid');
        }

    </script>
</th:block>

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
