<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Time Assignment</title>
    <meta charset="utf-8" th:remove="tag">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" th:remove="tag">
    <meta name="description" content="" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"
          th:remove="tag">
    <!-- Custom styles for this template -->
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script type="text/javascript" src="webjars/js-cookie/2.2.1/js.cookie.js" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/token.js" th:src="@{/js/token.js}" th:remove="tag"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
    <script src="../static/js/time-assignment.js" th:src="@{/js/time-assignment.js}"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"></div>
    <main role="main">
        <div class="d-flex justify-content-between" style="margin-top: 25px;">
            <h1 class="ms-4" style="display: inline;"
                th:text="|${teamName} (${#temporals.format(dateOfService, 'MM-dd-yyyy')})|">Team A (01/24/2019)</h1>
            <div class="d-grid gap-3 d-md-flex justify-content-md-end me-4 py-3">
                <button type="button" class="btn btn-success me-md-2" onclick="saveTimeAssignment()">
                    Save
                </button>
                <a class="btn btn-warning" href="timesheets.html" th:href="@{/timesheets}">Cancel</a>
            </div>
        </div>

        <div class="row m-4" th:if="${isCustomizedTeam}">
            <div class="col-4">
                <label for="sl-employee" style="font-size: 20px">Add an employee</label>
                <select id="sl-employee" class="form-select" th:unless="${employees == null || employees.size() == 0}">
                    <option selected disabled hidden>Select</option>
                    <option th:each="employee : ${employees}"
                            th:text="|${employee.lastName}, ${employee.firstName}|"
                            th:value="${employee.empId}">Employee A</option>
                </select>
                <span th:if="${employees == null || employees.size() == 0}">You haven't uploaded your roster. Please upload it first.</span>
            </div>
        </div>

        <div class="container div-grid-view" style="max-width: 100%;">
            <form id="form-assign" style="padding: 0">
                <label>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </label>
                <table id="tb-manual-time" class="table table-striped table-bordered grid-view w-100">
                    <thead>
                    <tr>
                        <th class="searchable">
                            <div>Name</div>
                        </th>
                        <th class="searchable">
                            <div>Craft Code</div>
                        </th>
                        <th class="searchable">
                            <div>
                                Supervisor
                            </div>
                        </th>
                        <th>
                            <span>Time (hour)</span>
                            <button type="button" class="btn btn-primary btn-sm apply-hour" style="margin-left: 5px;"
                                    data-bs-toggle="modal" data-bs-target="#timeModal">
                                <i class="fas fa-angle-double-right"></i></button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee, loop : ${employees}"
                        th:attr="data-emp-id=${employee.empId}"
                        th:with="crew=${employee.crew}"
                        th:if="${!isCustomizedTeam}">
                        <td style="vertical-align: middle">
                            <span data-type="content" th:text="|${employee.lastName}, ${employee.firstName}|">Bruce, Lee</span>
                        </td>
                        <td style="vertical-align: middle">
                            <span data-type="content" th:text="${employee.craft}">Worker A</span>
                        </td>
                        <td style="vertical-align: middle">
                            <span data-type="content" th:text="${crew}">Supervisor 1</span>
                        </td>
                        <td>
                            <label>
                                <input class="form-control positive-num"
                                       min="0"
                                       step="any"
                                       name="input-time"
                                       type="number"/>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!-- Modal HTML -->
        <div id="timeModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Please enter the hours you want to assign</h4>
                    </div>
                    <div class="modal-body">
                        <label for="input-apply-time">
                            <input id="input-apply-time" type="number" step="any"
                                   title="Enter hours"/> h
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-apply-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let employees = /*[[${employees}]]*/ '';
        let dateOfService = /*[[${dateOfService}]]*/ '2021-09-01';
        let payrollDate = /*[[${payrollDate}]]*/ '2021-09-05';
        let teamName = /*[[${teamName}]]*/ 'Dummy team';
        let submitUserId = /*[[${submitUserId}]]*/ 1;

        /*]]>*/
    </script>
    <script type="text/javascript">

        $(function () {
            timeAssignment.init();
        });

        function saveTimeAssignment() {
            timeAssignment.saveTimeAssignment();
        }
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
