<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Per Diem</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-project-setup"
                 sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form id="form-per-diem" action="/per-diems" method="post" th:action="@{/per-diems}"
                          th:object="${perDiem}">
                        <input th:if="${perDiem.id != null}" type="hidden" name="_method" value="put"/>
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                            <input th:field="*{projectId}" type="hidden">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="name">Name:</label>
                            <input class="form-control" id="name" th:field="*{name}" type="text" value="Name" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="weekly-mode">Rule base:</label>
                            <select id="weekly-mode" class="form-select" th:field="*{perDiemMode}">
                                <option th:each="modeOpt : ${T(com.timaven.timekeeping.model.enums.PerDiemMode).values()}"
                                        th:value="${modeOpt}" th:text="${modeOpt.displayValue}"></option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="cost-code">Cost Code Default:</label>
                            <select id="cost-code" class="form-select w-100" title="Select a cost code"
                                    th:field="*{costCode}">
                                <option value=""></option>
                                <option th:each="costCodeLog : ${costCodeLogs}"
                                        th:value="${costCodeLog.costCodeFull}"
                                        th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                    1234567891 (Description)
                                </option>
                            </select>
                        </fieldset>

                        <fieldset id="field-daily-threshold" class="mb-3">
                            <label for="daily-threshold">Daily Qualifying Threshold:</label>
                            <div class="input-group mb-3">
                                <input id="daily-threshold" type="number" class="form-control"
                                       placeholder="Daily Qualifying Threshold"
                                       aria-label="Daily Qualifying Threshold"
                                       requiredIfNotManual="not-manual"
                                       aria-describedby="daily-threshold-hour" th:field="*{dailyThreshold}" value=""/>
                                <span class="input-group-text" id="daily-threshold-hour">Hours</span>
                            </div>
                        </fieldset>

                        <fieldset id="field-weekly-threshold" class="mb-3">
                            <label for="weekly-threshold">Weekly Threshold:</label>
                            <div class="input-group mb-3">
                                <input id="weekly-threshold" type="number" class="form-control"
                                       placeholder="Weekly Threshold:"
                                       aria-label="Weekly Threshold:"
                                       aria-describedby="weekly-threshold-day"
                                       requiredIfMode="special-mode"
                                       th:field="*{weeklyThreshold}" value=""/>
                                <span class="input-group-text" id="weekly-threshold-day">Days</span>
                            </div>
                        </fieldset>

                        <fieldset id="field-overwrite-amount" class="mb-3">
                            <label for="weekly-threshold">Overwrite Amount:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="dollar-overwrite-amount">$</span>
                                <input id="overwrite-amount" type="number" class="form-control"
                                       placeholder="Overwrite amount"
                                       aria-label="Overwrite Amount:"
                                       aria-describedby="dollar-overwrite-amount"
                                       th:field="*{overwriteAmount}" value=""/>
                            </div>
                        </fieldset>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4 me-4">
                            <a class="btn btn-warning me-md-2" href="per-diem-list.html" th:href="@{/per-diem-list}">Cancel</a>
                            <input class="btn btn-success" type="button" onclick="savePerDiem()" value="Submit"/>
                        </div>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $.fn.regexMask = function (mask) {
            $(this).keypress(function (event) {
                if (!event.charCode) return true;
                let part1 = this.value.substring(0, this.selectionStart);
                let part2 = this.value.substring(this.selectionEnd, this.value.length);
                if (!mask.test(part1 + String.fromCharCode(event.charCode) + part2))
                    return false;
            });
        };

        $(document).ready(function () {
            let mask = new RegExp(/^[0-9]*$/);
            $("#weekly-threshold").regexMask(mask);
            $("#daily-threshold").regexMask(mask);
            let select = $('#weekly-mode');
            select.change(function () {
                perDiemModeChange($(this));
            })
            perDiemModeChange(select);
            $('#cost-code').select2({
                placeholder: "Please select a cost code",
                allowClear: true,
            });
        });

        function perDiemModeChange(input) {
            let selectedOption = $(input).find(":selected").val();
            let fieldPerDiemWeeklyThreshold = $('#field-weekly-threshold');
            if (selectedOption === 'PAY_AS_YOU_GO' || selectedOption === 'MANUAL') {
                $('#weekly-threshold').val('');
                $(fieldPerDiemWeeklyThreshold).hide();
                $(fieldPerDiemWeeklyThreshold).removeClass("visible").addClass("hidden")
            } else {
                $(fieldPerDiemWeeklyThreshold).show();
                $(fieldPerDiemWeeklyThreshold).removeClass("hidden").addClass("visible")
            }
            let fieldPerDiemThreshold = $('#field-daily-threshold');
            if (selectedOption === 'MANUAL') {
                $('#daily-threshold').val('');
                $(fieldPerDiemThreshold).hide();
                $(fieldPerDiemThreshold).removeClass("visible").addClass("hidden")
            } else {
                $(fieldPerDiemThreshold).show();
                $(fieldPerDiemThreshold).removeClass("hidden").addClass("visible")
            }
        }

        $.validator.classRuleSettings.requiredIfMode = {
            requiredIfMode: true
        };

        $.validator.classRuleSettings.requiredIfNotManual = {
            requiredIfNotManual: true
        };

        $.validator.addMethod("requiredIfMode", function (value, element, params) {
            let fieldset = $(element).closest('fieldset');
            return fieldset.hasClass('hidden') || $(element).val();
        }, "This field is required for the selected mode");

        $.validator.addMethod("requiredIfNotManual", function (value, element, params) {
            let fieldset = $(element).closest('fieldset');
            return fieldset.hasClass('hidden') || $(element).val();
        }, "This field is required for the selected mode");

        $('#form-per-diem').validate({
            //Otherwise, validator will use title as error message
            ignoreTitle: true,
            onfocusout: false,
            invalidHandler: function (form, validator) {
                let errors = validator.numberOfInvalids();
                if (errors) {
                    validator.errorList[0].element.focus();
                }
            },
            errorPlacement: function (error, element) {
                let div = $(element).closest('div');
                error.insertAfter(div);
            }
        });

        function savePerDiem() {
            let formPerDiem = $('#form-per-diem');
            if (!formPerDiem.valid()) return;
            formPerDiem.submit();
        }

    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
