<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Projects</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<th:block layout:fragment="default_style">
    <!--suppress CssUnusedSymbol -->
    <style>
        .row-grid {
            margin-top: 25px;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-projects"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <div class="table-responsive">
                        <table id="table-projects" class="table table-striped">
                            <caption style="caption-side: top">
                                <input id="input-show-inactive" type="checkbox" checked="checked"
                                       onclick="toggleProject(this);"/>
                                <label class="ms-1">Show inactive</label>
                            </caption>
                            <thead>
                            <tr>
                                <th class="searchable">
                                    Project
                                </th>
                                <th class="searchable">
                                    Manager
                                </th>
                                <th class="searchable">
                                    Description
                                </th>
                                <th>
                                    Rule
                                </th>
                                <th>
                                    Shift
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="project, stat : ${projects}" th:id="|row-${stat.index}|" id="row-0"
                                th:classappend="${project.active ? '' : 'inactive'}">
                                <td>
                                    <a href="#" th:href="@{/project(projectId=${project.id})}">
                                        <span th:text="${project.jobSubJob}">Project 1</span>
                                    </a>
                                    <span class="ms-1 text-danger" th:unless="${project.active}">
                                            (inactive)
                                    </span>
                                </td>
                                <td>
                                    <div th:each="userId : ${project.userIds}">
                            <span th:if="${idUserMap.containsKey(userId)}"
                                  th:text="${idUserMap.get(userId).username}">Joey@gmail.com</span>
                                    </div>
                                </td>
                                <td th:text="${project.description}">This is project 1</td>
                                <td>
                                    <a href="rule.html" th:href="@{/rule(projectId=${project.id})}">
                                        <span>Rule</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="shifts.html" th:href="@{/shifts(projectId=${project.id})}">
                                        <span>Shifts</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <a class="btn btn-success" href="#" th:href="@{/project}">Add Project</a>
                        </div>
                    </div>
                    <footer class="mt-auto">
                    </footer>
                    <!-- Modal HTML -->
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript">
        $(function () {
            toggleProject($('#input-show-inactive'));
        });
        function toggleProject(input) {
            let inactiveTr = $('tr.inactive')
            if ($(input).is(':checked')) {
                inactiveTr.show();
            } else {
                inactiveTr.hide();
            }
        }
    </script>
</th:block>

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
