<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Payroll</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<th:block layout:fragment="default_style">
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-labor-time"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h2" th:text="|Job ${project.jobNumber}-${project.subJob} ${project.description}|">Job 210001-144 Marathon GBR STAR Project</h1>
                </div>
                <div class="container-fluid w-100 h-100 py-5">
                    <table id="tb-payroll" class="table table-striped">
                        <thead>
                        <tr>
                            <th>WE Date</th>
                            <th>Emp. Count</th>
                            <th>Hours</th>
                            <th>Timesheets</th>
                            <th>Payroll Submitted on</th>
                            <th>Payroll Finalized on</th>
                            <th>Payroll Type</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>WE Date</td>
                            <td>Emp. Count</td>
                            <td>Hours</td>
                            <td>Timesheets</td>
                            <td>Payroll Submitted on</td>
                            <td>Payroll Finalized on</td>
                            <td>Payroll Type</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <div id="submit-payroll" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to submit this payroll? This operation cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                    <button id="submit-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(function () {
            $('#tb-payroll').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "project-payroll",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "order": [],
                "columns": [
                    {"data": "weekEndDate"},
                    {"data": "employeeCount", "orderable": false},
                    {"data": "totalHours", "orderable": false},
                    {"data": "timesheets", "orderable": false},
                    {
                        "data": "approvedAt",
                        "render": function (data, type, row, meta) {
                            return `<span data-name="approvedAt">${data === null ? '' : data}</span>`;
                        }
                    },
                    {"data": "finalizedAt"},
                    {"data": "payrollType"},
                    {
                        "data": "weekEndDateStatus",
                        "render": function (data, type, row, meta) {
                            let submitted = data['submitted'];
                            if (submitted) {
                                return '<button type="button" class="btn btn-secondary" disabled="disabled">Submitted</button>'
                            } else {
                                return '<button type="button" class="btn btn-primary" data-bs-toggle="modal" ' +
                                    'data-week-end-date="' + data['weekEndDate'] + '" ' +
                                    'data-type="' + data['type'] + '" ' +
                                    'data-bs-target="#submit-payroll">Submit Payroll</button>'
                            }
                        },
                        "orderable": false,
                        "searchable": false,
                    },
                ],
            });
            $('#submit-payroll').on("show.bs.modal", function (e) {
                let weekEndDate = $(e.relatedTarget).data('week-end-date');
                let type = $(e.relatedTarget).data('type');
                $('#submit-ok').data("week-end-date", weekEndDate);
                $('#submit-ok').data("type", type);
            });
            $('#submit-ok').on('click', function() {
                let weekEndDate = $(this).data('week-end-date');
                let type = $(this).data('type');
                $.ajax({
                    type: "PUT",
                    url: `project-payroll-status?weekEndDate=${weekEndDate}&type=${type}`,
                    dataType: "text",
                    traditional: true,
                    success: function (callback) {
                        if (callback === 'success') {
                            let button = $(`button[data-week-end-date="${weekEndDate}"][data-type="${type}"][data-bs-toggle="modal"]`);
                            button.removeClass('btn-primary').addClass('btn-secondary');
                            button.text('Submitted')
                            button.prop('disabled', true);
                            button.closest('tr').find('span[data-name="approvedAt"]').text(getToday());
                        } else {
                            alert(callback);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (401 === xhr.status || 403 === xhr.status) {
                            $("html").html(xhr.responseText);
                        }
                    }
                });
            });
        });

        function getToday() {
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth() + 1; //January is 0!
            let yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            today = mm + '/' + dd + '/' + yyyy;
            return today;
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
