<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Home</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasAnyRole('ROLE_admin')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
    <div sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper', 'ROLE_purchasing')">
        <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand nav-link col-sm-3 col-md-2 me-0" href="#" th:href="@{/home}">
                <img class="rounded mx-auto d-block" src="../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
                     alt="TiMaven" width="128" height="36">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin"
                    aria-controls="navbarAdmin" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarAdmin">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-4">
                    <li class="nav-item dropdown">
                        <span class="text-secondary"
                              th:text="${T(com.timaven.timekeeping.common.SUtils).getDisplayName()}">Username</span>
                    </li>
                </ul>
                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="#" th:href="@{/login}">
                            <i class="fas fa-sign-in-alt"></i>
                            Log in
                        </a>
                    </li>
                    <li class="nav-item text-nowrap" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href=""
                           onclick="logout.logout()">
                            <i class="fas fa-sign-out-alt"></i>
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div></div>
    <div class="container-fluid">
        <div class="row h-100">
            <main role="main">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100 mt-4">
                    <div>
                        <table id="tb-project" class="table table-striped">
                        </table>
                    </div>
                    <div sec:authorize="hasAnyRole('ROLE_admin', 'ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
                        <div><h3>Cost Report</h3></div>
                        <table id="tb-profit" class="table table-striped">
                        </table>
                    </div>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript"
            sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')">
        let role = 'ROLE_project';
    </script>
    <script th:inline="javascript"
            sec:authorize="hasAnyRole('ROLE_admin','ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')">
        let role = 'ROLE_corporate';
    </script>
    <script type="text/javascript">
        $(function () {

            $('#tb-project').DataTable({
                orderCellsTop: true,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "projects-dashboard-dtos",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                        // return "{'jobSubJob':'111','Project Desc.':'Project Desc.'}";
                    }
                },
                "columns": [
                    {
                        "title": 'Job-Sub Job',
                        "data": "jobSubJob",
                        render: function (data, type, row) {
                            let result = data;
                            if (role === 'ROLE_project') {
                                result = "<a href='project-dashboard?projectId=" + row.projectId + "' data-type='a-link' >" + data + "</a>"
                            }
                            return result;
                        }
                    },
                    {"title": 'Project Desc.', "data": "description"},
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'Emp. Count',
                        "data": 'empCount'
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'Roster Count',
                        "data": 'rosterCount'
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'Hours',
                        "data": 'hours'
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'Client Cost',
                        "data": 'clientCost'
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'Committed Cost',
                        "data": 'committedCost'
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'WE Payroll Processed',
                        "data": 'payrollProcessed'
                    },
                    {"title": 'Client Name', "data": 'clientName'},
                    {"title": 'City', "data": 'city'},
                    {"title": 'State', "data": 'state'}
                ],
                "data": "",
                "language": {
                    "emptyTable": "This user does not belong to any projects, please ask your project manager or admin to help"
                }
            });

            $('#tb-profit').DataTable({
                orderCellsTop: true,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": "projects-dashboard-profit-dtos",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                        // return "{'jobSubJob':'111','Project Desc.':'Project Desc.'}";
                    }
                },
                "columns": [
                    {
                        "title": 'Job-Sub Job',
                        "data": "jobSubJob",
                        render: function (data, type, row) {
                            let result = data;
                            if (role === 'ROLE_project') {
                                result = "<a href='project-dashboard?projectId=" + row.projectId + "' data-type='a-link' >" + data + "</a>"
                            }
                            return result;
                        }
                    },
                    {"title": 'Desc.', "data": "description"},
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'Emp. Count',
                        "data": 'empCount'
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'Committed Value',
                        "data": 'committedValue'
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "title": 'Committed Cost',
                        "data": 'committedCost'
                    }
                ],
                "data": "",
                "language": {
                    "emptyTable": "This user does not belong to any projects, please ask your project manager or admin to help"
                }
            });

            function dateFormat(data) {
                let date = new Date(data);
                let dd = date.getDate();
                let mm = date.getMonth() + 1;
                let yyyy = date.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                date = mm + '/' + dd + '/' + yyyy;
                return date;
            }

            let aTag = $('a[data-type="a-link"]');
            if (aTag.length > 0) {
                $(aTag).on('click', function () {
                    let href = $(this).attr('href');
                    sessionStorage.setItem('activeTab', href.substring(0, href.indexOf('?')));
                });
            }
        });
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
