<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Templates</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant',
     'ROLE_accountant_foreman', 'ROLE_timekeeper')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
    <div th:replace="fragments/foreman::header" sec:authorize="hasRole('ROLE_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-project-template" sec:authorize="hasRole('ROLE_admin')"></div>
            <main role="main" class="ms-sm-auto  px-4" th:classappend="${#authorization.expression('hasRole(''ROLE_admin'')') ? 'col-md-9 col-lg-10' : ''}">
                <div class="container-fluid w-100 h-100 mt-3">
                    <table id="tb-project-template" class="table table-striped">
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(function () {
            token.getAccessToken(function (token) {
                $('#tb-project-template').DataTable({
                    "processing": true,
                    "ajax": {
                        "url": `${parserUrl}/v1/s3-object-summary?isTemplate=${true}`,
                        "dataSrc": '',
                        "beforeSend": function (request) {
                            request.setRequestHeader('Authorization', 'Bearer ' + token);
                        }
                    },
                    "columns": [
                        {"title": 'Template Name',"data": "key", },
                        {
                            "title": 'Template Upload Time',
                            "data": "lastModified",
                            render: function (data, type, row) {
                                return dateFormat(data);
                            }
                        },
                        {
                            "title": 'Download',
                            "data": '',
                            "render": function (data, type, row, meta) {
                                return `<a class="btn btn-success"  onclick="downloadFile(this)" data-key="${row.key}">Download</a>`
                            },
                            "orderable": false,
                            "searchable": false,
                        }
                    ]
                });
            });
        });

        // download by file name
        function downloadFile(data){
            let fileName = data.getAttribute("data-key");
            timavenDocument('GET', 'v1', 'download-template', true,
                'Failed to download', `fileName=${fileName}&isTemplate=true`);
        }

        function dateFormat(data){
            let date = new Date(data);
            let dd = date.getDate();
            let mm = date.getMonth() + 1;
            let yyyy = date.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            date = mm + '/' + dd + '/' + yyyy;
            return date;
        }

    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
