<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Dashboard</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper', 'ROLE_purchasing')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <main role="main" class="px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h2" th:text="|Job ${project.jobNumber}-${project.subJob} ${project.description}|">Job 210001-144 Marathon GBR STAR Project</h1>
                </div>
                <div class="row gx-3">
                    <div class="col">
                        <table class="table table-striped caption-top">
                            <caption>Timesheets Processed</caption>
                            <thead class="thead-light">
                            <tr>
                                <th>Count</th>
                                <th:block th:each="day : ${days}">
                                    <th th:text="${T(com.timaven.timekeeping.common.SUtils).getDayOfWeekName(day)}">M</th>
                                </th:block>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span th:text="${teamCount}">20</span>
                                </td>
                                <td th:each="day : ${days}">
                                    <span th:text="${timesheetsProcessedMap.get(day.toString())}">20</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped caption-top">
                            <caption>Current Force Report</caption>
                            <thead class="thead-light">
                            <tr>
                                <th>Craft Code</th>
                                <th>Description</th>
                                <th>Count</th>
                                <th>Weekly Hours</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="craftCode : ${craftCodes}">
                                <td>
                                    <span th:text="${craftCode}">F</span>
                                </td>
                                <td>
                                    <span th:text="${craftDescriptionMap.get(craftCode)}">Foreman</span>
                                </td>
                                <td><span th:text="${craftCountMap.get(craftCode)}">25</span>
                                </td>
                                <td><span th:text="${craftHourMap.get(craftCode)}">1500</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-striped caption-top">
                            <caption>Cost Report</caption>
                            <thead class="thead-light">
                            <tr>
                                <th>PO</th>
                                <th>Description</th>
                                <th>Total Hours</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="poNumber : ${poNumbers}">
                                <td>
                                    <span th:text="${poNumber}">259876</span>
                                </td>
                                <td>
                                    <span th:text="${poDescriptionMap.get(poNumber)}">Description</span>
                                </td>
                                <td><span th:text="${poHourMap.get(poNumber)}">Total Hours</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped caption-top">
                            <caption>Code Report</caption>
                            <thead class="thead-light">
                            <tr>
                                <th>Cost Code</th>
                                <th>Description</th>
                                <th>Weekly Hours</th>
                                <th>To Date Hours</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="costCode : ${costCodes}">
                                <td>
                                    <span th:text="${costCode}">Cost Code</span>
                                </td>
                                <td>
                                    <span th:text="${costCodeDescriptionMap.get(costCode)}">Description</span>
                                </td>
                                <td>
                                    <span th:text="${costCodeHourMap.get(costCode)}">Weekly Hours</span>
                                </td>
                                <td>
                                    <span th:text="${costCodeToDateHourMap.get(costCode)}">To Date Hours</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript">
        $(function () {
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
