<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Purchase Requisitions</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        div.dt-buttons {
            position: relative;
            float: right;
            margin-bottom: 1rem !important;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5 mb-3">
                    <a id="btn-requisition" type="button" class="btn btn-secondary"
                       href="./requisition.html" th:href="@{/requisition}"
                       sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')">
                        Requisition
                    </a>
                </div>
                <div id="div-no-requisition" class="hidden my-5 ms-4">
                    <h4>All requisitions have assigned a purchase order number</h4>
                </div>
                <div id="div-requisition" class="container-fluid w-100 my-5">
                    <table id="tb-requisition" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Requisition Number</th>
                            <th>Requisition Date</th>
                            <th>Vendor Name</th>
                            <th>Requestor</th>
                            <th>Item Count</th>
                            <th>Purchase Order Number</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Requisition Number</td>
                            <td>Requisition Date</td>
                            <td>Vendor Name</td>
                            <td>Requestor</td>
                            <td>Item Count</td>
                            <td>Purchase Order Number</td>
                            <td>
                                <span style="color: red" data-bs-toggle="modal" data-bs-target="#delete-requisition">
                                    <i class="fas fa-minus-circle"></i>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="delete-requisition" class="modal fade" sec:authorize="not hasRole('ROLE_corporate_accountant')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this Requisition?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete-requisition" style="direction: ltr"
                          action="#"
                          th:action="@{/requisition}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        let isCorporate = /*[[${#authorization.expression('hasRole(''ROLE_corporate_accountant'')')}]]*/ false;
    </script>
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;
        $(function () {
            init();
        });

        function init() {

            let requisitionUrl = /*[[@{/requisition}]]*/ '';

            $('#tb-requisition thead tr').clone(false).appendTo('#tb-requisition thead');

            let oTable = $('#tb-requisition').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "orderCellsTop": true,
                "fixedHeader": true,
                "ajax": {
                    "url": "requisition-group",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {
                        "data": "requisitionNumber",
                        "render": function (data, type, row, meta) {
                            return '<a href="' + requisitionUrl + '?requisitionNumber=' + data + '"><span data-type="requisitionNumber">' + data + '</span></a>'
                        }
                    },
                    {"data": "requisitionDate"},
                    {"data": "vendorName"},
                    {"data": "requestor"},
                    {"data": "itemCount"},
                    {"data": "purchaseOrderNumber"},
                    {
                        "data": null,
                        "searchable": false,
                        "orderable": false,
                        "visible": !isCorporate,
                        "render": function (data, type, row, meta) {
                            return '<span style="color: red" data-bs-toggle="modal" data-bs-target="#delete-requisition">' +
                                   '<i class="fas fa-minus-circle"></i>' +
                                   '</span>';
                        }
                    },
                ],
                "initComplete": function() {
                    let data = oTable.data();
                    if (data.length === 0) {
                        $('#div-requisition').hide();
                        let divNoRequisition = $('#div-no-requisition');
                        divNoRequisition.show();
                        divNoRequisition.removeClass('hidden');
                    }
                    let columns = this.api().init().columns;
                    $('#tb-requisition thead tr:eq(1) th').each(function (i) {
                        if (!columns[i] || columns[i].searchable !== false) {
                            $(this).html('<input type="text" placeholder="Enter to filter"/>');
                        } else {
                            $(this).html('');
                        }

                        $('input', this).on('keyup change', function () {
                            // datatableElement is null if it's put directly in the ngOnInit
                            if (oTable.column(i).search() !== this.value.trim()) {
                                oTable.column(i).search(this.value.trim()).draw();
                            }
                        });
                    });
                    // Restore state
                    let state = oTable.state.loaded();
                    if (state) {
                        let hasColSearch = false;
                        oTable.columns().eq(0).each(function (colIdx) {
                            let colSearch = state.columns[colIdx].search;

                            if (colSearch.search) {
                                $('input', $(oTable.table().node()).find(`thead tr:eq(1) th:eq(${colIdx})`)).val(colSearch.search);
                                hasColSearch = true;
                            }
                        });

                        if (hasColSearch) {
                            oTable.draw();
                        }
                    }
                }

            });
            $('span[data-type="delete-requisition"]').on('click', function() {
                $(this).closest('tr').find('span[data-type="requisitionNumber"]').remove();
            });

            $('#delete-requisition').on("show.bs.modal", function(e) {
                // set the username
                let ctx = /*[[@{/}]]*/ '';
                let requisitionNumber = $(e.relatedTarget).closest('tr').find('span[data-type="requisitionNumber"]').text();
                $('form#form-delete-requisition').attr("action", ctx + 'requisition?requisitionNumber=' + requisitionNumber);
            });

        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
