<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Purchase Orders</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        div.dt-buttons {
            position: relative;
            float: right;
            margin-bottom: 1rem !important;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5 mb-3">
                    <button id="btn-upload-po" type="button" class="btn btn-secondary me-md-2"
                            sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                        Upload Purchase Order
                    </button>
                    <button id="btn-upload-rr" type="button" class="btn btn-secondary"
                            sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
                        Upload Received Report
                    </button>
                </div>
                <div class="container-fluid w-100 h-100">
                    <table id="tb-summary" class="table table-striped show">
                        <thead>
                        <tr>
                            <th>Purchase Order Number</th>
                            <th>Purchase Order Date</th>
                            <th>Vendor Name</th>
                            <th>Requestor</th>
                            <th>Extended Cost</th>
                            <th>Qty.</th>
                            <th>Qty. Billed</th>
                            <th>Amount Billed</th>
                            <th>Date Last Billed</th>
                            <th>Comment</th>
                            <th>Flag</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Purchase Order Number</td>
                            <td>Purchase Order Date</td>
                            <td>Vendor Name</td>
                            <td>Requestor</td>
                            <td>Extended Cost</td>
                            <td>Qty.</td>
                            <td>Qty. Billed</td>
                            <td>Amount Billed</td>
                            <td>Date Last Billed</td>
                            <td>Comment</td>
                            <td>Flag</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="div-upload-po" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Purchase Order</h4>
                </div>
                <div class="modal-body">
                    <div id="div-po-dz" class="dropzone needsclick dz-clickable"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-po-dz-submit" type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        let isCorporate = /*[[${#authorization.expression('hasRole(''ROLE_corporate_accountant'')')}]]*/ false;
    </script>
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;
        $(function () {
            init();
        });

        let uploadModal = $('#div-upload-po');

        function init() {

            $("#btn-upload-po,#btn-upload-rr").on("click", function (e) {

                let id = $(this).attr("id");

                let type = id === "btn-upload-po" ? "po" : "rr";

                if (type === "po") {
                    uploadModal.find(".modal-title").text("Upload Purchase Order Data");
                } else if (type === "rr") {
                    uploadModal.find(".modal-title").text("Upload Received Report Data");
                }

                uploadModal.attr("data-type", type);
                uploadModal.modal('show');
            });

            // Set default date
            $('button#btn-po-dz-submit').on('click', function () {
                let myDropzone = Dropzone.forElement('#div-po-dz');
                let file_len = myDropzone.getQueuedFiles().length;
                if (file_len < 1) {
                    alert("Please drop file first");
                } else {
                    myDropzone.processQueue();
                }
            });

            // Initialize Dropzone
            $("div#div-po-dz").dropzone({
                url: parserUrl + "/purchase-orders",
                autoProcessQueue: false,
                addRemoveLinks: true,
                crossDomain: true,
                init: function () {
                    this.on("sending", function (data, xhr, formData) {
                        let type = uploadModal.attr("data-type");
                        if (type === "rr") {
                            formData.append("fileType", "received_purchase");
                        } else {
                            formData.append("fileType", "purchase_order");
                        }
                    });
                },
            });

            let urlPrefix = /*[[@{/purchase-order-details}]]*/ '';

            $('#tb-summary thead tr').clone(false).appendTo('#tb-summary thead');

            let oTable = $('#tb-summary').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "orderCellsTop": true,
                "fixedHeader": true,
                "ajax": {
                    "url": "purchase-order-summaries",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {
                        "data": "purchaseOrderNumber",
                        "render": function (data, type, row, meta) {
                            return '<a href="' + urlPrefix + '?purchaseOrderNumber=' + data + '">' + data + '</a>'
                        }
                    },
                    {"data": "purchaseOrderDate"},
                    {"data": "vendorName"},
                    {"data": "requestor"},
                    {"data": "extendedCost"},
                    {"data": "quantity"},
                    {"data": "billedQuantity"},
                    {"data": "billedAmount"},
                    {"data": "billedOn"},
                    {
                        "data": "comment",
                        "render": function (data, type, row, meta) {
                            let comment = '';
                            if (data) {
                                comment = data;
                            }
                            return `<input data-po="${row.purchaseOrderNumber}" class="form-control comment" type="text" value="${comment}"/>`
                        },
                        "orderable": false,
                        "searchable": true,
                    },
                    {
                        "data": "flag",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                oTable.row(meta.row).nodes().to$().addClass('table-danger');
                                return `<button data-po="${row.purchaseOrderNumber}" name="btn-flag" type="button" class="btn btn-danger" title="Set unflag">Flagged</button>`
                            } else {
                                return `<button data-po="${row.purchaseOrderNumber}" name="btn-flag" type="button" class="btn btn-success" title="Set flag">Not Flagged</button>`
                            }
                        },
                        "orderable": false,
                        "searchable": true,
                    }
                ],
                "initComplete": function() {
                    let columns = this.api().init().columns;
                    $('#tb-summary thead tr:eq(1) th').each(function (i) {
                        if (!columns[i] || columns[i].searchable !== false) {
                            $(this).html('<input type="text" placeholder="Enter to filter"/>');
                        } else {
                            $(this).html('');
                        }

                        $('input', this).on('keyup change', function () {
                            // datatableElement is null if it's put directly in the ngOnInit
                            if (oTable.column(i).search() !== this.value.trim()) {
                                oTable.column(i).search(this.value.trim()).draw();
                            }
                        });
                    });
                    // Restore state
                    let state = oTable.state.loaded();
                    if (state) {
                        let hasColSearch = false;
                        oTable.columns().eq(0).each(function (colIdx) {
                            let colSearch = state.columns[colIdx].search;

                            if (colSearch.search) {
                                $('input', $(oTable.table().node()).find(`thead tr:eq(1) th:eq(${colIdx})`)).val(colSearch.search);
                                hasColSearch = true;
                            }
                        });

                        if (hasColSearch) {
                            oTable.draw();
                        }
                    }
                    $('#tb-summary input.comment').on("change", function() {
                        let po = $(this).data('po');
                        let comment = $(this).val();
                        $.ajax({
                            type: "PUT",
                            url: `purchase-order-group?purchaseOrderNumber=${po}&comment=${comment}`,
                            dataType: "text",
                            success: function (callback) {
                            },
                            error: function () {
                            }
                        });
                    });
                    $('#tb-summary button[name="btn-flag"]').on("click", function() {
                        let button = $(this);
                        let po = $(this).data('po');
                        let currentFlag = $(this).hasClass('btn-danger');
                        $.ajax({
                            type: "PUT",
                            url: `purchase-order-group?purchaseOrderNumber=${po}&flag=${!currentFlag}`,
                            success: function (callback) {
                                if (currentFlag) {
                                    button.removeClass('btn-danger').addClass('btn-success');
                                    button.prop('title', 'Set unflag');
                                    button.text('Not Flagged');
                                    button.closest('tr').removeClass('table-danger');
                                } else {
                                    button.removeClass('btn-success').addClass('btn-danger');
                                    button.prop('title', 'Set flag');
                                    button.text('Flagged');
                                    button.closest('tr').addClass('table-danger');
                                }
                            },
                            error: function () {
                            }
                        });
                    });
                },
            });
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
