<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Purchase Order</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>
<th:block layout:fragment="default_style">

    <style>
        input.form-control {
            width: 85px;
        }
    </style>

</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5 mb-3">
                    <a class="btn btn-warning me-md-2" th:href="@{/purchase-orders}" href="purchase-orders.html">
                        Cancel
                    </a>
                </div>
                <div class="container-fluid w-100 h-100">
                    <table id="tb-detail" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Purchase Order Number</th>
                            <th>Purchase Order Date</th>
                            <th>Vendor Name</th>
                            <th>Requestor</th>
                            <th>Requisition Number</th>
                            <th>Line Number</th>
                            <th>Part Description</th>
                            <th>Quantity</th>
                            <th>Quantity Received</th>
                            <th>Unit Cost</th>
                            <th>Extended Cost</th>
                            <th>Formatted Cost Distribution</th>
                            <th>Cost Type</th>
                            <th>Qty Billed</th>
                            <th>Process Billing Qty</th>
                            <th>Process Billing Amount</th>
                            <th>Custom Markup Amt</th>
                            <th>Tax</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Purchase Order Number</td>
                            <td>Purchase Order Date</td>
                            <td>Vendor Name</td>
                            <td>Requestor</td>
                            <td>Requisition Number</td>
                            <td>Line Number</td>
                            <td>Part Description</td>
                            <td>Quantity</td>
                            <td>Quantity Received</td>
                            <td>Unit Cost</td>
                            <td>Extended Cost</td>
                            <td>Formatted Cost Distribution</td>
                            <td>Cost Type</td>
                            <td>Qty Billed</td>
                            <td>Process Billing Qty</td>
                            <td>Process Billing Amount</td>
                            <td>Custom Markup Amt</td>
                            <td>Tax</td>
                        </tr>
                        </tbody>
                    </table>
                    <table id="tb-billing-history" class="table table-striped caption-top mt-5">
                        <caption>Billing History</caption>
                        <thead>
                        <tr>
                            <th>Billing Number</th>
                            <th>Invoice Number</th>
                            <th>Part</th>
                            <th>Qty Billed</th>
                            <th>Amt</th>
                            <th>Tax</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Billing Number</td>
                            <td>Invoice Number</td>
                            <td>Part</td>
                            <td>Qty Billed</td>
                            <td>Amt</td>
                            <td>Tax</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <div id="billingModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Please enter the percentage you want to assign for all</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input id="input-qty" type="number" step="1" title="Enter value"/>
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-apply-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="billingGenerateModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Generate Bill</h4>
                </div>
                <div class="modal-body">
                    <form id="form-requisition-item">
                        <fieldset class="mb-3">
                            <label for="billing-number">Bill #:</label>
                            <input class="form-control" id="billing-number" type="text"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="invoice-number">Invoice #:</label>
                            <input class="form-control" id="invoice-number" type="text"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="freight-shipping">Freight & Shipping:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="span-freight-shipping">$</span>
                                <input id="freight-shipping" type="number" step="any" class="form-control"
                                       placeholder="Freight Shipping"
                                       aria-label="Freight Shipping"
                                       aria-describedby="span-freight-shipping"/>
                            </div>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="other-charge">Other Charge:</label>
                            <input class="form-control" id="other-charge" type="text"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="other-charge-amount">Other Change Amount:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="span-other-charge-amount">$</span>
                                <input id="other-charge-amount" type="number" step="any" class="form-control"
                                       placeholder="Other Charge Amount"
                                       aria-label="Other Charge Amount"
                                       aria-describedby="span-other-charge-amount"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-generate-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Generate
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this billing?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                    <button id="btn-delete" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        let isCorporate = /*[[${#authorization.expression('hasRole(''ROLE_corporate_accountant'')')}]]*/ false;
    </script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let purchaseOrderNumber = [[${purchaseOrderNumber}]];

        /*]]>*/
    </script>
    <script th:inline="javascript">

        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;
        let table;

        $(function () {
            table = $('#tb-detail').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": `purchase-order-details?purchaseOrderNumber=${purchaseOrderNumber}`,
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {
                        "data": "purchaseOrderNumber",
                        "render": function (data, type, row, meta) {
                            return `<span data-type="po">${data}</span>`;
                        }
                    },
                    {"data": "purchaseOrderDate"},
                    {"data": "vendorName"},
                    {"data": "requestor"},
                    {"data": "requisitionNumber"},
                    {
                        "data": "lineNumber",
                        "render": function (data, type, row, meta) {
                            return `<span data-type="ln">${data}</span>`;
                        }
                    },
                    {
                        "data": "partDescription",
                        "render": function (data, type, row, meta) {
                            return `<span data-type="part">${data}</span>`;
                        }
                    },
                    {
                        "data": "quantity",
                        "render": function (data, type, row, meta) {
                            return `<span data-type="quantity">${data}</span>`;
                        }
                    },
                    {"data": "quantityReceived"},
                    {
                        "data": "unitCost",
                        "render": function (data, type, row, meta) {
                            return `<span data-type="unit-cost">${data}</span>`;
                        }

                    },
                    {"data": "extendedCost"},
                    {"data": "formattedCostDistribution"},
                    {"data": "costType"},
                    {"data": "billedQuantity"},
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<label>' +
                                `<input name="input-billing" type="number" step="1" class="form-control" data-type="billing-qty"/>` +
                                '</label>'
                        },
                        "searchable": false,
                        "orderable": false,
                    },
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<label>' +
                                `<input name="input-billing" type="number" step="1" class="form-control" data-type="billing-amount"/>` +
                                '</label>'
                        },
                        "searchable": false,
                        "orderable": false,
                    },
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<div class="input-group" style="min-width: 110px">' +
                                `<input name="input-billing" type="number" step="any" class="form-control" data-type="markup-amount"/>` +
                                '<span class="input-group-text">%</span>' +
                                '</div>'
                        },
                        "searchable": false,
                        "orderable": false,
                    },
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<div class="input-group" style="min-width: 110px">' +
                                `<input name="input-billing" type="number" step="any" class="form-control" data-type="tax"/>` +
                                '<span class="input-group-text">%</span>' +
                                '</div>'
                        },
                        "searchable": false,
                        "orderable": false,
                    },
                ],
                "initComplete": linkQtyAmount,
                "dom": "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": [
                    {
                        text: 'Bill All',
                        className: "btn btn-success float-end me-5",
                        action: function (e, dt, node, config) {
                            $('#billingModal').modal('show');
                            $('#btn-apply-ok').data('type', 'billing');
                        }
                    },
                    {
                        text: 'Markup All',
                        className: "btn btn-success float-end me-5",
                        action: function (e, dt, node, config) {
                            $('#billingModal').modal('show');
                            $('#btn-apply-ok').data('type', 'markup');
                        }
                    },
                    {
                        text: 'Generate Bill',
                        className: "btn btn-success float-end me-5",
                        action: function (e, dt, node, config) {
                            $('#billingGenerateModal').modal('show');
                        }
                    },
                ],
            });
            let deleteModal = $('#deleteModal');
            if (deleteModal.length > 0) {
                deleteModal.on("show.bs.modal", function (e) {
                    // set the username
                    let id = $(e.relatedTarget).data('id');
                    $('#btn-delete').data('id', id);
                });
            }
            $('#btn-delete').click(function () {
                let id = $(this).data('id');
                $.ajax({
                    type: "DELETE",
                    url: `purchase-order-billings/${id}`,
                    success:  function (callback) {
                        $('#tb-detail').DataTable().ajax.reload(linkQtyAmount);
                        $('#tb-billing-history').DataTable().ajax.reload(linkQtyAmount);
                    },
                    error: function () {
                    }
                });
            });
            $('#tb-billing-history').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": `purchase-order-billing-detail-history?purchaseOrderNumber=${purchaseOrderNumber}`,
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "order": [],
                "columns": [
                    {"data": "billingNumber"},
                    {"data": "invoiceNumber"},
                    {"data": "part"},
                    {"data": "billingQuantity"},
                    {"data": "amount"},
                    {"data": "tax"},
                    {
                        "data": "billingId",
                        "searchable": false,
                        "render": function (data, type, row, meta) {
                            return `<a href="#deleteModal" data-id="${data}" class="btn btn-danger" data-bs-toggle="modal" title="Delete">Delete</a>`
                        },
                        "orderable": false,
                    },
                    {
                        "data": "billingId",
                        "render": function (data, type, row, meta) {
                            return `<button data-id="${data}" class="btn btn-primary" title="Print" onclick="dumpBilling(${data})">Export</button>`
                        },
                        "searchable": false,
                        "orderable": false,
                    },
                ],
            });

            $('#btn-apply-ok').on('click', function() {
                let input =  $('input#input-qty');
                let value = parseFloat(input.val());
                let type = $(this).data('type');
                let quantityInput = $('span[data-type="quantity"]');
                $.each(quantityInput, function (index, e) {
                    let quantity = parseFloat($(e).text());
                    let percQuantity = parseFloat((value * quantity / 100).toFixed(2));
                    if (type === 'markup') {
                        $(e).closest('tr').find('input[data-type="billing-qty"]')
                            .filter(function() {
                                return this.value;
                            }).closest('tr').find('input[data-type="markup-amount"]').val(value);
                    } else {
                        $(e).closest('tr').find('input[data-type="billing-qty"]').val(percQuantity).trigger('change');
                    }
                });
            });

            $('#btn-generate-ok').click(function (e) {
                let billingNumber = $('#billing-number').val();
                let invoiceNumber = $('#invoice-number').val();
                let freightShipping = $('#freight-shipping').val();
                let otherCharge = $('#other-charge').val();
                let otherChargeAmount = $('#other-charge-amount').val();

                let poBillingDetails = [];
                let rows = $('#tb-detail tbody tr input[data-type="billing-qty"]').filter(function () {
                    return !!this.value;
                }).closest('tr');
                if (rows && rows.length > 0) {
                    $.each(rows, function (index, e) {
                        let po = $(e).find('span[data-type="po"]').text().trim();
                        let unitCost = $(e).find('span[data-type="unit-cost"]').text().trim().replace('$', '');
                        let markupAmount = $(e).find('input[data-type="markup-amount"]').val();
                        let part = $(e).find('span[data-type="part"]').text().trim();
                        let lineNumber = $(e).find('span[data-type="ln"]').text();
                        let billingQty = $(e).find('input[data-type="billing-qty"]').val();
                        let tax = $(e).find('input[data-type="tax"]').val();
                        poBillingDetails.push({
                            purchaseOrderNumber: po,
                            unitCost: unitCost,
                            part: part,
                            lineNumber: lineNumber,
                            billingQuantity: billingQty,
                            markupQuantity: billingQty,
                            markupAmount: markupAmount,
                            tax: tax,
                        });
                    });
                }
                let poBilling = {
                    purchaseOrderNumber: purchaseOrderNumber,
                    billingNumber: billingNumber,
                    invoiceNumber: invoiceNumber,
                    freightShipping: freightShipping,
                    otherCharge: otherCharge,
                    otherChargeAmount: otherChargeAmount,
                    purchaseOrderBillingDetailDtos: poBillingDetails,
                }
                $.ajax({
                    type: "POST",
                    url: "purchase-order-billings",
                    data: JSON.stringify(poBilling),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        $('#tb-detail').DataTable().ajax.reload(linkQtyAmount);
                        $('#tb-billing-history').DataTable().ajax.reload(linkQtyAmount);
                        dumpBilling(data.id);
                    },
                    error: function () {
                    }
                });
            });
        });

        let linkQtyAmount = function () {
            $('input[data-type="billing-qty"]').on('change', function() {
                let data = table.rows($(this).parents('tr')).data()[0];
                let unitCost = parseFloat(data["unitCost"].replace('$', '').replace(',', ''));
                let qty = parseFloat($(this).val());
                $(this).closest('tr').find('input[data-type="billing-amount"]').val(parseFloat((qty * unitCost).toFixed(2)));
            });
            $('input[data-type="billing-amount"]').on('change', function() {
                let data = table.rows($(this).parents('tr')).data()[0];
                let unitCost = parseFloat(data["unitCost"].replace('$', '').replace(',', ''));
                let amount = parseFloat($(this).val());
                $(this).closest('tr').find('input[data-type="billing-qty"]').val(parseFloat((amount / unitCost).toFixed(2)));
            });
        }

        function dumpBilling(id) {
            timavenDocument('POST', 'v1', 'purchase-order-billings', true,
                'No available data',
                `id=${id}`);
        }
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
