<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Rain Out Policies</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-project-setup" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="container" style="margin-top: 50px;">
                    <table id="tb-rain-outs" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Time (hour)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="rainOut : ${rainOuts}">
                            <td>
                                <a href="rain-out.html" th:href="@{/rain-out(id=${rainOut.id})}"
                                   th:if="${rainOut.projectId != null}"
                                   th:text="${rainOut.name}">Default</a>
                                <span th:unless="${rainOut.projectId != null}" th:text="${rainOut.name}">
                                    Default
                                </span>
                            </td>
                            <td>
                                <span th:text="${rainOut.time}">2</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <a class="btn btn-success" href="shift.html" th:href="@{/rain-out}">Add Rain Out Policy</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
