<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>OT Reconciliation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"
          th:remove="tag">
    <!-- Custom styles for this template -->
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
    <script src="../static/js/reconcile.js" th:src="@{/js/reconcile.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <style>
        .table-responsive {
            overflow-x: scroll;
            margin-top: 25px;
        }

        input.form-control {
            width: 65px;
            margin: 0 auto;
        }

        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

        .table th.ot, table td.ot {
            border: 2px solid cornflowerblue;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/corporate-accountant::header"></div>
    <main role="main">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4 me-4">
            <button type="button" class="btn btn-warning me-md-2"
                    onclick="window.history.go(-1); return false;">
                Cancel
            </button>
            <button type="button" class="btn btn-success" onclick="reconcile.validateForm()">
                Validate
            </button>
        </div>
        <div class="table-responsive px-4" th:with="empCostCodeProjectDtos=${reconcileDto.empCostCodeProjectDtos}">
            <form id="form-reconcile" action="/reconcile" th:action="@{/reconcile(weekEndDate=${weekEndDate})}" method="post"
                  style="padding: 0" th:object="${reconcileDto}">
                <input type="hidden" th:field="*{allocationSubmissionIds}">
                <input type="hidden" th:field="*{projectIds}">
                <label>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </label>
                <table class="table table-bordered" id="reconcile-table" th:with="projects=${reconcileDto.projects},
             projectUserNames=${reconcileDto.projectUserNames}">
                    <thead>
                    <tr class="text-center">
                        <th rowspan="2">NAME</th>
                        <th rowspan="2">EMPLOYEE ID</th>
                        <th rowspan="2">COST CODE1</th>
                        <!--TM-233 rule-hideDt show/hide dt info -->
                        <th th:each="project : ${projects}" th:object="${project}" th:colspan="${reconcileDto.hideDtMap[project.id]} ? 2 : 3">
                            <span th:text="${project.jobSubJob}">Project 1</span>
                            <th:block th:if="${projectUserNames.containsKey(project.id)}">
                                <br/><span th:text="${projectUserNames.get(project.id)}"></span>
                            </th:block>
                        </th>
                        <th class="ot" rowspan="2">OT</th>
                    </tr>
                    <tr class="text-center">
                        <th:block th:each="project: ${projects}">
                            <th>ST</th>
                            <th>OT</th>
                            <!--TM-233 rule-hideDt show/hide dt info -->
                            <th th:unless="${reconcileDto.hideDtMap[project.id]}">DT</th>
                        </th:block>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="empCostCodeProjectDto, empStat: ${empCostCodeProjectDtos}">
                        <tr class="text-center" th:each="costCode, stat: ${empCostCodeProjectDto.costCodes}">

                            <td th:if="${stat.index == 0}" th:rowspan="${empCostCodeProjectDto.costCodes.size()}">
                            <span th:text="|${empCostCodeProjectDto.lastName}, ${empCostCodeProjectDto.firstName}|">
                            NAME
                            </span>
                            </td>
                            <td th:if="${stat.index == 0}" th:rowspan="${empCostCodeProjectDto.costCodes.size()}">
                            <span th:text="${empCostCodeProjectDto.empId}">
                            EMPLOYEE ID
                            </span>
                            </td>
                            <th th:text="${costCode}">123</th>
                            <th:block th:each="project : ${projects}" th:with="ccTotalKey=|${project.id}_${costCode}|">
                                <th:block th:if="${empCostCodeProjectDto.empTotalTimeMap.containsKey('__${ccTotalKey}__')}">
                                    <td th:with="ccKey=|${project.id}_${costCode}_st|">
                                    <span th:if="${empCostCodeProjectDto.empTimeMap.containsKey('__${ccKey}__')}"
                                          data-type="original-st"
                                          th:attr="data-project-id=${project.id}, data-cost-code=${costCode}"
                                          th:text="${empCostCodeProjectDto.empTimeMap['__${ccKey}__']}">
                                        10
                                    </span>
                                    </td>
                                    <td th:with="ccKey=|${project.id}_${costCode}_ot|">
                                    <span th:if="${empCostCodeProjectDto.empTimeMap.containsKey('__${ccKey}__')}"
                                          data-type="original-ot"
                                          th:attr="data-project-id=${project.id}, data-cost-code=${costCode},
                                           data-emp-id=${empCostCodeProjectDto.empId}"
                                          th:text="${empCostCodeProjectDto.empTimeMap['__${ccKey}__']}">
                                        10
                                    </span>
                                    </td>
                                    <!--TM-233 rule-hideDt show/hide dt info -->
                                    <td th:with="ccKey=|${project.id}_${costCode}_dt|" th:unless="${reconcileDto.hideDtMap[project.id]}">
                                    <span th:if="${empCostCodeProjectDto.empTimeMap.containsKey('__${ccKey}__')}"
                                          data-type="original-dt"
                                          th:attr="data-project-id=${project.id}, data-cost-code=${costCode}"
                                          th:text="${empCostCodeProjectDto.empTimeMap['__${ccKey}__']}">
                                        10
                                    </span>
                                    </td>
                                </th:block>
                                <th:block th:unless="${empCostCodeProjectDto.empTotalTimeMap.containsKey('__${ccTotalKey}__')}">
                                    <!--TM-233 rule-hideDt show/hide dt info -->
                                    <td th:colspan="${reconcileDto.hideDtMap[project.id]} ? 2 : 3"></td>
                                </th:block>
                            </th:block>
                            <td class="ot"
                                th:if="${stat.index == 0}" th:rowspan="${empCostCodeProjectDto.costCodes.size()}">
                                <div>
                                    <input class="form-control" requireMatch="requireMatch" data-type="ot" readonly
                                           th:attr="data-emp-id=${empCostCodeProjectDto.empId}"
                                           th:name="|input-total-ot-${empStat.index}|"
                                           th:value="${empCostCodeProjectDto.ot}" value="10">
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        /*]]>*/
    </script>
    <script type="text/javascript">
        $(function () {
            reconcile.init();
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
