<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="${title}">Summary of Employee Hours and Billing</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div th:replace="fragments/admin::header" sec:authorize="hasAnyRole('ROLE_admin')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-reports"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <div th:replace="fragments/admin::sidebar-reports" sec:authorize="hasAnyRole('ROLE_admin')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-reports"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100 mt-5">
                    <form id="form-totals">
                        <fieldset class="mb-3">
                            <label for="rpc-start-date">Start Date:</label>
                            <input id="rpc-start-date" name="rpcStartDate" type="text" class="form-control" required
                                   placeholder="Please select a date"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="rpc-end-date">End Date:</label>
                            <input id="rpc-end-date" name="rpcEndDate" type="text" class="form-control" required
                                   placeholder="Please select a date"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="project">Project: (Required)</label>
                            <select id="project" name="project[]" class="form-select w-100" multiple="multiple"
                                    title="Select project" required>
                                <option th:each="project : ${projects}"
                                        th:text="|${project.jobSubJob}    ${project.description == null ? '' : project.description}|"
                                        th:value="${project.id}">Project 1
                                </option>
                            </select>
                        </fieldset>

                        <input class="btn btn-success" style="margin-bottom: 50px; margin-top: 10px; float: right"
                               type="button" onclick="generateReport()"
                               value="Generate"/>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#project').select2({
                placeholder: "Please select projects",
                allowClear: true,
            })
            $('#rpc-start-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#rpc-end-date').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
        });

        function generateReport() {
            let formTotals = $('#form-totals');
            if (!formTotals.valid()) return;
            let rpcStartTime = $('#rpc-start-date').val();
            let rpcEndTime = $('#rpc-end-date').val();
            let projectIds = $('#project').val();
            timavenDocument('POST', 'v1', 'report-rpc-profit-details', true,
                'No hours on selected criteria', `projectId=${projectIds}&startDate=${dateConversion(rpcStartTime)}&endDate=${dateConversion(rpcEndTime)}`, "", "application/json");
        }

        function dateConversion(rpcDate){
            let date = rpcDate.toString().split("/");
            return date[2] + "-" + date[0] + "-" + date[1];
        }



    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
