<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Labor Time Report</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div th:replace="fragments/admin::header" sec:authorize="hasAnyRole('ROLE_admin')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-reports"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <div th:replace="fragments/admin::sidebar-reports" sec:authorize="hasAnyRole('ROLE_admin')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-reports"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100 mt-5">
                    <form id="form-labor-time">
                        <fieldset class="mb-3" th:if="${sessionProjectId == null}">
                            <label for="project">Project: (Required)</label>
                            <select id="project" class="form-select w-100"
                                    title="Select project" required>
                                <option selected disabled hidden>Select</option>
                                <option th:each="project : ${projects}"
                                        th:text="|${project.jobSubJob}    ${project.description == null ? '' : project.description}|"
                                        th:value="${project.id}">Project 1
                                </option>
                            </select>
                        </fieldset>
                        <fieldset class="mb-3">
                            <label for="dos">Date of Service:</label>
                            <input id="dos" type="text" class="form-control" required
                                   placeholder="Please select a date"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label>Please select a timesheet</label>
                            <select name="team" class="form-select" title="Select a team" required>
                                <option selected disabled hidden>Select</option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="payroll-date">Payroll Date:</label>
                            <input id="payroll-date" type="text" class="form-control" required
                                   placeholder="Please select a date" th:readonly="${sessionProjectId == null}"/>
                        </fieldset>

                        <input class="btn btn-success" style="margin-bottom: 50px; margin-top: 10px; float: right"
                               type="button" onclick="generateReport()"
                               value="Generate"/>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        let manualInputDate;
        $(document).ready(function () {
            // Initialize datepicker
            $('#dos').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                change: function (e) {
                    let selectedDate = e.currentTarget.value;
                    if (selectedDate !== manualInputDate) {
                        getTeam();
                        manualInputDate = selectedDate;
                    }
                }
            });
            $('#project').on('change', function () {
                getTeam();
                getPayrollDate();
            })
            getTeam();
            getPayrollDate();
        });

        function getPayrollDate() {
            let projectId;
            if (typeof sessionProjectId !== 'undefined') {
                projectId = sessionProjectId;
            } else {
                projectId = $('#project').val();
            }
            if (projectId) {
                $.ajax({
                    url: 'previous-payroll-date',
                    data: {
                        projectId: projectId,
                    },
                    success: function (data) {
                        let payrollDateInput = $('#payroll-date');
                        payrollDateInput.attr('readonly', false);
                        payrollDateInput.datepicker('destroy');
                        // payrollDateInput.destroy();
                        let disableList = [0, 1, 2, 3, 4, 5, 6];
                        let index = disableList.indexOf(data['weekEndDate']);
                        disableList.splice(index, 1);
                        payrollDateInput.datepicker({
                            uiLibrary: 'bootstrap4',
                            iconsLibrary: 'fontawesome',
                            disableDaysOfWeek: disableList,
                        });
                        payrollDateInput.val(data['previousPayrollDate']);
                    },
                    error: function (error) {
                        let payrollDateInput = $('#payroll-date');
                        payrollDateInput.attr('readonly', true);
                        payrollDateInput.datepicker('destroy');
                        payrollDateInput.addClass('form-control');
                        payrollDateInput.val('');
                    }
                });
            }
        }

        function getTeam() {
            let projectId;
            if (typeof sessionProjectId !== 'undefined') {
                projectId = sessionProjectId;
            } else {
                projectId = $('#project').val();
            }
            let dos = $('#dos').val();
            if (projectId && dos) {
                $.ajax({
                    url: 'teams',
                    data: {
                        projectId: projectId,
                        startDate: dos,
                    },
                    success: function (data) {
                        let select = $('select[name="team"]');
                        let selectedValue = select.val();
                        select.find("option").remove();
                        let selectOptionsStr = '';
                        if (data.indexOf(selectedValue) === -1) {
                            selectOptionsStr = '<option selected disabled hidden>Select</option>'
                        }
                        if (data.length !== 0) {
                            $.each(data, function (index, value) {
                                let selected = (value === selectedValue) ? 'selected' : '';
                                selectOptionsStr += `<option ${selected} value="${value}">${value}</option>`;
                            });
                            select.append(selectOptionsStr);
                        }
                    },
                });
            }
        }

        function generateReport() {
            let formLaborTime = $('#form-labor-time');
            if (!formLaborTime.valid()) return;
            let projectId;
            if (typeof sessionProjectId !== 'undefined') {
                projectId = sessionProjectId;
            } else {
                projectId = $('#project').val();
            }
            let team = $("select[name='team']").first().val();
            let dateOfService = $("input#dos").val();
            let payrollDate = $("input#payroll-date").val();
            timavenDocument('POST', 'v1', 'report-labor', true,
                'No time available at this condition',
                `projectId=${projectId}&teamName=${team}&dateOfService=${dateOfService}&payrollDate=${payrollDate}`);
        }

    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
