<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Report</title>
    <link href="../static/images/favicon.png" th:href="@{images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <link rel="stylesheet" href="../static/css/report.css" th:href="@{/css/report.css}" type="text/css"/>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/foreman::header"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/foreman::sidebar"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4 h-100 mt-5">
                <div class="container-fluid h-100">
                    <form id="form-cost-code" class="form-horizontal" style="padding: 0">
                        <div class="mb-3 row offset-3" style="padding-left: 15px; padding-right: 15px">
                            <label class="offset-1 col-3 control-label" style="text-align: left"
                                   onclick="sortRows('cc')">
                                <a href="javascript:void(0)">Cost Code</a>
                            </label>
                            <label class="col-2 control-label" style="text-align: left">
                                Percentage(%)
                            </label>
                        </div>
                        <div class="mb-3 row offset-3" style="padding-left: 15px; padding-right: 15px"
                             data-name="div-cost-code">
                            <div class="col-1">
                                <button class="btn btn-danger remove-cost-code"><i class="fa fa-minus"></i></button>
                            </div>
                            <div class="col-3">
                                <label>
                                    <select name="costCode" class="form-select cc" title="Select full cost code"
                                            unique="costCode"
                                            requiredIf="costCode">
                                        <option selected disabled hidden>Select</option>
                                        <option th:each="costCodeLog : ${costCodeLogs}"
                                                th:with="costCodeFull=${costCodeLog.costCodeFull}"
                                                th:value="${costCodeFull}"
                                                th:text="${costCodeFull}">12345678890
                                        </option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-2">
                                <label>
                                    <input name="costCodePerc" type="number" class="form-control ccperc"
                                           title="Enter percentage" requiredIf="ccperc"/>
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="mb-3 row offset-3" id="rowTemplate"
                         style="padding-left: 15px; padding-right: 15px; display: none"
                         data-name="div-cost-code">
                        <div class="col-1">
                            <button class="btn btn-danger remove-cost-code"><i class="fa fa-minus"></i></button>
                        </div>
                        <div class="col-3">
                            <label>
                                <select name="costCode" class="form-select" title="Select full cost code"
                                        unique="costCode"
                                        requiredIf="costCode">
                                    <option selected disabled hidden>Select</option>
                                    <option th:each="costCodeLog : ${costCodeLogs}"
                                            th:with="costCodeFull=${costCodeLog.costCodeFull}"
                                            th:value="${costCodeFull}"
                                            th:text="${costCodeFull}">11111111111
                                    </option>
                                </select>
                            </label>
                        </div>
                        <div class="col-2">
                            <label>
                                <input name="costCodePerc" type="number" class="form-control"
                                       title="Enter percentage" requiredIf="ccperc"/>
                            </label>
                        </div>
                    </div>

                    <div id="div-error" class="alert alert-danger col-4 offset-4"
                         style="display: none;padding-left: 15px; padding-right: 15px"></div>
                    <div class="mb-3 row offset-3" style="padding-left: 15px; padding-right: 15px">
                        <div class="col-1">
                            <button id="add-new" class="btn btn-success"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="offset-4 col-1">
                            <button type="button" class="btn btn-success" style="float: right;" onclick="trySubmit()">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<th:block layout:fragment="default_script">
    <script type="text/javascript">

        const errorRequired = "this field is required";

        $.validator.addMethod("unique", function (value, element, params) {
            let selector = $('div[data-name="div-cost-code"]:visible');
            let divCur = $(element).closest("div[data-name='div-cost-code']");
            value = divCur.find("select.cc").first().val();
            if ($.trim(value).length === 0) {
                return true;
            }
            let matches = [];
            $(selector).each(function (index, item) {
                let cInput = $(item).find("select.cc").first();
                if (value === $(cInput).val()) {
                    matches.push(item);
                }
            });
            let mLength = matches.length;
            if (mLength >= 2) {
                for (let i = 0; i < mLength; i++) {
                    $(matches[i]).find("select.cc").data('duplicate', true);
                }
            }
            // Self is included
            return mLength < 2;
        }, "Value is not unique.");

        $.validator.classRuleSettings.unique = {
            unique: true
        };

        const selectRequiredParam = 'costCode';
        const inputRequiredParam = 'ccperc';

        $.validator.addMethod("requiredIf", function (value, element, params) {
            let div = $(element).closest("div[data-name='div-cost-code']");
            let select = $(div).find("select.cc").first();
            let input = $(div).find("input.ccperc").first();
            let valCostCode = select.val();
            let valPerc = input.val();
            if (selectRequiredParam === params) {
                return (valCostCode) || (!valPerc);
            } else if (inputRequiredParam === params) {
                return (valPerc) || (!valCostCode);
            }
            return false;
        }, errorRequired);

        $.validator.classRuleSettings.requiredIf = {
            requiredIf: true
        };

        var inputs = null;

        $().ready(function () {
            $('#form-cost-code').validate({
                //Otherwise, validator will use title as error message
                ignoreTitle: true,
                errorPlacement: function (error, element) {
                    let cInput = $(element).closest("div[data-name='div-cost-code']").find("select.cc");
                    // Specify where to show the error
                    if ((!errorRequired === $(error).html()) && ($(element).hasClass('cc') || $(element).hasClass("po"))) {
                        error.insertAfter(cInput)
                    } else {
                        error.insertAfter(element);
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    if ($(element).data('duplicate')) {
                        $(element).closest("div[data-name='div-cost-code']").find("select.cc").addClass(errorClass).removeClass(validClass);
                    } else {
                        $(element).addClass(errorClass).removeClass(validClass);
                    }
                },
                unhighlight: function (element, errorClass, validClass) {
                    if ($(element).data('duplicate')) {
                        $(element).closest("div[data-name='div-cost-code']").find("select.cc").removeClass(errorClass).addClass(validClass);
                    } else {
                        $(element).removeClass(errorClass).addClass(validClass);
                    }
                }
            });
            inputs = $(".ccperc");
            $(inputs).keydown(function (e) {
                inputKeyEvent.call(this, e);
            });
            $('button.remove-cost-code').click(function () {
                removeCostCode(this)
            });
        });

        // Using JQuery Validate Plugin to validate multiple form fields with identical names
        $.validator.prototype.checkForm = function () {
            //overriden in a specific page
            this.prepareForm();
            for (var i = 0, elements = (this.currentElements = this.elements()); elements[i]; i++) {
                if (this.findByName(elements[i].name).length !== undefined && this.findByName(elements[i].name).length > 1) {
                    for (var cnt = 0; cnt < this.findByName(elements[i].name).length; cnt++) {
                        this.check(this.findByName(elements[i].name)[cnt]);
                    }
                } else {
                    this.check(elements[i]);
                }
            }
            return this.valid();
        };

        $('#add-new').click(function () {
            addNewCostCode();
        });

        function focusToNext() {
            var index = inputs.index(this);
            if (index === inputs.length - 1) {
                addNewCostCode();
            }
            inputs[index + 1].focus();
        }

        function inputKeyEvent(e) {
            if (e.which === 13) {
                // Prevent users from submitting a form by hitting Enter
                event.preventDefault();
                focusToNext.call(this);
            }
        }

        var i = 1;

        function addNewCostCode() {
            var $template = $('#rowTemplate');
            var $newRow = $template
                .clone()
                .removeAttr('id')
                .appendTo($('#form-cost-code'))
                .show();

            $newRow.find("select[name='costCode']").each(function () {
                $(this).attr('class', 'form-control cc');
                // jQuery Validate plugin will not work unless each input element contains a unique name
            });

            // id is used to identical which input id should be updated when syncing with server
            $newRow.find("input[name='costCodePerc']").each(function () {
                $(this).attr('class', 'form-control ccperc');
                // jQuery Validate plugin will not work unless each input element contains a unique name
                $(this).keydown(function (e) {
                    inputKeyEvent.call(this, e);
                });
            });

            $newRow.find("button.remove-cost-code").each(function () {
                $(this).click(function () {
                    removeCostCode(this)
                });
            });

            i++;
            inputs = $(".ccperc");
        }

        function removeCostCode(element) {
            $(element).closest("div[data-name='div-cost-code']").remove();
            i--;
            inputs = $(".ccperc");
        }

        const KEY_CC = "costCode";
        const KEY_PERC = "percentage";

        function trySubmit() {
            const formData = new FormData();
            // Validate error
            let form = $('#form-cost-code');
            let divError = $('#div-error');
            if (form.valid()) {
                let totalPerc = 0;
                let divItems = form.find("div[data-name='div-cost-code']:visible");
                let hasValues = false;
                let ind = 0;
                divItems.each(function () {
                    let select = $(this).find("select.cc").first();
                    let inputPerc = $(this).find("input.ccperc").first();
                    let valCostCode = select.val();
                    let valPerc = inputPerc.val();
                    if (valCostCode && valPerc) {
                        hasValues = true;
                        totalPerc = totalPerc + parseInt(valPerc);
                        formData.append(KEY_CC + "-" + ind, valCostCode);
                        formData.append(KEY_PERC + "-" + ind, valPerc);
                        ind++;
                    }
                });
                if (!hasValues) {
                    showError(divError, "There is no data");
                } else if (totalPerc > 100) {
                    showError(divError, "Total percentage cannot be more than 100");
                } else {
                    submitModule.submitReport(formData);
                }
            } else {
                showError(divError, "Please fix the error first");
            }
        }

        function showError(divFailed, message) {
            divFailed.html(message);
            divFailed.fadeTo(5000, 500).slideUp(500, function () {
                divFailed.slideUp(500);
            });
        }

        function sortRows(className) {
            var form, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            form = $('#form-cost-code');
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = form.find("div[data-name='div-cost-code']:visible");
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 0; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows.eq(i).find('.'.concat(className)).first();
                    y = rows.eq(i + 1).find('.'.concat(className)).first();
                    // x = rows.eq(i).children().children().eq(n);
                    // y = rows.eq(i + 1).children().children().eq(n);
                    /* Move no submission to bottom*/
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (x.val() === '' && y.val() !== '') {
                        shouldSwitch = true;
                        break;
                    } else if (x.val() !== '' && y.val() !== '') {
                        if (dir === "asc") {
                            if (x.val().toLowerCase() > y.val().toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir === "desc") {
                            if (x.val().toLowerCase() < y.val().toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</th:block>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
