<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Who is in</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/iziToast.min.css" th:href="@{/css/iziToast.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap-multiselect.css" type="text/css"
          th:href="@{/css/bootstrap-multiselect.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="../static/js/iziToast.min.js" th:src="@{/js/iziToast.min.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap-multiselect.js"
            th:src="@{/js/bootstrap-multiselect.js}"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
    <div th:replace="fragments/admin::header" sec:authorize="hasAnyRole('ROLE_admin')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-reports"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman')"></div>
            <div th:replace="fragments/admin::sidebar-reports" sec:authorize="hasAnyRole('ROLE_admin')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-reports"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100 mt-5">
                    <form id="form-employees">

                        <fieldset class="mb-3" th:if="${sessionProjectId == null}">
                            <label for="project">Project: (Required)</label>
                            <select id="project" class="form-select w-100"
                                    title="Select project" required>
                                <option selected disabled hidden>Select</option>
                                <option th:each="project : ${projects}"
                                        th:text="|${project.jobSubJob}    ${project.description == null ? '' : project.description}|"
                                        th:value="${project.id}">Project 1
                                </option>
                            </select>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="dos">Date of Service: (Required)</label>
                            <input id="dos" type="text" class="form-control"
                                   placeholder="Please select a date"/>
                        </fieldset>

                        <fieldset id="employees" class="mb-3">
                            <label for="sl-employee" style="font-size: 20px">Select absent employees</label>
                            <select id="sl-employee" multiple="multiple" class="form-select w-100"
                                    title="Select employees">
                                <option selected disabled hidden>Select</option>
                            </select>
                        </fieldset>

                        <input class="btn btn-success" style="margin-bottom: 50px; margin-top: 10px; float: right"
                               type="button" onclick="generateReport()"
                               value="Generate"/>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        let selectedEmployees = [];
        $(function () {
            $('#dos').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            })
            $('#sl-employee').multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                onChange: function (element, checked) {
                    let empIds = $('#sl-employee option:selected');
                    selectedEmployees = [];
                    $(empIds).each(function (index, empId) {
                        selectedEmployees.push($(this).val());
                    });
                }
            });
            $('#dos, #project').on('change', function () {
                getEmployees();
            })
        });

        function getEmployees() {
            let projectId;
            if (typeof sessionProjectId !== 'undefined') {
                projectId = sessionProjectId;
            } else {
                projectId = $('#project').val();
            }
            let dos = $('#dos').val();
            if (projectId && dos) {
                $.ajax({
                    url: 'employees/id/name',
                    data: {
                        projectId: projectId,
                        // dateOfService: isoDate,
                        dateOfService: dos,
                    },
                    success: function (data) {
                        let select = $('#sl-employee');
                        select.find("option").remove();
                        let selectOptionsStr = '';
                        if (data.length !== 0) {
                            $.each(data, function (index, value) {
                                selectOptionsStr += `<option value="${value['id']}">${value['fullName']}</option>`;
                            });
                            select.append(selectOptionsStr);
                        }
                        select.multiselect('rebuild');
                    },
                });
            }
        }

        function generateReport() {
            let projectId;
            if (typeof sessionProjectId !== 'undefined') {
                projectId = sessionProjectId;
            } else {
                projectId = $('#project').val();
            }
            let dos = $('#dos').val();
            if (!(projectId && dos)) {
                alert("Project and date of service are required");
                return;
            }
            timavenDocument('POST', 'v1', 'report-whoisin', true,
                '"No effective roster found for the date selected"',
                `projectId=${projectId}&dateOfService=${dos}`,JSON.stringify(selectedEmployees), "application/json");
        }
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
