<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Requisition</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" th:remove="tag"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript" th:remove="tag"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_purchasing')"></div>
            <div th:replace="fragments/corporate-accountant::sidebar-purchasing"
                 sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4" th:with="isCorporate = ${#authorization.expression('hasRole(''ROLE_corporate_accountant'')')}">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form id="form-requisition" th:object="${requisitionDto}">

                        <fieldset class="mb-3">
                            <input id="purchase-order-number" type="hidden" th:value="*{purchaseOrderNumber}">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="requisition-date">Requisition Date:</label>
                            <input class="form-control" id="requisition-date" th:name="requisitionDate"
                                   th:value="${#temporals.format(requisitionDto.requisitionDate, 'MM/dd/yyyy')}"
                                   type="text" required th:readonly="${!requisitionDto.newItem || isCorporate}"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="vendor-name">Vendor Name:</label>
                            <input class="form-control" id="vendor-name" th:field="*{vendorName}" type="text" th:readonly="${isCorporate}"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="requestor">Requestor:</label>
                            <input class="form-control" id="requestor" th:field="*{requestor}" required type="text" th:readonly="${isCorporate}"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="requisition-number">Requisition Number:</label>
                            <input class="form-control" id="requisition-number" th:field="*{requisitionNumber}"
                                   type="text" required th:readonly="${!requisitionDto.newItem || isCorporate}"/>
                        </fieldset>
                    </form>
                    <table id="table-line-item" class="table">
                        <thead>
                        <tr>
                            <th sec:authorize="not hasRole('ROLE_corporate_accountant')">
                                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-new" th:disabled="${isCorporate}">
                                    Add Item
                                </button>
                            </th>
                            <th>Part Number</th>
                            <th>Part Description</th>
                            <th>Quantity</th>
                            <th>Unit Cost</th>
                            <th>Extended Cost</th>
                            <th>Formatted Cost Distribution</th>
                            <th>Cost Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="requisitionLineDto : ${requisitionDto.requisitionLineDtos}"
                            th:attr="data-line-number=${requisitionLineDto.lineNumber}">
                            <td sec:authorize="not hasRole('ROLE_corporate_accountant')">
                                    <span style="color: red" data-type="delete-requisition">
                                        <i class="fas fa-minus-circle"></i>
                                    </span>
                            </td>
                            <td data-type="partNumber"><span th:text="${requisitionLineDto.partNumber}">Part Number</span></td>
                            <td data-type="partDescription"><span th:text="${requisitionLineDto.partDescription}">Part Description</span></td>
                            <td data-type="quantity"><span th:text="${requisitionLineDto.quantity}">1</span></td>
                            <td data-type="unitCost"><span th:text="${requisitionLineDto.unitCost}">10</span></td>
                            <td data-type="extendedCost"><span th:text="${requisitionLineDto.extendedCost}">10</span></td>
                            <td data-type="formattedCostDistribution"><span th:text="${requisitionLineDto.formattedCostDistribution}">Distribution</span></td>
                            <td data-type="costType"><span th:text="${requisitionLineDto.costType}">J</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3 me-md-4">
                        <div>
                            <button type="button" class="btn btn-warning me-md-2"
                                    onclick="window.history.go(-1); return false;">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-success me-md-2" onclick="saveRequisition()" sec:authorize="not hasRole('ROLE_corporate_accountant')">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
            <div id="add-new" class="modal fade">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add New Item</h4>
                        </div>
                        <div class="modal-body">
                            <form id="form-requisition-item">
                                <fieldset class="mb-3">
                                    <label for="part-number">Part Number:</label>
                                    <input class="form-control" id="part-number" type="text"/>
                                </fieldset>

                                <fieldset class="mb-3">
                                    <label for="part-description">Part Description:</label>
                                    <input class="form-control" id="part-description" type="text"/>
                                </fieldset>

                                <fieldset class="mb-3">
                                    <label for="quantity">Quantity:</label>
                                    <input class="form-control" id="quantity" type="number" step="any"/>
                                </fieldset>

                                <fieldset class="mb-3">
                                    <label for="unit-cost">Unit Cost:</label>
                                    <input class="form-control" id="unit-cost" type="number" step="any"/>
                                </fieldset>

                                <fieldset class="mb-3">
                                    <label for="unit-cost">Extended Cost:</label>
                                    <input class="form-control" id="extended-cost" type="number" step="any" readonly/>
                                </fieldset>

                                <fieldset class="mb-3">
                                    <label for="formatted-cost-distribution">Formatted Cost Distribution:</label>
                                    <select id="formatted-cost-distribution" class="form-select w-100" title="Select a cost code">
                                        <option value=""></option>
                                        <option th:each="costCodeLog : ${costCodeLogs}"
                                                th:value="${costCodeLog.costCodeFull}"
                                                th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                            1234567891 (Description)
                                        </option>
                                    </select>
                                </fieldset>

                                <fieldset class="mb-3">
                                </fieldset>

                                <fieldset class="mb-3">
                                    <label for="cost-type">Cost Type</label>
                                    <input class="form-control" id="cost-type" type="text"/>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-add-new-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $.fn.regexMask = function (mask) {
            $(this).keypress(function (event) {
                if (!event.charCode) return true;
                let part1 = this.value.substring(0, this.selectionStart);
                let part2 = this.value.substring(this.selectionEnd, this.value.length);
                if (!mask.test(part1 + String.fromCharCode(event.charCode) + part2))
                    return false;
            });
        };

        $(function () {

            let requisitionDateInput = $('#requisition-date');
            requisitionDateInput.datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            })
            if (!requisitionDateInput.val()) {
                requisitionDateInput.val(getToday());
            }

            let mask = new RegExp(/^[0-9]*$/);
            $("#quantity").regexMask(mask);

            $('#quantity,#unit-cost').change(function() {
                let quantity = parseFloat($('#quantity').val());
                quantity = isNaN(quantity) === undefined ? 0 : quantity;
                let unitCost = parseFloat($('#unit-cost').val());
                unitCost = isNaN(unitCost) ? 0 : unitCost;
                $('#extended-cost').val(quantity * unitCost);
            })

            $('#btn-add-new-ok').on('click', function() {
                let partNumber = $('#part-number').val();
                let partDescription = $('#part-description').val();
                let quantity = $('#quantity').val();
                let unitCost = $('#unit-cost').val();
                let extendedCost = $('#extended-cost').val();
                let formattedCostDistribution = $('#formatted-cost-distribution').val();
                let costType = $('#cost-type').val();

                let newTr = `<tr>` +
                    `<td><span style="color: red" data-type="delete-requisition"><i class="fas fa-minus-circle"></i></span></td>` +
                    `<td data-type="partNumber"><span>${partNumber}</span></td>` +
                    `<td data-type="partDescription"><span>${partDescription}</span></td>` +
                    `<td data-type="quantity"><span>${quantity}</span></td>` +
                    `<td data-type="unitCost"><span>${unitCost}</span></td>` +
                    `<td data-type="extendedCost"><span>${extendedCost}</span></td>` +
                    `<td data-type="formattedCostDistribution"><span>${formattedCostDistribution}</span></td>` +
                    `<td data-type="costType"><span>${costType}</span></td>` +
                `</tr>`
                $('table#table-line-item tbody').append(newTr);
                $('#add-new').find('input').val("");
                initDelete();
            });
            initDelete();
        });

        function initDelete() {
            $('span[data-type="delete-requisition"]').on('click', function() {
                $(this).closest('tr').remove();
            });
        }

        function saveRequisition() {
            let formRequisition = $('#form-requisition');
            if (formRequisition.get(0).reportValidity()) {
                let purchaseOrderNumber = $('#purchase-order-number').val();
                let requisitionDate = $('#requisition-date').val();
                let vendorName = $('#vendor-name').val();
                let requestor = $('#requestor').val();
                let requisitionNumber = $('#requisition-number').val();
                let requisitionLineDtos = [];
                $('table#table-line-item tbody tr').each(function (index) {
                    let requisitionLineDto = {
                        lineNumber: index + 1,
                        partNumber: $(this).find('td[data-type="partNumber"] span').text(),
                        partDescription: $(this).find('td[data-type="partDescription"] span').text(),
                        quantity: $(this).find('td[data-type="quantity"] span').text(),
                        unitCost: $(this).find('td[data-type="unitCost"] span').text(),
                        extendedCost: $(this).find('td[data-type="extendedCost"] span').text(),
                        formattedCostDistribution: $(this).find('td[data-type="formattedCostDistribution"] span').text(),
                        costType: $(this).find('td[data-type="costType"] span').text(),
                    };
                    requisitionLineDtos.push(requisitionLineDto);
                });
                let requisitionDto = {
                    purchaseOrderNumber: purchaseOrderNumber,
                    requisitionDate: requisitionDate,
                    vendorName: vendorName,
                    requestor: requestor,
                    requisitionNumber: requisitionNumber,
                    requisitionLineDtos: requisitionLineDtos,
                }
                $.ajax({
                    type: "POST",
                    url: 'requisition',
                    data: JSON.stringify(requisitionDto),
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    traditional: true,
                    success: function (callback) {
                        if (callback.lastIndexOf("success", 0) === 0) {
                            window.location = 'purchase-orders';
                        } else {
                            $("html").html(callback);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (401 === xhr.status || 403 === xhr.status) {
                            $("html").html(xhr.responseText);
                        }
                    }
                });
            }
        }

        function getToday() {
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth() + 1; //January is 0!
            let yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }
            today = mm + '/' + dd + '/' + yyyy;
            return today;
        }

    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
