<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>TiMaven</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link href="../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" src="webjars/js-cookie/2.2.1/js.cookie.js"
            th:src="@{/webjars/js-cookie/2.2.1/js.cookie.js}"></script>
    <script type="text/javascript" src="../static/js/token.js" th:src="@{/js/token.js}"></script>
    <script type="text/javascript" src="../static/js/logout.js" th:src="@{/js/logout.js}"></script>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 me-0" href="../index.html" th:href="@{/index}"
       sec:authorize="isAnonymous()">
        <img class="rounded mx-auto d-block" src="../../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
             alt="TiMaven" width="128" height="36">
    </a>
    <a class="navbar-brand col-sm-3 col-md-2 me-0" href="../index.html" th:href="@{/index}"
       sec:authorize="isAuthenticated()">
        <img class="rounded mx-auto d-block" src="../../static/images/logo_bh.png" th:src="@{/images/logo_bh.png}"
             alt="TiMaven" width="128" height="36">
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap" sec:authorize="isAnonymous()">
            <a class="nav-link" href="#" th:href="@{/login}">Log in</a>
        </li>
        <li class="nav-item text-nowrap" sec:authorize="isAuthenticated()">
            <a class="nav-link" href=""
               onclick="logout.logout()">
                Log out
            </a>
        </li>
    </ul>
</nav>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
            </header>
            <div class=" mt-3" th:each="role : ${roles}">
                <a th:href="@{/home(role=${role})}" class="btn btn-primary"
                   th:text="|Login as ${#strings.substring(role, 5)}|">
                    ROLE_project_manager
                </a>
            </div>
            <footer class="mt-auto">
            </footer>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
