<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Shift</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap 4 DatePicker js and css   -->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/admin::sidebar-projects" sec:authorize="hasRole('ROLE_admin')"></div>
            <div th:replace="fragments/manager-accountant::sidebar-project-setup" sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="container" style="margin-top: 50px;">
                    <form action="/shift" method="post" th:action="@{/shift}" th:object="${shift}">
                        <input th:if="${shift.id != null}" type="hidden" name="_method" value="put"/>
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                            <input th:field="*{projectId}" type="hidden">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="shiftName">Shift Name:</label>
                            <input class="form-control" id="shiftName" th:field="*{name}" type="text" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="scheduleStart">Default schedule start:</label>
                            <input class="form-control" id="scheduleStart" th:field="*{scheduleStart}" type="time" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="scheduleEnd">Default schedule end:</label>
                            <input class="form-control" id="scheduleEnd" th:field="*{scheduleEnd}" type="time" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="breakStart">Default break start:</label>
                            <input class="form-control" id="breakStart" th:field="*{breakStart}" type="time" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="breakEnd">Default break end:</label>
                            <input class="form-control" id="breakEnd" th:field="*{breakEnd}" type="time" required/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="paidBreakDuration">Paid break duration:</label>
                            <input class="form-control" id="paidBreakDuration" th:field="*{paidBreakDuration}" type="number" required/>
                        </fieldset>

                        <input class="btn btn-success" style="margin-bottom: 50px; margin-top: 10px; float: right" type="submit"
                               value="Submit"/>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        $.fn.regexMask = function (mask) {
            $(this).keypress(function (event) {
                if (!event.charCode) return true;
                let part1 = this.value.substring(0, this.selectionStart);
                let part2 = this.value.substring(this.selectionEnd, this.value.length);
                if (!mask.test(part1 + String.fromCharCode(event.charCode) + part2))
                    return false;
            });
        };

        $(document).ready(function () {
            let mask = new RegExp(/^[0-9]*$/);
            $("#paidBreakDuration").regexMask(mask)
            $('#scheduleStart').timepicker({
                // timeFormat: 'h:mm p',
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#scheduleEnd').timepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#breakStart').timepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
            $('#breakEnd').timepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
            });
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
