<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Tag Codes</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        div.dt-buttons {
            position: relative;
            float: right;
            margin-bottom: 1rem !important;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-project-setup"
                 sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3 mx-md-4">
                    <div>
                        <a class="btn btn-warning me-md-2" th:href="@{/tag-types}" href="./tag-types.html">
                            Back
                        </a>
                    </div>
                </div>
                <div class="container-fluid w-100 h-100">
                    <table id="tb-tags" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Code</td>
                            <td>Description</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove this code?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-delete" style="direction: ltr"
                          action="#"
                          th:action="@{/tag-codes}"
                          th:method="delete"
                          method="post">
                        <label>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        </label>
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">

        /*<![CDATA[*/

        let costCodeTagType = /*[[${costCodeTagType}]]*/ '';

        /*]]>*/
    </script>
    <script th:inline="javascript">

        $(function () {
            let urlPrefix = /*[[@{/tag-code}]]*/ '';
            $('#tb-tags').dataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": {
                    "url": `tag-code-list?typeId=${costCodeTagType.id}`,
                    "type": "POST",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {
                        "data": "idCode",
                        "render": function (data, type, row, meta) {
                            return '<a href="' + urlPrefix + '?id=' + data["id"] + '">' + data["code"] + '</a>'
                        }
                    },
                    {"data": "description"},
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            return `<a href="#deleteModal" data-id="${data}" data-type-id="${costCodeTagType.id}" class="btn btn-danger" data-bs-toggle="modal" title="Delete">Delete</a>`;
                        },
                        "orderable": false,
                        "searchable": false,
                    },
                ],
                "dom": "<'row'<'col-sm-7'l><'col-sm-2'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": [
                    {
                        text: `<i class="fas fa-plus"></i><span style="margin-left: 5px;">Code</span>`,
                        className: "btn btn-success float-end",
                        action: function (e, dt, node, config) {
                            window.location = `${urlPrefix}?typeId=${costCodeTagType.id}`;
                        },
                    }
                ]
            });

            let deleteModal = $('#deleteModal');
            deleteModal.on("show.bs.modal", function (e) {
                // set the username
                let prefix = /*[[@{/tag-codes}]]*/ '';
                let id = $(e.relatedTarget).data('id');
                let typeId = $(e.relatedTarget).data('type-id')
                $('form#form-delete').attr("action", prefix + `?id=${id}&typeId=${typeId}`);
            });
        });
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
