<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Tag Code</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
</head>

<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasRole('ROLE_project_manager')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/manager-accountant::sidebar-project-setup"
                 sec:authorize="hasRole('ROLE_project_manager')"></div>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
                <header class="mb-auto">
                </header>
                <div class="container-fluid w-100 h-100">
                    <form action="/code-segment" method="post" th:action="@{/tag-code}" th:object="${tag}">
                        <input th:if="${tag.id != null}" type="hidden" name="_method" value="put"/>
                        <label>
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        </label>
                        <fieldset class="mb-3">
                            <input th:field="*{id}" type="hidden">
                            <input th:field="*{typeId}" type="hidden">
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="code">Code: </label>
                            <input class="form-control" id="code" th:field="*{codeName}" type="text" value="This a code"/>
                        </fieldset>

                        <fieldset class="mb-3">
                            <label for="description">Description: </label>
                            <input class="form-control" id="description" th:field="*{description}" type="text" value="This a description"/>
                        </fieldset>

                        <div style="margin-bottom: 50px; margin-top: 10px; float: right">
                            <a href="tag-codes.html" class="btn btn-warning" style="margin-right: 25px;"
                                    th:href="@{/tag-codes(typeId=${tag.typeId})}">
                                Cancel
                            </a>
                            <input class="btn btn-success"
                                   type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
                <footer class="mt-auto">
                </footer>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
