<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Time Allocation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"
          th:remove="tag">
    <!-- Custom styles for this template -->
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script type="text/javascript" src="webjars/js-cookie/2.2.1/js.cookie.js" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/token.js" th:src="@{/js/token.js}" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/logout.js" th:src="@{/js/logout.js}" th:remove="tag"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
    <script src="../static/js/time-allocation.js" th:src="@{/js/time-allocation.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        option.custom-text-danger, li.custom-text-danger {
            color: red;
        }

        option.custom-text-danger:disabled, li.custom-text-danger:disabled {
            color: grey;
        }

        /*noinspection CssUnusedSymbol*/
        .select2-container {
            width: 100% !important;
        }

        input.form-control {
            min-width: 85px;
        }

        table {
            border-collapse: separate; /* Don't collapse */
            border-spacing: 0;
        }

        .table-responsive {
            height: calc(100vh - 60px - 25px - 70px - 21px - 38px - 24px - 24px - 25px);
            width: calc(100vw - 3rem);
            overflow: scroll;
            margin-top: 25px;
        }

        .table-bordered > :not(caption) > * > * {
            border-width: 1px 1px;
        }

        .fixed-header {
            z-index: 15 !important;
            background-color: white;
        }

        thead tr:nth-child(1) th {
            background: white;
            position: sticky;
            top: 0;
            z-index: 11;
        }

        .col-name {
            left: 0;
            position: sticky;
            z-index: 13;
            width: 160px;
            min-width: 160px;
            background-color: white !important;
        }

        .col-id {
            left: 160px;
            position: sticky;
            z-index: 13;
            width: 160px;
            min-width: 160px;
            background-color: white !important;
        }

        .col-craft {
            left: 320px;
            position: sticky;
            z-index: 13;
            width: 160px;
            min-width: 160px;
            background-color: white !important;
        }

        .col-crew {
            left: 480px;
            position: sticky;
            z-index: 13;
            width: 160px;
            min-width: 160px;
            background-color: white !important;
        }

        .col-net-time {
            left: 640px;
            position: sticky;
            z-index: 13;
            width: 80px;
            min-width: 80px;
            background-color: white !important;
        }

        .col-adjusted-time {
            left: 720px;
            position: sticky;
            z-index: 13;
            width: 80px;
            min-width: 80px;
            background-color: white !important;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"
         sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')"></div>
    <div th:replace="fragments/foreman::header" sec:authorize="hasRole('ROLE_foreman')"></div>
    <main role="main"
          th:with="finalized=${allocationSubmission.finalizedAt != null},
          payrollDate=${allocationSubmission.status != null ? ' Payroll Date ('+ allocationSubmission.payrollDate +')' : ''},
          approved=${allocationSubmission.status != null and allocationSubmission.status.toString() == 'APPROVED'},
          denied=${allocationSubmission.status != null and allocationSubmission.status.toString() == 'DENIED'}">
        <div class="d-flex justify-content-between" style="margin-top: 25px;">
            <div class="ms-4">
                <h1 style="display: inline;" th:text="|${teamName == null ? '' : teamName} (${dateOfService})|">Team A
                    (01/24/2019)</h1>
                <h1 style="display: inline" th:text="${payrollDate}" th:classappend="${isTlo ? 'text-danger' : ''}">WE (01/30/2019)</h1>
                <div class="form-check form-check-inline ms-4">
                    <input class="form-check-input" type="checkbox"
                           th:checked="${allocationSubmission.billingPurposeOnly}" value="" id="billing-purpose-only">
                    <label class="form-check-label" style="font-size: 20px;" for="billing-purpose-only">
                        Billing Purpose Only
                    </label>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')"
                 class="d-grid gap-3 d-md-flex justify-content-md-end me-4 py-3">
                <a class="btn btn-warning me-md-2" href="timesheets.html" th:href="@{/timesheets}">Cancel</a>
                <th:block th:unless="${finalized}">
                    <button type="button" class="btn btn-success me-md-2" onclick="saveTimeDistribution('')"
                            th:unless="${#strings.isEmpty(teamName)}"
                            th:disabled="${approved || denied}">
                        Save
                    </button>
                    <a href="#errorModal" class="btn btn-success me-md-2"
                       th:if="${#strings.isEmpty(teamName)}"
                       data-bs-toggle="modal" title="Save">
                        Save
                    </a>
                    <button type="button" class="btn btn-danger me-md-2"
                            th:unless="${denied || #strings.isEmpty(teamName)}"
                            th:disabled="${approved}"
                            onclick="saveTimeDistribution('DENIED')">
                        Deny
                    </button>
                    <button type="button" class="btn btn-warning me-md-2"
                            th:if="${denied}"
                            th:disabled="${approved}"
                            onclick="saveTimeDistribution('PENDING')">
                        Undo Deny
                    </button>
                    <button type="button" class="btn btn-success" onclick="saveTimeDistribution('APPROVED')"
                            th:unless="${approved || #strings.isEmpty(teamName)}"
                            th:disabled="${denied}">
                        Approve
                    </button>
                    <a href="#errorModal" class="btn btn-success me-md-2"
                       th:if="${#strings.isEmpty(teamName)}"
                       data-bs-toggle="modal" title="Approve">
                        Approve
                    </a>
                    <!-- TM-327 add exported authority -->
                    <button type="button" class="btn btn-warning" onclick="saveTimeDistribution('PENDING')"
                            th:if="${approved}"
                            th:disabled="${denied || exported}">
                        Undo Approve
                    </button>
                </th:block>
            </div>
            <div sec:authorize="hasRole('ROLE_foreman')"
                 class="d-grid gap-3 d-md-flex justify-content-md-end me-4 py-3">
                <button type="button" class="btn btn-warning me-md-2"
                        onclick="window.history.go(-1); return false;">
                    Cancel
                </button>
                <th:block th:unless="${finalized}">
                    <button type="button" class="btn btn-warning me-md-2"
                            onclick="saveTimeDistribution('APPROVED_PENDING')"
                            th:disabled="${finalized}"
                            th:if="${approved}">
                        Release again
                    </button>
                    <button type="button" class="btn btn-success me-md-2" onclick="saveTimeDistribution('RELEASED')"
                            th:disabled="${finalized}"
                            th:unless="${approved || denied}">
                        Save and Release
                    </button>
                    <button type="button" class="btn btn-success" onclick="saveTimeDistribution('')"
                            th:disabled="${finalized}"
                            th:unless="${approved || denied}">
                        Save
                    </button>
                </th:block>
            </div>
        </div>
        <div>
            <!--/*@thymesVar id="allocationSubmission" type="com.timaven.timekeeping.model.AllocationSubmission"*/-->
            <div class="col-2 ms-4" id="div-status"
                 th:attr="data-status=(${allocationSubmission.status != null} ? ${allocationSubmission.status} : 'PENDING')">
                Status:
                <span th:if="${finalized}">Finalized</span>
                <th:block th:unless="${finalized}">
                    <span th:text="${allocationSubmission.status != null} ? ${allocationSubmission.status} : 'PENDING'">
                    PENDING
                    </span>
                </th:block>
            </div>
        </div>

        <div class="d-grid gap-3 d-md-block my-4 ps-3">
            <button id="btn-add-new" type="button" class="btn btn-success" th:disabled="${finalized}">
                Add a cost code
            </button>
            <button id="btn-copy-previous" type="button" class="btn btn-primary ms-4" th:disabled="${finalized}">
                Copy previous cost code
            </button>
        </div>

        <div class="div-grid-view table-responsive mx-4">
            <form id="form-allocation" style="padding: 0">
                <table id="tb-time" class="table table-striped table-bordered grid-view">
                    <thead>
                    <tr>
                        <th class="searchable col-name fixed-header">
                            <div>Name</div>
                        </th>
                        <th class="sortable searchable col-id fixed-header">
                            <div>
                                <span data-type="title">ID</span>
                            </div>
                        </th>
                        <th class="sortable searchable col-craft fixed-header">
                            <div>
                                <span data-type="title">Craft</span>
                            </div>
                        </th>
                        <th class="col-crew fixed-header">
                            <div class="dropdown" style="display: inline;">
                                <a aria-expanded="false" aria-haspopup="true" data-bs-toggle="dropdown" href=""
                                   onclick="return false;" title="filter"><i class="fas fa-filter fa-xs"></i></a>
                                <ul class="dropdown-menu checkbox-menu allow-focus">
                                    <!--/*@thymesVar id="crewSet" type="java.util.Set"*/-->
                                    <li class="active" th:each="crew : ${crewSet}">
                                        <label>
                                            <!--/*@thymesVar id="crew" type="java.lang.String"*/-->
                                            <input checked onchange="timeAllocation.filterCrew($(this))"
                                                   th:value="${crew}"
                                                   type="checkbox" value="Supervisor">
                                            <span th:text="${crew}">Supervisor</span>
                                        </label>
                                    </li>
                                </ul>
                                Supervisor
                            </div>
                        </th>
                        <!--TM-273 Net time → Time on site  -->
                        <th class="col-net-time fixed-header">Time on site</th>
                        <th class="col-adjusted-time fixed-header">
                            <!--TM-273 Unallocated time → Net time (unallocated)  -->
                            <div class="dropdown" style="display: inline;">
                                Net time (unallocated)
                                <a href="" title="filter" data-bs-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false" onclick="return false;"><i class="fas fa-filter fa-xs"></i></a>
                                <ul class="dropdown-menu checkbox-menu allow-focus">
                                    <li class="active">
                                        <label>
                                            <input type="checkbox" checked value="normal"
                                                   onchange="timeAllocation.filterAllocation($(this))">Normal
                                        </label>
                                    </li>
                                    <li class="active">
                                        <label>
                                            <input type="checkbox" checked value="over"
                                                   onchange="timeAllocation.filterAllocation($(this))">Over Allocated
                                        </label>
                                    </li>
                                    <li class="active">
                                        <label>
                                            <input type="checkbox" checked value="under"
                                                   onchange="timeAllocation.filterAllocation($(this))">Under Allocated
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </th>
                        <th th:each="costCodeTagDto : ${costCodeTagDtos}" style="vertical-align: top">
                            <div style="white-space: nowrap">
                                <!--/*@thymesVar id="costCode" type="java.lang.String"*/-->
                                <span data-type="costCode" th:text="${costCodeTagDto.costCodeFull}">1234567890</span>
                                <button type="button" class="btn btn-danger btn-sm remove-cost-code"
                                        style="margin-left: 15px;"
                                        th:disabled="${finalized}">
                                    <i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-primary btn-sm apply-percentage"
                                        style="margin-left: 5px;" data-bs-toggle="modal"
                                        data-bs-target="#percModal" th:disabled="${finalized}">
                                    <i class="fas fa-angle-double-right"></i></button>
                                <button type="button"
                                        name="laborAddTag" class="btn btn-info btn-sm add-tag" style="margin-left: 5px;"
                                        th:disabled="${finalized}">
                                    <i class="fas fa-tags"></i></button>
                            </div>
                            <div class="mt-2">
                                Allocated <span data-name="allocated-hour">0</span> hours
                            </div>
                            <div class="mt-2">
                                <ol data-name="ol-tag" class="list-group list-group-numbered">
                                    <li th:each="costCodeTagAssociation : ${costCodeTagDto.costCodeTagAssociationDtos}"
                                        class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <span data-name="tag" class="fw-bold"
                                                  th:text="${costCodeTagAssociation.tagType}">IWP</span> :
                                            <span data-name="code" style="font-weight: 100"
                                                  th:text="${costCodeTagAssociation.codeName}">S01-1000X-01</span>
                                            <div style="position: absolute; left: -999em">
                                                <span data-name="type-desc" style="visibility: hidden"
                                                      th:text="${costCodeTagAssociation.typeDescription}">Type Desc</span>
                                                <span data-name="code-desc" style="visibility: hidden"
                                                      th:text="${costCodeTagAssociation.codeDescription}">Code Desc</span>
                                            </div>
                                        </div>
                                        <span style="color: red" data-name="remove-tag">
                                            <i class="fas fa-minus-circle"></i>
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </th>
                        <th class="th-per-diem">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="per-diem-all">
                                <label class="form-check-label" for="per-diem-all">
                                    Per Diem
                                </label>
                            </div>
                        </th>
                        <th class="th-mob">
                            <th:block>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mob-all">
                                    <label class="form-check-label" for="mob-all">
                                        MOB/DEMOB
                                    </label>
                                </div>
                                <div class="mt-2">
                                    <p>Mileage</p>
                                    <p class="mt-2">Amount</p>
                                </div>
                            </th:block>
                        </th>
                        <th class="th-rig-pay">Rig Pay</th>
                        <th>
                            <div class="dropdown" style="display: inline;">
                                <a href="" title="filter" data-bs-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false" onclick="return false;"><i class="fas fa-filter fa-xs"></i></a>
                                <ul id="ul-exception" class="dropdown-menu checkbox-menu allow-focus">
                                    <li class="active">
                                        <label>
                                            <input type="checkbox" checked value="false"
                                                   onchange="timeAllocation.filterException($(this))">empty
                                        </label>
                                    </li>
                                    <li class="active">
                                        <label>
                                            <input type="checkbox" checked value="true"
                                                   onchange="timeAllocation.filterException($(this))">not empty
                                        </label>
                                    </li>
                                </ul>
                                Exception Comment
                            </div>
                        </th>
                        <th th:if="${allocationSubmission.status == T(com.timaven.timekeeping.model.enums.AllocationSubmissionStatus).PENDING}">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:attr="data-index=${loop.index}, data-emp-id=${allocationTime.empId},
                                data-allocated-time=0, data-unallocated-time=${allocationTime.totalHour},
                                data-allow-per-diem=${allocationTime.employeeHasPerDiem},
                                data-per-diem-mode=${allocationTime.perDiem.perDiemMode},
                                data-per-diem-daily-threshold=${allocationTime.perDiem.dailyThreshold},
                                data-invalid-reason=${allocationTime.employeeInvalidReason}"
                        th:each="allocationTime, loop : ${allocationSubmission.allocationTimes}"
                        th:with="crew=${allocationTime.employeeCrew}, craft=${allocationTime.employeeCraft},
                                        allocationException=${allocationTime.allocationException}">
                        <td style="vertical-align: middle" class="col-name">
                            <div th:if="${allocationTime.allocationRecords}" style="display: inline;">
                                <a href="" title="Punch record details" class="info-circle"
                                   data-emp-id="1"
                                   th:attr="data-emp-id=${allocationTime.empId}" data-bs-toggle="popover"
                                   style="margin-right: 5px;" onclick="return false;"><i
                                        class="fas fa-info-circle"></i></a>
                                <div id="popover-1" th:id="|popover-${allocationTime.empId}|" style="display: none;">
                                    <ul class="list-group"
                                        th:with="allocationRecords=${allocationTime.allocationRecords}, punchExceptions=${allocationTime.punchExceptions}">
                                        <!--/*@thymesVar id="allocationRecord" type="com.timaven.timekeeping.model.AllocationRecord"*/-->
                                        <li class="list-group-item punch-record"
                                            th:each="allocationRecord : ${allocationRecords}">
                                                            <span th:text="|${doorName} ${txSide} at ${localDateTime} access|"
                                                                  th:with="localDateTime=${#temporals.format(allocationRecord.netEventTime, 'MM/dd/yy HH:mm')},
                                                                  txSide=(${allocationRecord.side} ? 'Entry' : 'Exit'),
                                                                  doorName=(*{allocationRecord.doorName} ? *{allocationRecord.doorName} : '')">
                                                                Entry at 01/24/2019 access
                                                            </span>
                                            <span class="text-success"
                                                  th:if="${allocationRecord.accessGranted}"> granted </span>
                                            <span class="text-danger"
                                                  th:unless="${allocationRecord.accessGranted}"> denied </span>
                                        </li>
                                        <li class="list-group-item" th:each="punchException : ${punchExceptions}">
                                            <!--/*@thymesVar id="punchException" type="com.timaven.timekeeping.model.PunchException"*/-->
                                            <p class="text-danger" data-exception="punch-exception"
                                               th:attr="data-order=${punchException.order}, data-type=${punchException.exceptionType}"
                                               th:text="${punchException.exception}">
                                                Punch in record missing for punch out 01/24/19 07:44
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span data-type="content"
                                  th:text="${allocationTime.fullName}">
                                                    Bruce, Lee
                                                </span>
                        </td>
                        <td class="col-id"><span data-type="content" th:text="${allocationTime.empId}">10000</span></td>
                        <td class="col-craft"><span data-type="content" th:text="${craft}">801</span></td>
                        <td class="col-crew" th:attr="data-crew=${crew}" style="text-overflow: ellipsis;">
                            <span th:text="${crew}">Supervisor</span>
                        </td>
                        <td class="col-net-time">
                            <span th:text="${T(com.timaven.timekeeping.common.SUtils).formatDecimal(allocationTime.netHour, 2)}">10.25</span>
                        </td>
                        <td class="col-adjusted-time" data-type="adjusted-time">0</td>
                        <td th:each="costCodeTagDto : ${costCodeTagDtos}" th:if="${costCodeTagDtos != null}">
                            <th:block
                                    th:with="costCodePerc=${allocationTime.getCostCodePerc(costCodeTagDto.hashCode())}">
                                <input class="form-control input-gv"
                                       data-type="allocation"
                                       name="subTotalHours"
                                       th:with="fmtSubTotalHour=(${costCodePerc != null} ? ${T(com.timaven.timekeeping.common.SUtils).formatDecimal(costCodePerc.totalHour, 2)} : 0)"
                                       type="number" step="any"
                                       value="10" th:disabled="${finalized}"
                                       th:value="${fmtSubTotalHour}"/>
                            </th:block>
                        </td>
                        <td class="td-per-diem">
                            <div class="mb-2">
                                <div style="display: inline">
                                    <label>
                                        <input name="manualPerDiem" th:disabled="${finalized}"
                                               type="checkbox" th:checked="${allocationTime.hasPerDiem}"
                                               onchange="displayPerDiem(this)">
                                    </label>
                                </div>
                                <input class="form-control"
                                       style="display: inline; width: 80%;"
                                       name="perDiemAmount" type="number" step="any" value="200"
                                       th:value="${allocationTime.perDiemAmount}">
                            </div>
                            <span style="font-weight: bold;" class="per-diem-span hidden_space"
                                  th:text="${#strings.isEmpty(allocationTime.perDiemCostCode) ? allocationTime.perDiem.costCode : allocationTime.perDiemCostCode}"></span>
                            <div class="hidden_space per-diem-tags">
                                <ol data-name="ol-tag" class="list-group list-group-numbered">
                                    <li th:each="costCodeTagAssociation : ${allocationTime.perDiemCostCodeTagAssociations}"
                                        class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <span data-name="tag" class="fw-bold"
                                                  th:text="${costCodeTagAssociation.tagType}">IWP</span> :
                                            <span data-name="code" style="font-weight: 100"
                                                  th:text="${costCodeTagAssociation.codeName}">S01-1000X-01</span>
                                            <div style="position: absolute; left: -999em">
                                                <span data-name="type-desc" style="visibility: hidden"
                                                      th:text="${costCodeTagAssociation.typeDescription}">Type Desc</span>
                                                <span data-name="code-desc" style="visibility: hidden"
                                                      th:text="${costCodeTagAssociation.codeDescription}">Code Desc</span>
                                            </div>
                                        </div>
                                        <span style="color: red" data-name="remove-tag">
                                                    <i class="fas fa-minus-circle"></i>
                                        </span>
                                    </li>
                                </ol>
                            </div>
                            <div class="mt-2 per-diem-buttons">
                                <button name="perDiemBtn" type="button" class="btn btn-success btn-sm hidden_space">Cost
                                    Code
                                </button>
                                <button name="perDiemAddTag" type="button" class="btn btn-info btn-sm add-tag ms-2"
                                        th:disabled="${finalized}">
                                    <i class="fas fa-tags"></i></button>
                            </div>
                        </td>
                        <td class="td-mob">
                            <div class="mb-2">
                                <div style="display: inline">
                                    <label>
                                        <input name="inputHasMob" th:disabled="${finalized}"
                                               type="checkbox" th:checked="${allocationTime.hasMob}"
                                               onchange="displayMob(this)">
                                    </label>
                                </div>
                                <input class="form-control" style="display: inline; width: 80%;"
                                       data-name="mobMileage" type="number" step="any" value="20"
                                       th:name="|mob-mileage-${loop.index}|"
                                       requiredIfMob="mob"
                                       th:value="${allocationTime.mobMileage}">
                                <div class="input-group mt-2 ms-4 hidden_space">
                                    <span class="input-group-text">$</span><span
                                        class="input-group-text" data-name="mobAmount"
                                        th:text="${allocationTime.mobAmount}">336</span>
                                </div>
                            </div>

                            <span style="font-weight: bold;" class="mob-span hidden_space"
                                  th:text="${#strings.isEmpty(allocationTime.mobCostCode) ? '' : allocationTime.mobCostCode}"></span>

                            <div class="hidden_space mob-tags">
                                <ol data-name="ol-tag" class="list-group list-group-numbered">
                                    <li th:each="costCodeTagAssociation : ${allocationTime.mobCostCodeTagAssociations}"
                                        class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <span data-name="tag" class="fw-bold"
                                                  th:text="${costCodeTagAssociation.tagType}">IWP</span> :
                                            <span data-name="code" style="font-weight: 100"
                                                  th:text="${costCodeTagAssociation.codeName}">S01-1000X-01</span>
                                            <div style="position: absolute; left: -999em">
                                                <span data-name="type-desc" style="visibility: hidden"
                                                      th:text="${costCodeTagAssociation.typeDescription}">Type Desc</span>
                                                <span data-name="code-desc" style="visibility: hidden"
                                                      th:text="${costCodeTagAssociation.codeDescription}">Code Desc</span>
                                            </div>
                                        </div>
                                        <span style="color: red" data-name="remove-tag">
                                            <i class="fas fa-minus-circle"></i>
                                        </span>
                                    </li>
                                </ol>
                            </div>
                            <div class="mt-2 mob-buttons hidden_space">
                                <button name="mobBtn" type="button" class="btn btn-success btn-sm">Cost
                                    Code
                                </button>
                                <button name="mobAddTag" type="button" class="btn btn-info btn-sm add-tag ms-2"
                                        th:disabled="${finalized}">
                                    <i class="fas fa-tags"></i></button>
                            </div>
                        </td>
                        <td class="td-rig-pay">
                        <span th:name="rigPayAmount" style="display: none"
                              th:text="'$' + ${allocationTime.craftRigPay ?: 0}">
                            $15
                        </span>
                        </td>
                        <td class="td-exception" style="white-space: normal">
                            <!-- adding index to help jquery validation. Otherwise it will only validate
                                 first element with the same name -->
                            <!-- data-type is used to by time-allocation.js -->
                            <!--/*@thymesVar id="allocationException" type="com.timaven.timekeeping.model.AllocationException"*/-->
                            <input class="form-control" data-type="exception"
                                   th:name="|input-exception-${loop.index}|"
                                   requiredIfAbnormal="unallocated-not-zero"
                                   requiredIfInvalid="employee-invalid"
                                   overwritePerDiem="manual-qualify-per-diem"
                                   th:data-id="${allocationException?.id}"
                                   th:value="${allocationException?.exception}"
                                   type="text" th:disabled="${finalized}"
                                   value="Test"/>
                        </td>
                        <td th:if="${allocationSubmission.status == T(com.timaven.timekeeping.model.enums.AllocationSubmissionStatus).PENDING}">
                            <a th:attr="data-id=${allocationTime.id}, data-index=${loop.index},
                             data-emp-id=${allocationTime.empId}, data-dos=${dateOfService}, data-team=${teamName}"
                               href="#deleteModal" class="btn btn-danger" data-bs-toggle="modal"
                               title="Delete">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add a new cost code</h4>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <div>
                                <label>Please select the type of the cost code</label>
                                <select id="sl-cost-code-type" class="form-select" title="Select a type"
                                        sec:authorize="hasAnyRole('ROLE_accountant', 'ROLE_accountant_foreman', 'ROLE_timekeeper')">
                                    <option value="default">Default</option>
                                    <option value="rain_out">Rain Out</option>
                                    <option value="mob" style="display: none">Mobilization & Demobilization fee</option>
                                    <option value="per_diem" style="display: none">Per Diem</option>
                                </select>
                            </div>
                        </div>
                        <th:block th:if="${rainOuts != null}">
                            <div id="div-rain-out-option" style="display: none">
                                <label>Please select a policy</label>
                                <select name="rain-out-policy" class="form-select" title="Select a policy">
                                    <option th:each="rainOut : ${rainOuts}" th:value="${rainOut.time}"
                                            th:text="${rainOut.name}">Default
                                    </option>
                                </select>
                            </div>
                        </th:block>
                        <label class="mt-2">Please select a cost code</label>
                        <select name="costCode" class="form-select w-100" title="Select a cost code">
                            <option value="" selected disabled hidden>Select</option>
                            <option th:each="costCodeLog : ${validCostCodeLogSet}"
                                    th:value="${costCodeLog.costCodeFull}"
                                    th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                1234567891 (Description)
                            </option>
                            <option value="" disabled>──────────</option>
                            <option data-type="other" class="custom-text-danger"
                                    th:each="costCodeLog : ${otherCostCodeLogSet}"
                                    th:value="${costCodeLog.costCodeFull}"
                                    th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                1234567892 (Description)
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal HTML -->
        <div id="percModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Please enter the percentage you want to assign from unallocated
                            time</h4>
                    </div>
                    <div class="modal-body">
                        <label for="input-apply-perc">
                            <input id="input-apply-perc" type="number" step="any"
                                   title="Enter percentage" value="100"/> %
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-apply-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="addTagModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Tag</h4>
                    </div>
                    <div class="modal-body">
                        <label>Please select a tag</label>
                        <select name="select-tag" class="form-select" title="Select a tag">
                            <option selected disabled hidden>Select</option>
                            <option th:each="costCodeTagType : ${costCodeTagTypes}" th:value="${costCodeTagType.id}"
                                    value="1"
                                    th:attr="data-desc=${costCodeTagType.description}"
                                    th:text="${costCodeTagType.tagType}">IWP
                            </option>
                        </select>
                        <label>Please select a code: (must select the type first)</label>
                        <select name="select-code" class="form-select" title="Select a code">
                            <option selected disabled hidden>Select</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-add-tag-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="errorModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header" style="display: block">
                        <h4 class="modal-title text-center">Error</h4>
                    </div>
                    <div class="modal-body">
                        <p>Missing timesheet configuration. Please delete this timesheet, update "Team" information
                            under employee roster, and re-upload the time record. </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="deleteModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header" style="display: block">
                        <div style="display: block; text-align: center">
                            <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                        </div>
                        <h4 class="modal-title text-center">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to remove this row?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                        <button id="btn-delete-time" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript"
            sec:authorize="hasAnyRole('ROLE_accountant_foreman', 'ROLE_accountant', 'ROLE_timekeeper')">
        let successPageUrl = 'timesheets'
    </script>
    <script th:inline="javascript" sec:authorize="hasRole('ROLE_foreman')">
        let successPageUrl = 'home';
    </script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let previousStatus = /*[[${allocationSubmission?.previousStatus}]]*/ '';
        let dateOfService = /*[[${dateOfService}]]*/ '';
        let payrollDate = /*[[${allocationSubmission?.payrollDate}]]*/ '';
        let allocationTimes = /*[[${allocationSubmission?.allocationTimes}]]*/ '';
        let rule = /*[[${rule}]]*/ '';
        let submissionId = /*[[${allocationSubmission?.id}]]*/ '';
        let submitUserId = /*[[${allocationSubmission?.submitUserId}]]*/ '';
        let projectId = /*[[${allocationSubmission?.projectId}]]*/ '';
        let approveUserId = /*[[${allocationSubmission?.approveUserId}]]*/ '';
        let reportSubmissionId = /*[[${allocationSubmission?.reportSubmissionId}]]*/ '';
        let teamName = /*[[${allocationSubmission?.teamName}]]*/ '';

        /*]]>*/
    </script>
    <script type="text/javascript">

        $(function () {
            timeAllocation.init();
            $('td').find('input[name="manualPerDiem"]').each(function (index) {
                displayPerDiem($(this));
            });
            $('td').find('input[name="inputHasMob"]').each(function (index) {
                displayMob($(this));
            });
            $('#per-diem-all').on('change', function () {
                let checked = $(this).is(':checked');
                $('td').find('input[name="manualPerDiem"]').prop("checked", checked).change();
            });
            $('#mob-all').on('change', function () {
                let checked = $(this).is(':checked');
                $('td').find('input[name="inputHasMob"]').prop("checked", checked).change();
            });


            $('select[name="costCode"]').select2({
                templateResult: function (data, container) {
                    if (data.element) {
                        $(container).addClass($(data.element).attr("class"));
                    }
                    return data.text;
                }
            })
            $('select[name="select-tag"]').select2({})
            $('select[name="select-code"]').select2({})
        });

        function displayPerDiem(input) {
            let checked = $(input).is(':checked');
            let perDiemInput = $(input).closest('td').find('input[name="perDiemAmount"]');
            let perDiemCostCodeBtn = $(input).closest('td').find('button[name="perDiemBtn"]')
            let perDiemCostCodeSpan = $(input).closest('td').find('span.per-diem-span');
            let perDiemTags = $(input).closest('td').find('div.per-diem-tags');
            let perDiemButtons = $(input).closest('td').find('div.per-diem-buttons');
            if (checked) {
                $(perDiemInput).removeClass("hidden_space").addClass("visible")
                $(perDiemCostCodeBtn).removeClass("hidden_space").addClass("visible")
                $(perDiemCostCodeSpan).removeClass("hidden_space").addClass("visible")
                $(perDiemTags).removeClass("hidden_space").addClass("visible")
                $(perDiemButtons).removeClass("hidden_space").addClass("visible")
            } else {
                $(perDiemInput).removeClass("visible").addClass("hidden_space")
                $(perDiemCostCodeBtn).removeClass("visible").addClass("hidden_space")
                $(perDiemCostCodeSpan).removeClass("visible").addClass("hidden_space")
                $(perDiemTags).removeClass("visible").addClass("hidden_space")
                $(perDiemButtons).removeClass("visible").addClass("hidden_space")
            }
        }

        function displayMob(input) {
            let checked = $(input).is(':checked');
            let mobInput = $(input).closest('td').find('input[data-name="mobMileage"]');
            let mobAmount = $(input).closest('td').find('span[data-name="mobAmount"]').closest('div');
            let mobCostCodeSpan = $(input).closest('td').find('span.mob-span');
            let mobTags = $(input).closest('td').find('div.mob-tags');
            let mobButtons = $(input).closest('td').find('div.mob-buttons');
            if (checked) {
                $(mobInput).removeClass("hidden_space").addClass("visible")
                $(mobAmount).removeClass("hidden_space").addClass("visible")
                $(mobCostCodeSpan).removeClass("hidden_space").addClass("visible")
                $(mobTags).removeClass("hidden_space").addClass("visible")
                $(mobButtons).removeClass("hidden_space").addClass("visible")
            } else {
                $(mobInput).removeClass("visible").addClass("hidden_space")
                $(mobAmount).removeClass("visible").addClass("hidden_space")
                $(mobCostCodeSpan).removeClass("visible").addClass("hidden_space")
                $(mobTags).removeClass("visible").addClass("hidden_space")
                $(mobButtons).removeClass("visible").addClass("hidden_space")
            }
        }

        function saveTimeDistribution(newStatus) {
            timeAllocation.saveTimeDistribution(newStatus, 'save-time', successPageUrl);
        }
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
