<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">

<head>
    <title>User Setting</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png" th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/bootstrap-password-toggler.min.js"
            th:src="@{/js/bootstrap-password-toggler.min.js}"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <th:block sec:authorize="hasRole('ROLE_project_manager')">
        <script type="text/javascript" src="../static/js/bootstrap-multiselect.js" th:src="@{/js/bootstrap-multiselect.js}"></script>
        <link rel="stylesheet" href="../static/css/bootstrap-multiselect.css" type="text/css" th:href="@{/css/bootstrap-multiselect.css}"/>
        <script type="text/javascript" src="../static/js/user.js" th:src="@{/js/user.js}"></script>
    </th:block>
</head>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/super-admin::header" sec:authorize="hasRole('ROLE_super_admin')"></div>
    <div th:replace="fragments/admin::header" sec:authorize="hasRole('ROLE_admin')"></div>
    <div th:replace="fragments/manager-accountant::header" sec:authorize="hasAnyRole('ROLE_project_manager', 'ROLE_accountant',
     'ROLE_accountant_foreman', 'ROLE_timekeeper', 'ROLE_purchasing')"></div>
    <div th:replace="fragments/corporate-accountant::header"
         sec:authorize="hasAnyRole('ROLE_corporate_accountant', 'ROLE_corporate_timekeeper')"></div>
    <div th:replace="fragments/foreman::header" sec:authorize="hasRole('ROLE_foreman')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <main role="main">
                <H1>Update a user</H1>
                <form id="form" action="/users" method="post" th:action="@{/user}" th:object="${user}">
                    <input type="hidden" name="_method" value="put"/>
                    <label>
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                    </label>

                    <input th:field="*{id}" type="hidden"/>
                    <input th:field="*{username}" type="hidden"/>
                    <input th:field="*{password}" type="hidden"/>
                    <input th:field="*{displayName}" type="hidden"/>
                    <input th:if="*{#strings.isEmpty(ipAddress)}" th:field="*{ipAddress}" type="hidden"/>
                    <input th:if="*{loggedInAt != null}" th:field="*{loggedInAt}" type="hidden"/>

                    <fieldset class="mb-3">
                        <label for="passwordConfirm">New Password:</label>
                        <div class="input-group">
                            <input id="passwordConfirm" name="new_password" type="password" class="form-control"
                                   placeholder="New Password" data-toggle="password" th:field="*{passwordConfirm}"/>
                            <label id="passwordConfirm-error" for="passwordConfirm" class="error"></label>
                        </div>
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="confirmPassword">Password Confirm:</label>
                        <input id="confirmPassword" name="password_confirm" type="password" class="form-control"
                               placeholder="Confirm" data-toggle="password"/>
                        <label id="confirmPassword-error" for="confirmPassword" class="error"></label>
                    </fieldset>

                    <th:block th:if="${isSelf}">
                        <input th:field="*{roleIds}" type="hidden"/>
                    </th:block>
                    <th:block th:unless="${isSelf}">
                        <fieldset class="mb-3" sec:authorize="hasAnyRole('ROLE_super_admin', 'ROLE_admin', 'ROLE_project_manager')">
                            <label>Role:</label>
                            <div class="form-control" th:each="instance : ${roleIdMap}">
                                <input type="checkbox" th:field="*{roleIds}" th:value="${instance.value}"/>
                                <label th:for="${#ids.prev('roleIds')}"
                                       th:text="${instance.key.displayName}">
                                    Project Manager</label>
                                <a tabindex="0" href="" title="role capability" class="info-circle"
                                   data-bs-toggle="popover" data-bs-trigger="focus" th:attr="data-bs-content=${instance.key.description}"
                                   style="margin-left: 5px;" onclick="return false;" data-bs-content="This is the content">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </div>
                        </fieldset>

                        <fieldset class="mb-3" sec:authorize="hasRole('ROLE_project_manager')">
                            <div id="div-teams" class="mt-2">
                                <label style="font-size: 15px">Please select the teams to assign to the foreman user: </label>
                                <select id="sl-team" multiple="multiple" th:field="*{teams}" class="form-select ms-3"
                                        th:unless="${teams == null || teams.size() == 0}">
                                    <option th:each="team : ${teams}" th:text="${team}", th:value="${team}">Team A</option>
                                </select>
                                <span th:if="${teams == null || teams.size() == 0}">You haven't uploaded your roster. Please upload it first.</span>
                            </div>
                        </fieldset>

                        <fieldset class="mb-3" sec:authorize="hasRole('ROLE_super_admin') or hasRole('ROLE_admin') or hasRole('ROLE_project_manager')">
                            <label for="active">Validity:</label>
                            <select class="form-select" id="active" th:field="*{active}">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </fieldset>
                    </th:block>

                    <input class="btn btn-success me-md-2" type="submit" value="Submit"/>
                    <a class="btn btn-warning" href="home.html" th:href="@{/home}">Cancel</a>
                </form>
            </main>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script type="text/javascript">
        $(function () {
            $('#form').validate({
                rules: {
                    new_password: {
                        minlength: 5
                    },
                    password_confirm: {
                        minlength: 5,
                        equalTo: "#passwordConfirm"
                    }
                }
            });
            let selectTeam = $('#div-teams');
            if (selectTeam.length > 0) {
                $('#sl-team').multiselect();
                userModule.init();
            }
            $('span.input-group-text').addClass('h-100');
            $('.info-circle').popover({
                trigger: 'focus'
            });
        });
    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
