<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Weekly Payroll</title>
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.css"/>
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="../static/js/timaven-document.js" th:src="@{/js/timaven-document.js}"></script>
    <script src="../static/js/moment.js" th:src="@{/js/moment.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <style type="text/css">
        td {
            white-space: normal;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/corporate-accountant::header" sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
    <div th:replace="fragments/admin::header" sec:authorize="hasAnyRole('ROLE_admin')"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div th:replace="fragments/corporate-accountant::sidebar-labor-time" sec:authorize="hasAnyRole('ROLE_corporate_accountant')"></div>
            <main role="main" class="ms-sm-auto px-4" th:classappend="${#authorization.expression('hasAnyRole(''ROLE_corporate_accountant'')') ? 'col-md-9 col-lg-10' : ''}">
                <div class="container-fluid w-100 h-100 py-5">
                    <!-- TM-268 corporate payroll process page -->
                    <table id="tb-weekly-payroll" class="table table-striped" style="width: 100%;">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Project</th>
                            <th>Timesheet</th>
                            <th># of Employee</th>
                            <th>Total Hours</th>
                            <th>Submitted by</th>
                            <th>Status</th>
                            <th>Processed by</th>
                            <th>Payroll Report Generated on</th>
                            <th>Finalize by</th>
                            <th>Per Diem</th>
                            <th>Project Manager</th>
                            <th>Project Accountant</th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>Project</td>
                            <th>Timesheet</th>
                            <td># of Employee</td>
                            <td>Total Hours</td>
                            <td>Submitted by</td>
                            <td>Status</td>
                            <td>Processed by</td>
                            <th>Payroll Report Generated on</th>
                            <th>Finalize by</th>
                            <th>Per Diem</th>
                            <td>Project Manager</td>
                            <td>Project Accountant</td>
                            <td>Comments</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <div id="reject-payroll" class="modal fade" sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                    <h4 class="modal-title text-center">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: center">Do you really want to reject selected projects?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                    <button id="submit-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- TM-309 add reject prompt -->
    <div id="reject-prompt" class="modal fade" sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="text-align: center">The selected payroll has been finalized</p>
                    <p style="text-align: center">You need to contact payroll admin to overwrite</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- TM-364 add export prompt -->
    <div id="export-prompt" class="modal fade" sec:authorize="hasAnyRole('ROLE_corporate_accountant')">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <div style="display: block; text-align: center">
                        <i class="fas fa-exclamation-circle fa-7x" style="color: #DC3545"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="text-align: center">The project <span id="export-prompt-project"></span> data for <span
                            id="export-prompt-weekend"></span> has not been submitted by the project team yet</p>
                    <p style="text-align: center">Please ask project team to submit payroll first</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">
    <script th:inline="javascript">
        let isAdmin = /*[[${#authorization.expression('hasRole(''ROLE_admin'')')}]]*/ false;
    </script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let weekEndDate = [[${weekEndDate}]];
        /*]]>*/
    </script>
    <script th:inline="javascript">
        let projectIds = [];

        $(function () {
            // TM-268 corporate payroll process page
            $.ajax({
                url: "weekly-payroll-data?weekEndDate=" + weekEndDate,
                type: "GET",
                success: function (tableData) {
                    initDataTable(tableData);
                }
            })
            $('#submit-ok').click(function () {
                let ids = [];
                $.map(projectIds, function (data) {
                    ids.push(data["id"]);
                });
                if (ids.length > 0) {
                    $.ajax({
                        type: "PUT",
                        url: "weekly-payroll?status=REJECT",
                        data: JSON.stringify(ids),
                        contentType: "application/json;charset=utf-8",
                        dataType: "text",
                        traditional: true,
                        success: function (callback) {
                            if (callback.lastIndexOf("success", 0) === 0) {
                                location.reload();
                            } else {
                                $("html").html(callback);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            if (401 === xhr.status || 403 === xhr.status) {
                                $("html").html(xhr.responseText);
                            }
                        }
                    });

                } else {
                    alert('Please select projects first')
                }
            });

        });

        // TM-268 corporate payroll process page
        function bindTagEvents() {
            $('select.per-diem-taxable').on('change', function () {
                let id = $(this).data('row-id');
                let taxablePerDiem = $(this).find(':selected').val();
                $.ajax({
                    type: "PUT",
                    url: `per-diem-taxable?id=${id}&taxablePerDiem=${taxablePerDiem}`,
                    dataType: "text",
                    success: function (callback) {
                    },
                    error: function () {
                    }
                });
            })
            $('input.comment').on("change", function () {
                let id = $(this).data('row-id');
                let comment = $(this).val();
                $.ajax({
                    type: "PUT",
                    url: `weekly-payroll-comment?id=${id}&comment=${comment}`,
                    dataType: "text",
                    success: function (callback) {
                    },
                    error: function () {
                    }
                });
            });
            $.ajax({
                url: 'feature-flags',
                success: function (data) {
                    if (!data['payroll-report']) {
                        $('#btn-print').hide();
                    }
                },
            });
        }

        // TM-268 corporate payroll process page
        // TM-364 add isSubmit and row.project params
        function checkRows(checkElement, projectId, status, submitted, projectJobNumber) {
            // TM-309 add reject prompt
            let data = {
                "id": projectId,
                "status": status,
                "submitted": submitted,
                "projectJobNumber": projectJobNumber
            }
            if (checkElement.checked) {
                projectIds[projectIds.length] = data;
            } else {
                $.each(projectIds, function (index, value) {
                    if (value !== undefined && value["id"] === data["id"]) {
                        projectIds.splice(index, 1);
                    }
                });
            }
        }

        // TM-268 corporate payroll process page
        function initDataTable(tableData) {
            let buttonExport = {
                text: `<i class="fa fa-print"></i><span style="margin-right: 5px;" id="btn-print"> Export</span>`,
                className: "btn float-end",
                id: 'btn-print',
                title: 'Print selected projects\' payroll reports',
                attr: {
                    style: 'margin-right: 15px;margin-bottom: 10px;'
                },
                action: function (e, dt, node, config) {
                    let ids = [];
                    let projectJobNumber = "";
                    $.map(projectIds, function (data) {
                        ids.push(data["id"]);
                        // TM-364 checked submit does it exist
                        if (!data["submitted"]) {
                            projectJobNumber += data["projectJobNumber"] + ",";
                        }
                    });
                    // TM-364 checked true show export-prompt
                    if (projectJobNumber) {
                        $('#export-prompt-project').text(projectJobNumber.substring(0, projectJobNumber.length - 1));
                        $('#export-prompt-weekend').text(weekEndDate);
                        $('#export-prompt').modal('show');
                        return;
                    }
                    if (ids.length > 0) {
                        let payload = {
                            ids: ids,
                            weekEndDate: weekEndDate,
                        }
                        timavenDocument('POST', 'v1', 'payroll-report', true,
                            'No payroll report available for this time period, because no dates are available',
                            ``, JSON.stringify(payload), "application/json");
                    } else {
                        alert('Please select projects first')
                    }
                }
            };
            let buttonReject = {
                text: `<i class="fas fa-undo-alt"></i><span style="margin-right: 5px;" id="btn-reject"> Reject</span>`,
                className: "btn float-end",
                id: 'btn-reject',
                attr: {
                    style: 'margin-right: 15px;margin-bottom: 10px;'
                },
                title: 'Print selected projects\' to reject',
                action: function (e, dt, node, config) {
                    // TM-309 add reject prompt
                    let existFinalize = false;
                    $.map(projectIds, function (data) {
                        if (data["status"] == "Finalized") {
                            existFinalize = true;
                        }
                    });
                    if (existFinalize) {
                        $('#reject-prompt').modal('show');
                    } else {
                        $('#reject-payroll').modal('show');
                    }
                }
            };
            let buttonFinalize = {
                text: `<i class="fas fa-lock"></i><span style="margin-right: 5px;" id="btn-finalize"> Finalize</span>`,
                className: "btn float-end",
                id: 'btn-finalize',
                attr: {
                    style: 'margin-right: 15px;margin-bottom: 10px;'
                },
                title: 'Print selected projects\' to finalize',
                action: function (e, dt, node, config) {
                    let ids = [];
                    $.map(projectIds, function (data) {
                        ids.push(data["id"]);
                    });
                    if (ids.length > 0) {
                        $.ajax({
                            type: "PUT",
                            url: "weekly-payroll?status=FINALIZE",
                            data: JSON.stringify(ids),
                            contentType: "application/json;charset=utf-8",
                            dataType: "text",
                            traditional: true,
                            success: function (callback) {
                                if (callback.lastIndexOf("success", 0) === 0) {
                                    location.reload();
                                } else {
                                    $("html").html(callback);
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                if (401 === xhr.status || 403 === xhr.status) {
                                    $("html").html(xhr.responseText);
                                }
                            }
                        });
                    } else {
                        alert('Please select projects first')
                    }
                }
            };
            let buttonUnfinalize = {
                text: `<i class="fas fa-unlock"></i><span style="margin-left: 5px;" id="btn-finalize">Unfinalize</span>`,
                className: "btn float-end",
                id: 'btn-unfinalize',
                attr: {
                    style: 'margin-right: 15px;margin-bottom: 10px;'
                },
                title: 'Print selected projects\' to unfinalize',
                action: function (e, dt, node, config) {
                    let ids = [];
                    $.map(projectIds, function (data) {
                        ids.push(data["id"]);
                    });
                    if (ids.length > 0) {
                        $.ajax({
                            type: "PUT",
                            url: "weekly-payroll?status=UNFINALIZE",
                            data: JSON.stringify(ids),
                            contentType: "application/json;charset=utf-8",
                            dataType: "text",
                            traditional: true,
                            success: function (callback) {
                                if (callback.lastIndexOf("success", 0) === 0) {
                                    location.reload();
                                } else {
                                    $("html").html(callback);
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                if (401 === xhr.status || 403 === xhr.status) {
                                    $("html").html(xhr.responseText);
                                }
                            }
                        });
                    } else {
                        alert('Please select projects first')
                    }
                }
            };
            let accountantBtn = [
                buttonExport,
                buttonReject,
                buttonFinalize,
            ]
            let adminBtn = [
                buttonFinalize,
                buttonUnfinalize,
            ]
            let table = $('#tb-weekly-payroll').DataTable({
                "processing": true,
                "data": tableData,
                "columns": [
                    {
                        "data": "checkboxes",
                        "render": function (data, type, row, meta) {
                            // TM-309 add reject prompt
                            let result = "Pending";
                            if (row.finalizeUser != null) {
                                result = "Finalized"
                            } else if (row.rejectUser != null) {
                                result = "Reject";
                            }
                            // TM-364 checkRows add isSubmit and row.project params
                            let submitted = (row.approvedAt != null || row.finalizedAt != null);
                            return "<input type=\"checkbox\" width='40px' onclick='checkRows(this," + row.id + ",\"" + result + "\"," + submitted + ",\"" + row.project + "\")'>"
                        }
                    },
                    {
                        "data": "id",
                        "visible": false,
                        "searchable": false,
                        "render": function (data, type, row, meta) {
                            return "<span>" + data + "</span>"
                        }
                    },
                    {"data": "project"},
                    {"data": "teamName"},
                    {"data": "employeeCount"},
                    {"data": "totalHours"},
                    {
                        "data": "approveUser",
                        "render": function (data, type, row, meta) {
                            let reuslt = "";
                            if (data != null) {
                                reuslt = data.displayName + " " + moment.utc(row.approvedAt).local().format('MM/DD/yyyy HH:mm');
                            }
                            return reuslt;
                        }
                    },
                    {
                        "data": "",
                        "render": function (data, type, row, meta) {
                            let result = "Pending";
                            if (row.finalizeUser != null) {
                                result = "Finalized"
                            } else if (row.rejectUser != null) {
                                result = "Reject";
                                result = "Rejected"; // TM-385 Change Reject -> Rejected
                            } else if (row.generatedAt) { // TM-385 Add new status
                                result = "Exported";
                            } else if (row.approveUser) { // TM-385 Add new status
                                result = "Project Submitted"
                            }
                            return result;
                        }
                    },
                    {
                        "data": "",
                        "render": function (data, type, row, meta) {
                            let result = "";
                            if (row.finalizeUser != null) {
                                result = row.finalizeUser.displayName + " " + moment.utc(row.finalizedAt).local().format('MM/DD/yyyy HH:mm');
                            } else if (row.rejectUser != null) {
                                result = row.rejectUser.displayName + " " + moment.utc(row.rejectedAt).local().format('MM/DD/yyyy HH:mm');
                            }
                            return result;
                        }
                    },
                    {
                        "data": "generatedAt",
                        "render": function (data, type, row, meta) {
                            if (data !== null) {
                                return moment.utc(data).local().format('MM/DD/yyyy HH:mm');
                            }
                            return '';
                        }
                    },
                    // TM 365
                    // Add a "Finalized" status column to the corporate payroll process page
                    {
                        "data": "finalizeUser",
                        "render": function (data, type, row, meta) {
                            if (data !== null) {
                                return row.finalizeUser.displayName + " " + moment.utc(row.finalizedAt).local().format('MM/DD/yyyy HH:mm');
                            }
                            return '';
                        }
                    },
                    {
                        "data": "taxablePerDiem",
                        "render": function (value, type, row, meta) {
                            return `<select data-row-id="${row.id}" class="form-select per-diem-taxable" aria-label="Select per diem taxable type" ${isAdmin ? 'disabled' : ''}>` +
                                '<option value="true" ' + (value === true ? 'selected="selected" ' : '') + '>Taxable</option>' +
                                '<option value="false" ' + (value === false ? 'selected="selected" ' : '') + '>Non-Taxable</option>' +
                                '</seleclt>';
                        }
                    },
                    {
                        "data": "projectManagers",
                        "render": function (data, type, row, meta) {
                            let elements = '';
                            if (Array.isArray(data)) {
                                $.each(data, function (index, value) {
                                    elements += `<p>${value}</p>`;
                                });
                            }
                            return elements;
                        }
                    },
                    {
                        "data": "projectAccountants",
                        "render": function (data, type, row, meta) {
                            let elements = '';
                            if (Array.isArray(data)) {
                                $.each(data, function (index, value) {
                                    elements += `<p>${value}</p>`;
                                });
                            }
                            return elements;
                        }
                    },
                    {
                        "data": "comment",
                        "render": function (data, type, row, meta) {
                            let comment = '';
                            if (data != undefined && data != null) {
                                comment = data;
                            }
                            return `<span style="display: none">` + comment + `</span><input data-row-id="${row.id}" class="form-control comment" type="text" value="${comment}" ${isAdmin ? 'disabled' : ''}/>`;
                        }
                    }
                ],
                "initComplete": bindTagEvents,
                "dom": "<'row'<'col-sm-5'B>><'row'<'col-sm-5'l><'col-sm-7'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": isAdmin ? adminBtn : accountantBtn,
            });
            // Setup - add a text input to each footer cell
            $('#tb-weekly-payroll thead tr').clone(false).appendTo('#tb-weekly-payroll thead');
            $('#tb-weekly-payroll thead tr:eq(1) th').each(function (i) {
                let title = $(this).text();
                //  remover search sort
                $(this).removeClass("sorting");
                if (title != null && title != undefined && title != "") {
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                    $('input', this).on('keyup change', function () {
                        if (table.column(i + 1).search() !== this.value) {
                            table.column(i + 1)
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });
        }

    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/datatables.min.js"></script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
