<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Weekly Timesheet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
          th:remove="tag">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"
          th:remove="tag">
    <!-- Custom styles for this template -->
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png"
          th:remove="tag">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" th:remove="tag">
    <link href="../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet" th:remove="tag">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap-multiselect.css" th:href="@{/css/bootstrap-multiselect.css}" rel="stylesheet"/><!-- TM-314 -->
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" th:remove="tag"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="../static/js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <!--    <script type="text/javascript" src="webjars/js-cookie/2.2.1/js.cookie.js" th:remove="tag"></script>-->
    <script src="../static/js/bootstrap-multiselect.js" th:src="@{/js/bootstrap-multiselect.js}"></script><!-- TM-314 -->
    <script type="text/javascript" src="../static/js/token.js" th:src="@{/js/token.js}" th:remove="tag"></script>
    <script type="text/javascript" src="../static/js/logout.js" th:src="@{/js/logout.js}" th:remove="tag"></script>
    <script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../static/js/weekly-process.js" th:src="@{/js/weekly-process.js}"></script>
</head>
<th:block layout:fragment="default_style">
    <!--suppress CssUnusedSymbol -->
    <style>

        .table-responsive {
            height: calc(100vh - 60px - 38px - 3rem - 41px - 1rem - 25px);
            width: calc(100vw - 3rem);
            overflow: scroll;
            margin-top: 25px;
        }

        .table-bordered > :not(caption) > * > * {
            border-width: 1px 1px;
        }

        thead tr:nth-child(1) th {
            background: white;
            position: sticky;
            top: 0;
            z-index: 11;
        }

        thead tr:nth-child(2) th {
            background: white;
            position: sticky;
            z-index: 10;
        }

        table {
            border-collapse: separate; /* Don't collapse */
            border-spacing: 0;
        }

        input.form-control {
            width: 85px;
        }

        input.form-control.total {
            width: 85px;
        }

        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

        li.custom-text-danger {
            color: red;
        }

        li.custom-text-danger:disabled {
            color: grey;
        }

        .select2-container {
            width: 80% !important;
        }

        .add-tag {
            width: 20% !important;
        }

        /*input[type=checkbox][disabled] {*/
        /*    filter: invert(25%);*/
        /*}*/
        .labor-pd-div label {
            display: inline;
        }
        .labor-pd-div input[type="checkbox"][disabled] {
            display: none;
        }
        input[type="checkbox"][disabled]:checked + label {
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 1px 9px 1px 9px;
            display: inline-block;
            position: relative;
            overflow: hidden;
        }
        input[type="checkbox"][disabled]:checked + label:after {
            width: 100%;
            height: 100%;
            content: "";
            background-color: #008FD5;
            left: 0px;
            position: absolute;
            top: 0px;
        }

        td {
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        td:hover {
            overflow: visible;
            white-space: normal;
        }
    </style>
</th:block>
<body>
<div layout:fragment="default_div">
    <div th:replace="fragments/manager-accountant::header"></div>
    <main role="main" th:with="weeklyFinalized=${weeklyProcessDto.finalized}">
        <div class="d-flex my-4 mx-4">
            <div class="d-grid me-auto gap-2 d-md-flex justify-content-md-start">
                <button id="add-cost-code" type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#costCodeModal"
                        th:disabled="${weeklyFinalized}">
                    Add a cost code
                </button>
                <button id="btn-apply-rule" type="button" class="btn btn-primary ms-md-2" th:disabled="${weeklyFinalized}">
                    Apply rule
                </button>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-warning me-md-2" href="timesheets.html" th:href="@{/timesheets}">Cancel</a>
                <button type="button" class="btn btn-success me-md-2" onclick="submitForm()"
                        th:disabled="${weeklyFinalized}">
                    Save
                </button>
            </div>
        </div>
        <div id="div-table" class="m-4">
            <div th:fragment="weekly_timesheet">
                <form id="form-weekly-process" action="/weekly-process" th:action="@{/weekly-process}" method="post"
                      style="padding: 0" th:object="${weeklyProcessDto}">
                    <input type="hidden" th:field="*{weekEndDate}">
                    <input type="hidden" th:field="*{type}">

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-labor-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-labor" type="button" role="tab" aria-controls="pills-labor"
                                    aria-selected="true">Labor
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-perdiem-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-perdiem" type="button" role="tab"
                                    aria-controls="pills-perdiem" aria-selected="false">Per Diem
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-mob-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-mob" type="button" role="tab"
                                    aria-controls="pills-mob" aria-selected="false">Mob/Demob
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-absentee-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-absentee" type="button" role="tab"
                                    aria-controls="pills-absentee" aria-selected="false">Absentee
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content table-responsive" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-labor" role="tabpanel"
                             aria-labelledby="pills-labor-tab">
                            <table class="table table-bordered" id="weekly-labor-table">
                                <col>
                                <col>
                                <col>
                                <colgroup span="4" th:each="day : ${weeklyProcessDto.days}"></colgroup>
                                <colgroup span="3"></colgroup>
                                <thead>
                                <tr class="text-center searchable">
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" rowspan="2" class="selectable">
                                        <div>
                                            EMPLOYEE NAME
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" rowspan="2" class="selectable">
                                        <div>
                                            EMPLOYEE ID
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" rowspan="2" class="selectable">
                                        <div>
                                            Team
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable', and wrap text with div -->
                                    <th class="selectable" scope="col" rowspan="2">
                                        <div>COST CODE</div>
                                    </th>
                                    <!--TM-233 rule-hideDt show/hide dt info -->
                                    <th th:colspan="${rule.hideDt} ? 3 : 4" scope="colgroup" colspan="4"
                                        th:each="day : ${weeklyProcessDto.days}">
                                        <div>
                                            <!-- TM-292 Add weekday on top of each day, for example -->
                                            <span th:text="${#temporals.format(day, 'MM/dd/yyyy')}">11/14/2020</span>&nbsp;&nbsp;<span th:text="${#temporals.dayOfWeekNameShort(day)}">day</span>
                                        </div>
                                        <div class="mt-2">
                                            <!-- TM-292 Remove the "Allocated" wording -->
                                             <span data-name="allocated-hour" th:attr="data-date=${day}">0</span>
                                        </div>
                                    </th>
                                    <th colspan="3" scope="colgroup">
                                        <div>
                                            <span>Total</span>
                                        </div>
                                        <div class="mt-2">
                                            <!-- TM-292 Remove the "Allocated" wording -->
                                            <span data-name="allocated-total-hour" th:attr="data-date=${day}">0</span>
                                        </div>
                                    </th>
                                </tr>
                                <tr class="text-center">
                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th:block th:each="day : ${weeklyProcessDto.days}">
                                        <!-- TM-292 Add total number for ST and OT -->
                                        <th scope="col">ST<br/><span th:attr="data-date-st=${day}"></span></th>
                                        <th scope="col">OT<br/><span th:attr="data-date-ot=${day}"></span></th>
                                        <!--TM-233 rule-hideDt show/hide dt info -->
                                        <th scope="col" th:unless="${rule.hideDt}">DT</th>
                                        <th scope="col">PD</th>
                                    </th:block>
                                    <!-- TM-292 Add total number for ST and OT -->
                                    <th scope="col">ST<br/><span th:attr="data-date-st=total"></span></th>
                                    <th scope="col">OT<br/><span th:attr="data-date-ot=total"></span></th>
                                    <!--TM-233 rule-hideDt show/hide dt info -->
                                    <th scope="col" th:unless="${rule.hideDt}">DT</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="empCostCodeDateDto, empStat: *{empCostCodeDateDtos}"
                                          th:with="rowSpan = ${empCostCodeDateDto.costCodes.size() == 0 ? 1 : empCostCodeDateDto.costCodes.size()}">
                                    <tr th:each="index : ${#numbers.sequence(0, rowSpan - 1)}"
                                        th:name="${empCostCodeDateDto.empId}">
                                        <td scope="row" th:if="${index == 0}"
                                            th:rowspan="${rowSpan}">
                                    <span th:text="${empCostCodeDateDto.fullName}" data-type="content">
                                        Employee 1
                                    </span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td scope="row" th:if="${index == 0}"
                                            th:rowspan="${rowSpan}">
                                            <input th:field="*{empCostCodeDateDtos[__${empStat.index}__].empId}"
                                                   data-type="employee"
                                                   th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-index=${empStat.index}"
                                                   type="hidden">
                                            <span th:text="${empCostCodeDateDto.empId}" data-type="content">
                                        1000001
                                    </span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td scope="row" th:if="${index == 0}"
                                            th:rowspan="${rowSpan}">
                                    <span th:text="${empCostCodeDateDto.team}" data-type="content">
                                        Team A
                                    </span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td th:if="${empCostCodeDateDto.costCodes.size() > 0}" th:attr="data-cost-code=${empCostCodeDateDto.costCodes[index]}">
                                            <th:block th:each="code,codeStat : ${#strings.arraySplit(empCostCodeDateDto.costCodes[index], ',')}">
                                                <!-- TM-314 Add data-type="content", and when index == 0, add class 'primary' -->
                                                <span class="ms-2 me-auto" style="white-space: nowrap" data-type="content"
                                                      th:classappend="${codeStat.index > 0 ? 'fw-bold' : 'primary'}" th:text="${code}"></span><br/>
                                            </th:block>
                                        </td>
                                        <td style="display: none;" th:unless="${empCostCodeDateDto.costCodes.size() > 0}"
                                            th:style="|display: table-cell; vertical-align; inherit;|">
                                        </td>
                                        <th:block th:each="day : ${weeklyProcessDto.days}"
                                                  th:with="allocationTimeDto=${empCostCodeDateDto.getAllocationTime(day)}, costCode=${empCostCodeDateDto.costCodes.size() > 0 ? empCostCodeDateDto.costCodes[index] : ''}">
                                            <th:block th:if="${allocationTimeDto != null}"
                                                      th:with="costCodePercDto=${allocationTimeDto.getCostCodePerc(costCode)}">
                                                <th:block th:if="${costCodePercDto != null}">
                                                    <td>
                                                        <input type="hidden"
                                                               th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.empCostCodePercMap['__${costCode}__']?.id}">
                                                        <input type="hidden"
                                                               th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.empCostCodePercMap['__${costCode}__']?.costCodeFull}">
                                                        <input class="form-control" type="number"
                                                               data-type="st"
                                                               step="any"
                                                               th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-date=${day}"
                                                               th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.empCostCodePercMap['__${costCode}__']?.stHour}">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="number"
                                                               data-type="ot"
                                                               step="any"
                                                               th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-date=${day}"
                                                               th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.empCostCodePercMap['__${costCode}__']?.otHour}">
                                                    </td>
                                                    <!--TM-233 rule-hideDt show/hide dt info -->
                                                    <td th:unless="${rule.hideDt}">
                                                        <input class="form-control" type="number"
                                                               data-type="dt"
                                                               step="any"
                                                               th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-date=${day}"
                                                               th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.empCostCodePercMap['__${costCode}__']?.dtHour}">
                                                    </td>
                                                </th:block>
                                                <th:block th:unless="${costCodePercDto != null}">
                                                    <!--TM-233 rule-hideDt show/hide dt info -->
                                                    <td th:colspan="${rule.hideDt} ? 2 : 3" class="table-secondary" style="display: none"
                                                        th:style="|display: table-cell; vertical-align; inherit;|"></td>
                                                </th:block>
                                            </th:block>
                                            <th:block th:unless="${allocationTimeDto != null}">
                                                <!--TM-233 rule-hideDt show/hide dt info -->
                                                <td th:colspan="${rule.hideDt} ? 2 : 3" class="table-secondary" style="display: none"
                                                    th:style="|display: table-cell; vertical-align; inherit;|"></td>
                                            </th:block>
                                            <td th:if="${index == 0}"
                                                th:class="${allocationTimeDto != null ? '' : 'table-secondary'}"
                                                th:rowspan="${rowSpan}">
                                                <th:block th:if="${allocationTimeDto != null}">
                                                    <input type="hidden"
                                                           th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.id}">
                                                    <input type="hidden"
                                                           th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.dateOfService}">
                                                    <div class="labor-pd-div">
                                                        <input type="checkbox" value="false" disabled
                                                               th:id="|labor-pd-${empCostCodeDateDto.empId}-${day}|"
                                                               data-type="pd"
                                                               th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-date=${day}"
                                                               th:checked="${empCostCodeDateDto.empAllocationTimeMap['__${day}__']?.hasPerDiem}">
                                                        <label style="display: inline" th:for="|labor-pd-${empCostCodeDateDto.empId}-${day}|"></label>
                                                    </div>
                                                </th:block>
                                            </td>
                                            <td th:unless="${index == 0}" style="display: none"></td>
                                        </th:block>
                                        <td th:if="${index == 0}"
                                            th:rowspan="${rowSpan}"
                                            class="table-secondary">
                                            <input class="form-control total" type="number"
                                                   data-type="total-st"
                                                   step="any"
                                                   th:attr="data-emp-id=${empCostCodeDateDto.empId}"
                                                   th:value="${empCostCodeDateDto.getTotalSt()}"
                                                   readonly>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td th:if="${index == 0}"
                                            th:rowspan="${rowSpan}"
                                            class="table-secondary">
                                            <input class="form-control total" type="number"
                                                   data-type="total-ot"
                                                   step="any"
                                                   th:attr="data-emp-id=${empCostCodeDateDto.empId}"
                                                   th:value="${empCostCodeDateDto.getTotalOt()}"
                                                   readonly>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <!--TM-233 rule-hideDt show/hide dt info -->
                                        <td th:if="${index == 0}"
                                            th:rowspan="${rowSpan}"
                                            th:unless="${rule.hideDt}"
                                            class="table-secondary">
                                            <input class="form-control total" type="number"
                                                   data-type="total-dt"
                                                   step="any"
                                                   th:attr="data-emp-id=${empCostCodeDateDto.empId}"
                                                   th:value="${empCostCodeDateDto.getTotalDt()}"
                                                   readonly>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-perdiem" role="tabpanel"
                             aria-labelledby="pills-perdiem-tab">
                            <table class="table table-bordered" id="weekly-per-diem-table">
                                <col>
                                <col>
                                <col>
                                <col th:each="day : ${weeklyProcessDto.days}"></col>
                                <col></col>
                                <thead>
                                <tr class="text-center">
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" class="selectable">
                                        <div>
                                            EMPLOYEE NAME
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" class="selectable">
                                        <div>
                                            EMPLOYEE ID
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" class="selectable">
                                        <div>
                                            Team
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable', and wrap text with div -->
                                    <th class="selectable">
                                        <div>COST CODE</div>
                                    </th>
                                    <th th:each="day : ${weeklyProcessDto.days}"
                                        th:attr="data-date=${day}, data-tag-for=1">
                                        <span th:text="${#temporals.format(day, 'MM/dd/yyyy')}">11/14/2020</span>
                                        <button type="button" class="btn btn-info btn-sm add-tag" style="margin-left: 5px; background-color: transparent; border: none;"
                                                data-bs-toggle="modal"
                                                data-bs-target="#addTagModal" th:disabled="${finalized}">
                                            <i class="fas fa-tags"></i></button>
                                    </th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="empCostCodeDateDto, empStat: *{empCostCodeDateDtos}"
                                          th:with="rowSpan = ${empCostCodeDateDto.perDiemCostCodes.size() == 0 ? 1 : empCostCodeDateDto.perDiemCostCodes.size()}">
                                    <tr th:each="index : ${#numbers.sequence(0, rowSpan - 1)}"
                                        th:name="${empCostCodeDateDto.empId}">
                                        <td scope="row" th:if="${index == 0}"
                                            th:rowspan="${rowSpan}"
                                            th:classappend="${empCostCodeDateDto.hasPerDiem ? '' : 'table-secondary'}">
                                            <span th:text="${empCostCodeDateDto.fullName}" data-type="content">Employee 1</span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td scope="row" th:if="${index == 0}"
                                            th:rowspan="${rowSpan}"
                                            th:classappend="${empCostCodeDateDto.hasPerDiem ? '' : 'table-secondary'}">
                                            <span th:text="${empCostCodeDateDto.empId}"
                                                  data-type="content">1000001
                                            </span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td scope="row" th:if="${index == 0}"
                                            th:rowspan="${rowSpan}">
                                            <span th:text="${empCostCodeDateDto.team}" data-type="content">Team A</span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td th:if="${empCostCodeDateDto.perDiemCostCodes.size() > 0}" th:attr="data-per-diem-cost-code=${empCostCodeDateDto.perDiemCostCodes[index]}">
                                            <th:block th:each="code,codeStat : ${#strings.arraySplit(empCostCodeDateDto.perDiemCostCodes[index], ',')}">
                                                <!-- TM-314 Add data-type="content", and when index == 0, add class 'primary' -->
                                                <span class="ms-2 me-auto" style="white-space: nowrap" data-type="content"
                                                      th:classappend="${codeStat.index > 0 ? 'fw-bold' : 'primary'}" th:text="${code}"></span><br/>
                                            </th:block>
                                        </td>
                                        <td style="display: none" th:unless="${empCostCodeDateDto.perDiemCostCodes.size() > 0}"
                                            th:style="|display: table-cell; vertical-align; inherit;|">
                                        </td>
                                        <th:block th:each="day : ${weeklyProcessDto.days}"
                                                  th:with="allocationTimeDto=${empCostCodeDateDto.getAllocationTime(day)}, perDiemCostCode=${empCostCodeDateDto.perDiemCostCodes.size() > 0 ? empCostCodeDateDto.perDiemCostCodes[index] : ''}">
                                            <td th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-date=${day}, data-tag-for=1">
                                                <th:block th:if="${allocationTimeDto != null && not #strings.isEmpty(perDiemCostCode)}">
                                                    <div style="display: inline">
                                                        <label>
                                                            <input type="checkbox" th:value="${perDiemCostCode}" value=""
                                                                   data-type="pd"
                                                                   th:with="perDiemEntity = ${empCostCodeDateDto.empAllocationTimeMap['__${day}__']?.perDiemEntity}"
                                                                   th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-team=${empCostCodeDateDto.team}, data-date=${day},
                                                                    data-per-diem-mode=${perDiemEntity?.perDiemMode}, data-per-diem-threshold=${perDiemEntity?.dailyThreshold},
                                                                    data-per-diem-weekly-threshold=${perDiemEntity?.weeklyThreshold},
                                                                    data-per-diem-cost-code=${perDiemEntity?.costCode}"
                                                                   th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.perDiemCostCodes}"
                                                                   onchange="weeklyProcess.selectPerDiem(this)">
                                                        </label>
                                                    </div>
                                                    <input class="form-control" style="display: inline; width: 80%;"
                                                           th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-team=${empCostCodeDateDto.team}"
                                                           data-name="perDiemAmount" type="number" step="any" value="200"
                                                           th:id="|${index}-${empCostCodeDateDto.empId}-${day}|"
                                                           th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.perDiem}">

                                                    <div class="mt-2 tag-group" th:classappend="${empCostCodeDateDto.empAllocationTimeMap['__${day}__']?.perDiemCostCodes.contains(perDiemCostCode) ? '' : 'hidden'}">
                                                        <ol data-name="ol-tag" class="list-group list-group-numbered">
                                                            <li th:each="costCodeTagAssociation, tagStat : ${empCostCodeDateDto.empAllocationTimeMap['__${day}__']?.perDiemCostCodeTagAssociations}"
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-1" style="display: inline-block; width: 100%">
                                                                    <span data-name="tag" class="fw-bold" th:text="${costCodeTagAssociation.tagType}">IWP</span> :
                                                                    <span data-name="code" style="font-weight: 100" th:text="${costCodeTagAssociation.codeName}">S01-1000X-01</span>
                                                                    <span data-name="type-desc" style="display: none" th:text="${costCodeTagAssociation.typeDescription}">Type Desc</span>
                                                                    <span data-name="code-desc" style="display: none" th:text="${costCodeTagAssociation.codeDescription}">Code Desc</span>
                                                                    <th:block th:if="${index == 0}">
                                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__'].perDiemCostCodeTagAssociations[__${tagStat.index}__].tagType}"/>
                                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__'].perDiemCostCodeTagAssociations[__${tagStat.index}__].codeName}"/>
                                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__'].perDiemCostCodeTagAssociations[__${tagStat.index}__].typeDescription}">
                                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__'].perDiemCostCodeTagAssociations[__${tagStat.index}__].codeDescription}">
                                                                    </th:block>
                                                                </div>
                                                                <span style="color: red" data-name="remove-tag">
                                                                    <i class="fas fa-minus-circle"></i>
                                                                </span>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </th:block>
                                            </td>
                                        </th:block>
                                        <td class="table-secondary"
                                            th:rowspan="${rowSpan}" th:if="${index == 0}">
                                            <input class="form-control total" type="number"
                                                   data-type="total-pd"
                                                   step="any"
                                                   th:attr="data-emp-id=${empCostCodeDateDto.empId},
                                                    data-team=${empCostCodeDateDto.team},
                                                    data-per-diem-mode=${empCostCodeDateDto.perDiemEntity?.perDiemMode},
                                                     data-per-diem-weekly-threshold=${empCostCodeDateDto.perDiemEntity?.weeklyThreshold}"
                                                   th:value="0" readonly>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-mob" role="tabpanel"
                             aria-labelledby="pills-mob-tab">
                            <table class="table table-bordered" id="weekly-mob-table">
                                <col>
                                <col>
                                <col>
                                <col th:each="day : ${weeklyProcessDto.days}"></col>
                                <col></col>
                                <thead>
                                <tr class="text-center">
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" class="selectable">
                                        <div>
                                            EMPLOYEE NAME
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" class="selectable">
                                        <div>
                                            EMPLOYEE ID
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable' -->
                                    <th scope="col" class="selectable">
                                        <div>
                                            Team
                                        </div>
                                    </th>
                                    <!-- TM-314 replace class 'searchable' by 'selectable', and wrap text with div -->
                                    <th class="selectable">
                                        <div>COST CODE</div>
                                    </th>
                                    <th th:each="day : ${weeklyProcessDto.days}"
                                        th:attr="data-date=${day}, data-tag-for=2">
                                        <span th:text="${#temporals.format(day, 'MM/dd/yyyy')}">11/14/2020</span>
                                        <button type="button" class="btn btn-info btn-sm add-tag" style="margin-left: 5px; background-color: transparent; border: none;"
                                                data-bs-toggle="modal"
                                                data-bs-target="#addTagModal" th:disabled="${finalized}">
                                            <i class="fas fa-tags"></i></button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="empCostCodeDateDto, empStat: *{empCostCodeDateDtos}"
                                          th:with="rowSpan = ${empCostCodeDateDto.mobCostCodes.size() == 0 ? 1 : empCostCodeDateDto.mobCostCodes.size()}">
                                    <tr th:each="index : ${#numbers.sequence(0, rowSpan - 1)}"
                                        th:name="${empCostCodeDateDto.empId}">
                                        <td scope="row" th:if="${index == 0}" th:rowspan="${rowSpan}">
                                            <span th:text="${empCostCodeDateDto.fullName}" data-type="content">Employee 1</span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td scope="row" th:if="${index == 0}" th:rowspan="${rowSpan}">
                                            <span th:text="${empCostCodeDateDto.empId}"
                                                  data-type="content">1000001
                                            </span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td scope="row" th:if="${index == 0}" th:rowspan="${rowSpan}">
                                            <span th:text="${empCostCodeDateDto.team}" data-type="content">Team A</span>
                                        </td>
                                        <td th:unless="${index == 0}" style="display: none"></td>
                                        <td th:if="${empCostCodeDateDto.mobCostCodes.size() > 0}" th:attr="data-mob-cost-code=${empCostCodeDateDto.mobCostCodes[index]}">
                                            <th:block th:each="code,codeStat : ${#strings.arraySplit(empCostCodeDateDto.mobCostCodes[index], ',')}">
                                                <!-- TM-314 Add data-type="content", and when index == 0, add class 'primary' -->
                                                <span class="ms-2 me-auto" style="white-space: nowrap" data-type="content"
                                                      th:classappend="${codeStat.index > 0 ? 'fw-bold' : 'primary'}" th:text="${code}"></span><br/>
                                            </th:block>
                                        </td>
                                        <td style="display: none" th:unless="${empCostCodeDateDto.mobCostCodes.size() > 0}"
                                            th:style="|display: table-cell; vertical-align; inherit;|">
                                        </td>
                                        <th:block th:each="day : ${weeklyProcessDto.days}"
                                                  th:with="allocationTimeDto=${empCostCodeDateDto.getAllocationTime(day)}, mobCostCode=${empCostCodeDateDto.mobCostCodes.size() > 0 ? empCostCodeDateDto.mobCostCodes[index] : ''}">
                                            <td th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-date=${day}, data-tag-for=2" style="overflow: visible; white-space: normal">
                                                <th:block th:if="${allocationTimeDto != null && not #strings.isEmpty(mobCostCode)}">
                                                    <th:block th:if="${index == 0}">
                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.mobMileageRate}"/>
                                                    </th:block>

                                                    <div style="display: inline">
                                                        <label>
                                                            <input type="checkbox" th:value="${mobCostCode}" value=""
                                                                   data-type="mob"
                                                                   th:attr="data-emp-id=${empCostCodeDateDto.empId}, data-date=${day}"
                                                                   th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.mobCostCodes}"
                                                                   onchange="weeklyProcess.selectMob(this)">
                                                        </label>
                                                    </div>
                                                    <input class="form-control" style="display: inline; width: 80%;"
                                                           th:attr="data-emp-id=${empCostCodeDateDto.empId}"
                                                           data-name="mobMileage" type="number" step="any" value="20"
                                                           th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.mobMileage}">
                                                    <div class="input-group mt-2 ms-2">
                                                        <span th:id="|mob-${empCostCodeDateDto.empId}-${day}|" class="input-group-text">$</span>
                                                        <input readonly
                                                               aria-label="Mob Amount"
                                                               th:aria-describedby="|mob-${empCostCodeDateDto.empId}-${day}|"
                                                               th:attr="data-mob-mileage-rate=${allocationTimeDto.mobMileageRate}"
                                                               class="form-control" data-name="mobAmount"
                                                               th:value="${allocationTimeDto.mobAmount}"
                                                               th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__']?.mobAmount}">
                                                    </div>

                                                    <div class="mt-2 tag-group" th:classappend="${empCostCodeDateDto.empAllocationTimeMap['__${day}__']?.mobCostCodes.contains(mobCostCode) ? '' : 'hidden'}">
                                                        <ol data-name="ol-tag" class="list-group list-group-numbered">
                                                            <li th:each="costCodeTagAssociation, tagStat : ${empCostCodeDateDto.empAllocationTimeMap['__${day}__']?.mobCostCodeTagAssociations}"
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-1" style="display: inline-block; width: 100%">
                                                                    <span data-name="tag" class="fw-bold" th:text="${costCodeTagAssociation.tagType}">IWP</span> :
                                                                    <span data-name="code" style="font-weight: 100" th:text="${costCodeTagAssociation.codeName}">S01-1000X-01</span>
                                                                    <span data-name="type-desc" style="display: none" th:text="${costCodeTagAssociation.typeDescription}">Type Desc</span>
                                                                    <span data-name="code-desc" style="display: none" th:text="${costCodeTagAssociation.codeDescription}">Code Desc</span>
                                                                    <th:block th:if="${index == 0}">
                                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__'].mobCostCodeTagAssociations[__${tagStat.index}__].tagType}"/>
                                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__'].mobCostCodeTagAssociations[__${tagStat.index}__].codeName}"/>
                                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__'].mobCostCodeTagAssociations[__${tagStat.index}__].typeDescription}">
                                                                        <input type="hidden" th:field="*{empCostCodeDateDtos[__${empStat.index}__].empAllocationTimeMap['__${day}__'].mobCostCodeTagAssociations[__${tagStat.index}__].codeDescription}">
                                                                    </th:block>
                                                                </div>
                                                                <span style="color: red" data-name="remove-tag">
                                                                <i class="fas fa-minus-circle"></i>
                                                            </span>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </th:block>
                                            </td>
                                        </th:block>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="pills-absentee" role="tabpanel"
                             aria-labelledby="pills-absentee-tab">
                            <table class="table table-bordered" id="weekly-absentee-table">
                                <col>
                                <col>
                                <col>
                                <thead>
                                <tr class="text-center">
                                    <th scope="col" class="searchable">
                                        <div>
                                            EMPLOYEE NAME
                                        </div>
                                    </th>
                                    <th scope="col" class="searchable">
                                        <div>
                                            EMPLOYEE ID
                                        </div>
                                    </th>
                                    <th scope="col" class="searchable">
                                        <div>
                                            Team
                                        </div>
                                    </th>
                                    <th th:each="day : ${weeklyProcessDto.days}"
                                        th:text="${#temporals.format(day, 'MM/dd/yyyy')}">
                                        11/14/2020
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="empCostCodeDateDto, empStat: *{empCostCodeDateDtos}">
                                    <tr th:name="${empCostCodeDateDto.empId}" th:if="${empCostCodeDateDto.hasAbsent}">
                                        <td>
                                            <span th:text="${empCostCodeDateDto.fullName}" data-type="content">Employee 1</span>
                                        </td>
                                        <td>
                                            <span th:text="${empCostCodeDateDto.empId}"
                                                  data-type="content">1000001
                                            </span>
                                        </td>
                                        <td>
                                            <span th:text="${empCostCodeDateDto.team}" data-type="content">Team A</span>
                                        </td>
                                        <th:block th:each="day : ${weeklyProcessDto.days}"
                                                  th:with="allocationTimeDto=${empCostCodeDateDto.getAllocationTime(day)}">
                                            <td th:unless="${allocationTimeDto != null}" class="table-danger">
                                            </td>
                                            <td th:if="${allocationTimeDto != null && allocationTimeDto.absent}" class="table-danger">
                                            </td>
                                            <td th:if="${allocationTimeDto != null && not allocationTimeDto.absent}">
                                                <span th:text="${allocationTimeDto.getTotalHour()}">10</span>
                                            </td>
                                        </th:block>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </form>


                <script type="text/javascript" th:inline="javascript">
                    /*<![CDATA[*/

                    $(function(){
                        if (typeof rule) {
                            rule = /*[[${rule}]]*/ '';
                        } else {
                            let rule = /*[[${rule}]]*/ '';
                        }
                        if (typeof weeklyProcessDto) {
                            weeklyProcessDto = /*[[${weeklyProcessDto}]]*/ '';
                        } else {
                            let weeklyProcessDto = /*[[${weeklyProcessDto}]]*/ '';
                        }
                        if (typeof days) {
                            days = /*[[${weeklyProcessDto.days}]]*/ '';
                        } else {
                            let days = /*[[${weeklyProcessDto.days}]]*/ '';
                        }
                        if (typeof weekEndDate) {
                            weekEndDate = /*[[${weekEndDate}]]*/ '';
                        } else {
                            let weekEndDate = /*[[${weekEndDate}]]*/ '';
                        }
                    });

                    /*]]>*/
                </script>
            </div>


        </div>
    </main>
    <div id="costCodeModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add a new cost code</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label>Please select the type of the cost code</label>
                        <select id="sl-cost-code-type" class="form-select" title="Select a type">
                            <option value="0">Labor</option>
                            <option value="1">Per Diem</option>
                            <option value="2">MOB/DEMOB</option>
                        </select>
                    </div>
                    <div id="div-date-of-service" class="my-3">
                        <label for="datepicker-dos">Date Of Service: (Must be existed already)</label>
                        <input id="datepicker-dos" type="text" class="form-control"
                               placeholder="Please select a date"/>
                    </div>
                    <div id="div-team" class="mr-3">
                        <label>Please select a team (Optional if emp id selected)</label>
                        <select id="select-team" class="form-select" title="Select a team">
                            <option selected disabled hidden>Select</option>
                            <option th:each="team : ${teams}"
                                    th:value="${team}"
                                    th:text="${team}">
                                Team A
                            </option>
                        </select>
                    </div>
                    <div id="div-team" class="mr-3">
                        <!-- TM-314 using multiselect style for empId -->
                        <label>Please select a employee id (Optional if team selected)</label><br>
                        <select id="select-emp-id" class="form-select" title="Select a emp id" multiple>
                            <option th:each="empIdNameDto : ${empIdNameDtos}"
                                    th:value="${empIdNameDto.getEmpId()}"
                                    th:text="|${empIdNameDto.getName()} ${empIdNameDto.getEmpId()}|">
                                Employee A
                            </option>
                        </select>
                    </div>
                    <div id="div-cost-code-select" class="mt-2">
                        <label>Please select a cost code</label>
                        <select name="costCode" class="form-select w-100" title="Select a cost code">
                            <option value="" selected disabled hidden>Select</option>
                            <option th:each="costCodeLog : ${validCostCodeLogSet}"
                                    th:value="${costCodeLog.costCodeFull}"
                                    th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                1234567891 (Description)
                            </option>
                            <option value="" disabled>──────────</option>
                            <option data-type="other" class="custom-text-danger"
                                    th:each="costCodeLog : ${otherCostCodeLogSet}"
                                    th:value="${costCodeLog.costCodeFull}"
                                    th:text="|${costCodeLog.costCodeFull} ${costCodeLog.description != null ? '(' + costCodeLog.description + ')' : ''}|">
                                1234567892 (Description)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addTagModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Tag</h4>
                </div>
                <div class="modal-body">
                    <div id="div-team" class="mr-3">
                        <label>Please select a employee id</label>
                        <select id="tag-emp-id" class="form-select" title="Select a emp id">
                            <option selected disabled hidden>Select</option>
                            <option th:each="empIdNameDto : ${empIdNameDtos}"
                                    th:value="${empIdNameDto.getEmpId()}"
                                    th:text="|${empIdNameDto.getName()} ${empIdNameDto.getEmpId()}|">
                                Employee A
                            </option>
                        </select>
                    </div>
                    <label>Please select a tag</label>
                    <select name="select-tag" class="form-select" title="Select a tag">
                        <option selected disabled hidden>Select</option>
                        <option th:each="costCodeTagType : ${costCodeTagTypes}" th:value="${costCodeTagType.id}" value="1"
                                th:attr="data-desc=${costCodeTagType.description}"
                                th:text="${costCodeTagType.tagType}">IWP</option>
                    </select>
                    <label>Please select a code: (must select the type first)</label>
                    <select name="select-code" class="form-select" title="Select a code">
                        <option selected disabled hidden>Select</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="btn-add-tag-ok" type="button" class="btn btn-success" data-bs-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="default_script">

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            weeklyProcess.init();
        });

        function submitForm() {
            $("#form-weekly-process").submit();
        }

    </script>
</th:block>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
